.find-an-agent{
  .authorised-agent{
    padding-bottom: 27px;
    @media(max-width: 1024px){
      padding-bottom: 10px;
    }
    @media (max-width: 767px) {
      line-height: 30px;
      padding: 15px 0 10px;
    }
  }
  form{
    @media (max-width: 992px) {
        background: #104065;
        padding: 25px;
    }
    @media(max-width: 768px){
      max-width: 100%;
      margin: 0 auto;
      padding: 15px 25px;
    }
    @media(max-width: 767px){
      padding: 10px 25px;
    }
  }
  .find-agent-form{
      margin: 0 auto;
      width: 640px;
      display: flex;
      background: #FFF;
      @media (max-width: 992px) {
          flex-direction: column;
          background: none;
          margin: 0;
          width: 100%;
          max-width: 500px;
          margin: 0 auto;
      }
      .form-control{
          border: none;
          border-radius: 0;
          box-shadow: 0 0 0 #ffff inset;
          height: 38px !important;
          font-size: 15px;
          font-weight: 500;
          color: #343434;
          -webkit-appearance: none;
          background-image: url('../../../../assets/images/bottom-arrow.svg');
          background-repeat: no-repeat;
          background-position: 97%;
          background-size: 12px auto;
          &[readonly]{
            pointer-events: none;
          }
          &:first-child{
              border-right: 2px solid rgba(52, 52, 52, 0.21);
          }
          @media (max-width: 992px) {
            margin-bottom: 10px;
          }
          @media(max-width: 767px){
            height: 32px !important;
            font-size: 14px;
          }
      }
      .agent-val{
        padding-top: 8px;
        text-align: left;
      }
      .go-btn{
        flex: 0 0 55px;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        @media (max-width: 992px) {
          flex: 0 0 40px;
        }
        @media(max-width: 767px){
          flex: 0 0 35px;
        }
      }
  }

}

