.promotions-nav {
    display: block;
    width: 100%;
    padding-bottom: 13px;
    @media(max-width: 991px) {
        padding-bottom: 20px;
    }
    @media(max-width: 767px){
        padding-bottom: 10px;
    }
    .nav-tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 5px solid rgba(52, 52, 52, 0.1);
        @media(max-width: 991px) {
            // justify-content: normal;
            border-bottom: none;
            justify-content: flex-start;
            // overflow-x: auto;
            // flex-wrap: nowrap;
        }
        @media(max-width: 768px){
            flex-wrap: wrap;
        }
        &>li {
            position: relative;
            // @media(max-width: 991px) {
            //     flex: 0 0 auto;
            // }
            @media(max-width: 991px){
                flex: 0 0 calc(33.33% - 10px);
                width: calc(33.33% - 10px);
                text-align: center;
                margin: 0 5px 10px;
            }
            @media(max-width: 767px){
                flex: 0 0 auto;
                width: auto;
                text-align: center;
                margin: 0 5px 10px;
            }
        }
        .nav-item {
            color: #626262;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            line-height: 19px;
            font-weight: normal;
            border: none;
            position: relative;
            padding: 9px 30px;
            transition: 0.2s color;
            -webkit-transition: 0.2s color;
            -moz-transition: 0.2s color;
            -o-transition: 0.2s color;
            cursor: pointer;
            @media(max-width: 1200px){
                padding: 9px 25px;
            }
            @media(max-width: 1024px){
                padding: 9px 20px;
            }
            // @media(max-width: 991px) {
            //     border-bottom: 5px solid rgba(52, 52, 52, 0.1);
            //     padding: 0 24px 7px;
            // }
            @media(max-width: 991px){
                text-align: center;
                color: #626262;
                background-color: #F8F8F8;
                padding: 10px;
                border-radius: 0px;
                border: none;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
            }
            @media (max-width: 767px) {
                font-size: 12px;    
                padding: 10px 12px;
            }
            &::before {
                left: 0;
                bottom: -4px;
                border-bottom: 5px solid #0098ff;
                width: 0px;
                position: absolute;
                content: "";
                transition: 0.5s width;
                -webkit-transition: 0.5s width;
                -moz-transition: 0.5s width;
                -o-transition: 0.5s width;
                @media(max-width: 991px){
                    content: none;
                    border-bottom: none;
                }
            }
            &:hover, &.active {
                font-family: 'Montserrat', sans-serif;
                @media(max-width: 991px) {
                    background-color: #0098FF;
                    color: #ffffff;
                }
                &::before {
                    width: 100%;
                }
            }
            &.active{
                font-weight: 600;
            }
        }
    }
}