.sortby {
    border-bottom: 1px solid rgba(126,126,126,0.1);
    padding: 0 0 6px;
    display: flex;
    justify-content: end;
    position: relative;
    top: -12px;
    .sortby-filter{
        margin-bottom: 4px;
        width: 200px;
        .filter-topbar{
            box-shadow: none;
            padding: 6px 10px;
        }
    }
    .sortby-view{
        margin: 0 0 0 22px;
        padding: 0;
        list-style: none;
        display: flex;
        li{
            padding: 0 8px;
            list-style: none;
            &:last-child{
                padding-right: 0;
            }
            img{
                opacity: 0.5;
            }
            &.active{
                img{
                    opacity: 1;
                }
            }
        }
    }
}