.event-detail-banner {
    display: grid;
    grid-template-columns: 65.3% 34.7%;
    @media(max-width: 980px){
        grid-template-columns: repeat(1, 1fr);
    }
    // Carousel section
    .banner-carousel{
        position: relative;
        height: 100%;
        .slick-slider{
            display: flex;
            flex-wrap: nowrap;
            height: calc(100% - 50px);
            .slick-list {
                padding: 0 !important;
                width: 100%;
                height: 100% !important;
                .videoimg{
                    display: flex;
                    height: 100%;
                    div{
                        display: flex;
                        height: 100% !important;
                        width: 100% !important;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &.active{
                    display: block;
                }
                div{
                    display: flex;
                    height: 100%;
                    width: 100%;
                }
                img{                
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        .carousel-thumbnails{
            position: relative;
            height: 78px;
            .slick-slider{
                display: flex;
                height: 100%;
                .slick-track{
                    display: flex;
                    grid-template-columns: repeat(7, auto);
                    width: 100% !important;
                    height: 100%;
                    padding: 0;
                    justify-content: center;
                    .slick-slide{
                        padding: 3px 3px 0px;
                        height: 100%;
                        position: relative;
                        display: flex;
                        .videoimg{
                            display: flex;
                            height: 100%;
                            div{
                                display: flex;
                                height: 100% !important;
                                width: 100% !important;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        div{
                            display: flex;
                            height: 100%;
                        }
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                        &:after{
                            position: absolute;
                            content: "";
                            background-color: #0098FF;
                            height: 5px;
                            bottom: 0px;
                            left: 3px;
                            right: 0px;
                            top: auto;
                            width: calc(100% - 5px);
                            opacity: 0;
                        }
                        &.slick-current:after{
                            opacity: 1;
                        }
                    }
                }
                .slick-next{
                    right: 0;
                    background: rgba(3,13,21,0.72)  url(../../../assets/images/right-arrow-white.svg) 12px 30px no-repeat;
                }
                .slick-prev{
                    left: 0;
                    background: rgba(3,13,21,0.72)  url(../../../assets/images/left-arrow-white.svg) 10px 30px no-repeat;
                }
            }
        }
    }
}