.mega-enter {
  top: 120%;
  opacity: 0;
}

.mega-enter.mega-enter-active {
  top: 100%;
  opacity: 1;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.mega-leave {
  top: 100%;
  opacity: 1;
}

.mega-leave.mega-leave-active {
  top: 120%;
  opacity: 0;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
a{
  cursor: pointer;
}


@media (max-width: 991px){
.submenu-wrap{
  position: fixed;
    top: 0;
    width: 300px;
    left: 100%;
    z-index: 1;
    height: 100%;
    background: #fff;
    transition: .3s left;
    .submenu{
      display: block;
    }
}

.submenu-holder{
 &.active{
  .submenu{
    display: block;
  }
}
}

.submenu{
      position: relative;
    }
.submenu-wrap.active{
    left: 0;
}
.submenu-wrap h1{
  color: #000;
}
}
