
.section-title{
	line-height: 49px;
	color: #343434;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 22px;
	@media(max-width: 767px){
      font-size: 25px;
      line-height: 25px;
    }
}
.sub-text{
	font-size: 16px;
    line-height: 26px;
    padding-bottom: 12px;
    font-family: 'Rubik', sans-serif;
    color: #343434;
}

.event-banner {
    background-image: url(../../assets/images/System-licensing/system-banner.png);
    background-size: cover;
    background-position: center;
    height: 389px;
    .banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding-left: 74px;
        h2 {
            font-size: 40px;
            line-height: 49px;
            margin: 0;
            padding-bottom: 20px;
            color: #fff;
        }
        p {
            color: #fff;
		}
		a{
			color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			background-color: #0098FF;
			display: inline-block;
			max-width: 127px;
			text-align: center;
			padding: 10px;
		}
        @media(max-width: 767px){
        	padding-left: 30px;
        	h2{
        		font-size: 25px;
			    line-height: 25px;
			    padding-bottom: 10px;
        	}
        	p{
				line-height: 16px;
				font-size: 12px;
			}
			a{
				font-size: 15px;
				line-height: 15px;
				max-width: 106px;
				padding: 4px;
			}
			
        }
    }
    @media(max-width: 767px){
    	height: 280px;
    }
}

.system-licence {
	.why-sistic{
		padding: 60px 0 74px 0;
		.why-sistic-innerblock{
			position: relative;
			overflow: hidden;
			margin-right: 20px;
			max-height: 448px;
			width: auto;
			h2{
				padding-bottom: 22px;
			}
			img{
				width: 100%;
			}
			.why-sistic-content{
				position: absolute;
			    left: 0;
			    bottom: -17px;
			    height: 86px;
			    padding: 15px 20px 20px 20px;
			    background-color: rgba(255, 255, 255, 0.9);
				transition: all 0.4s ease-out;
				&:before{
					right: 47%;
					-ms-transform-origin: 100% 100%;
					-webkit-transform-origin: 100% 100%;
					transform-origin: 100% 100%;
					-ms-transform: skewX(45deg);
					-webkit-transform: skewX(45deg);
					transform: skewX(45deg);
				}
				&:after{
					left: 47%;
					-ms-transform-origin: 0 100%;
					-webkit-transform-origin: 0 100%;
					transform-origin: 0 100%;
					-ms-transform: skewX(-45deg);
					-webkit-transform: skewX(-45deg);
					transform: skewX(-45deg);
				}
				&:before, &:after{
					content: '';
					position: absolute;
					bottom: 100%;
					width: 54%;
					padding-bottom: inherit;
					background-color: inherit;
				}
				@media(max-width: 576px){
					&:before{
						right: 50%;
					}
					&:after{
						left: 50%;
					}
					&:before, &:after{
						width: 50%;
					}
				}
				h3{
					color: #343434;
				    font-size: 22px;
				    line-height: 26px;
				    height: 45px;
				    margin-bottom: 10px;
				    display: flex;
				    align-items: center;
				    @media(max-width: 767px){
			           	font-size: 15px;
			           	line-height: 16px;
			        }
				}
				.sub-text{
					@media(max-width: 767px){
			           	line-height: 16px;
    					font-size: 14px;
			        }
				}
				&:hover{
					bottom: 0;
					height: 80%;
					@media(max-width: 767px){
			           	height: 100%;
			        }
				}
				@media(max-width: 767px){
		           	bottom: -22px;
		        }
				@media(max-width: 576px){
		           	padding: 7px 7px 5px 7px;
		           	bottom: -30px;
		        }
			}
			 @media(max-width: 991px){
	           	margin: 7px 7px 7px 7px;
	        }
		}
		@media(max-width: 767px){
          padding: 40px 0 30px 0;
        }
	}
	.ticket-system{
		background-color: #F0F9FF;
		padding: 40px 0;
		@media(max-width: 767px){
			padding: 20px 0;
		  }
		.section-title{
			margin-top: 20px;
		}
		.stixxloud{
			ul{
				list-style-type: none;
				li{
                    p{
                        strong{
                            padding: 10px 0 10px 0;
                            font-family: 'Rubik', sans-serif;
                            font-size: 26px;
                            line-height: 31px;
                            color: #343434;
                            font-weight: bold;
                            @media(max-width: 767px){
                                font-size: 20px;
                                line-height: 15px;
                            }
                        }
                    }
                    p{
                        color: #626262;
                        line-height: 26px;
                        font-size: 16px;
                        @media(max-width: 767px){
                            line-height: 22px;
                            font-size: 13px;
                        }
                    }
					
				}
			}
		}
	}
	.methodology{
		padding: 75px 0 56px 0;
		@media(max-width: 576px){
			padding: 50px 0 56px 0;
		}
		.sub-text{
			width: 62%;
			padding-bottom: 45px;
    		margin: 0 auto;
    		@media(max-width: 767px){
			  width: 100%;
			  font-size: 12px;
			  padding-bottom: 30px;
			  line-height: 23px;
	        }
		}
		.methodology-inner-wrapper{
			display: flex;
			flex-wrap: wrap;
			.item{
				margin: 5px 10px;
				background-color: #FF8180;
				padding: 40px 20px 20px 20px;
				color: #fff;
				min-height: 242px;
				flex: 0 0 18%;
				max-width: 18%;
				position: relative;
				&:after{
					content: "";
				    position: absolute;
				    right: -9px;
				    top: 50%;
				    width: 0;
				    transform: translateY(-50%);
				    border-top: 10px solid transparent;
				    border-bottom: 10px solid transparent;
				    border-left: 10px solid #FF8180;
				}
				h4{
					font-family: 'Rubik', sans-serif;
					line-height: 28px;
					font-size: 24px;
					padding-bottom: 15px;
					@media(max-width: 576px){
			             line-height: 10px;
    					 font-size: 20px;
			        }
				}
				ul{
					list-style-type: none;
					li{
						line-height: 26px;
						font-size: 16px;
						font-family: 'Rubik', sans-serif;
						@media(max-width: 576px){
							line-height: 19px;
    						font-size: 13px;
					   }
					}
				}
				&.blue{
					background-color: #7598DA;
					&:after{
					    border-left: 10px solid #7598DA;
					}
				}
				&.deep-orange{
					background-color: #FF9A58;
					&:after{
					    border-left: 10px solid #FF9A58;
					}
				}
				&.purple{
					background-color: #B393FF;
					&:after{
					    border-left: 10px solid #B393FF;
					}
				}
				&.light-green{
					background-color: #86CE86;
					&:after{
					content: unset;
					}
				}
				@media(max-width: 1200px){
		          	flex: 1 0 25%;
	    			max-width: 25%;
		        }
		        @media(max-width: 991px){
		          	flex: 1 0 47%;
	    			max-width: 47%;
	    			min-height: unset;
		        }
		        @media(max-width: 767px){
		             margin: 5px;
		        }
		        @media(max-width: 576px){
		             flex: 1 0 46%;
    				 max-width: 47%;
					 padding: 30px 10px 10px 10px;
					 min-height: 184px;
		        }
			}
		}
	}
}
