

.agent-list{
    @media (max-width: 992px) {
        padding: 0;
        margin: 0 !important;
    }
    &.container-fluid{
        @media(max-width: 992px){
            overflow: visible;
        }
    }
    /********** Checkbox ******/
    .styled-checkbox {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it
        height: 16px;
        width: 16px;

        & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        margin: 0;
        color: rgba(98, 98, 98, 0.8);
        }

        // Box.
        & + label:before {
        content: '';
        margin-right: 6px;
        display: inline-block;
        vertical-align: text-top;
        width: 16px;
        height: 16px;
        background: url(../../../../assets/images/checkbox-blank.svg) no-repeat !important;
        margin-top: 0;
        }

        // Box hover
        &:hover + label:before {
            background: #0098FF;
        }

        // Box focus
        &:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.0);
        }

        // Box checked
        &:checked + label:before {
            background: url(../../../../assets/images/tick-checkbox.svg) no-repeat !important;
        }

        // Disabled state label.
        &:disabled + label {
        color: #626262;
        cursor: auto;
        }

        // Disabled box.
        &:disabled + label:before {
        box-shadow: none;
        background: #ddd;
        }

    }
    .search-agent{
        min-height: 600px;
        @media (max-width: 992px) {
            min-height: inherit;
        }
        .list-option{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                border: none;
                margin: 0;
                color: #343434;
                font-size: 16px;
                padding: 7px 0;
                label{
                    color: #343434
                }
            }
        }
        h2{
            margin: 0 0 5px;
            padding: 0;
            font-size: 24px;
            line-height: 29px;
            @media(max-width: 992px){
                margin: 0 0 10px;
                font-size: 22px;
                line-height: 25px;
            }
        }
        .agent-search {
            padding: 0 0 10px;
            display: block;
            position: relative;
            .search-btn {
                position: absolute;
                right: 16px;
                top: 2px;
                z-index: 1;
                background: transparent;
                border: none;
                padding: 0;
                img{
                    width: 18px;
                }
            }

            input {
                border: 1px solid #D8D8D8;
                height: 36px;
                padding: 7px 40px 7px 10px;
                border-radius: 0;
                &::-webkit-input-placeholder {
                    // color: rgba(52,52,52,0.25);
                    color: #CCCCCC;
                    font-size: 16px;
                    line-height: 19px;
                }
                &::-moz-placeholder {
                    color: #CCCCCC;
                    font-size: 16px;
                    line-height: 19px;
                }
                &:-ms-input-placeholder {
                    color: #CCCCCC;
                    font-size: 16px;
                    line-height: 19px;
                }
                &:-moz-placeholder {
                    color: #CCCCCC;
                    font-size: 16px;
                    line-height: 19px;
                }
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        .festive-hour{
            margin: 0;
            a{
                color: #FF8300;
                padding: 1% 0%;
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                line-height: 19px;
                font-weight: 600;
                img{
                    margin: 0 0 3px 5px;
                }
            }
          }

          ul {
            list-style-type: none;
            margin: 0;
            padding: 10px 0px 0px;
            @media(max-width: 992px){
                padding: 5px 0px 0px;
                max-height: 260px;
                overflow-y: auto;
            }          
            li{
                padding: 17px 5px;
                border-bottom: 1px #E6E6E6 solid;
                position: relative;
                @media (max-width: 992px) {
                    padding: 15px 5px;
                    padding-right: 25px;
                }
                @media(max-width: 768px){
                    padding: 10px;
                }
                &:last-child{
                    border: none;
                }
                .active-arrow{
                    display: none;
                }
                &.active{
                    background-color: rgba(0,152,255,0.07);
                    .active-arrow{
                        position: absolute;
                        right: 12px;
                        top: 18px;
                        width: 15px;
                        display: block;
                    }
                }
                &:hover{
                    h3{
                        color: #0077C8;
                        span{
                            color: #0077C8;
                        }
                    }
                }
                h3{
                    color: #343434;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 19px;
                    margin: 0 0 5px;
                    @media(max-width: 992px){
                        margin: 0 0 7px;
                    }
                    @media(max-width: 767px){
                        font-size: 14px;
                    }
                    strong{
                        margin-right: 10px;
                        cursor: pointer;
                    }
                    a{
                        color: #0077C8;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 19px;
                        @media(max-width: 767px){
                            font-size: 14px;
                        }
                    }
                    span{
                        display: inline-block;
                        font-size: inherit;
                        line-height: inherit;
                        &:last-child{
                            min-width: 101px;
                        }
                    }
                }
                p{
                    color: #343434;
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0;
                    padding: 0;
                    white-space: normal;
                    word-break: break-word;
                    @media(max-width: 992px){
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
          }
          .pop-up-container{
              position: relative;
              transition: 0.5s border-color;
              -webkit-transition: 0.5s border-color;
              -moz-transition: 0.5s border-color;
              -o-transition: 0.5s border-color;
              &:after{
                position: absolute;
                content: "";
                background-color: transparent;
                left: -13px;
                width: calc(100% + 13px);
                top: 0px;
                display: none;
                bottom: 0px;
                transition: 0.5s background-color;
                -webkit-transition: 0.5s background-color;
                -moz-transition: 0.5s background-color;
                -o-transition: 0.5s background-color;
                @media(max-width: 992px){
                    left: -10px;
                    width: calc(100% + 10px);
                }
                @media(max-width: 767px){
                    left: 0px;
                    width: 100%;
                }
            }
            &:hover, &.active-class{
                // cursor: pointer;
                background-color: rgba(0, 152, 255, 0.07);
                border-color: transparent;
                &:after{
                    background-color: rgba(0, 152, 255, 0.07);
                }
                &.active{
                    display:block;
                }
            }
            li{
                @media(max-width: 768px){
                    border: none;
                    padding: 0px;
                }
            }
        }
        .pop-up-list{
            display:none;
            border: 2px solid #0098FF;
            position: absolute;
            width:500px;
            left: 100%;
            top: -50px;
            z-index: 2;
            background: white;
            box-shadow: 0 2px 33px 0 rgba(0,0,0,0.23);
            cursor: default;                
            .popup-inner{
                max-height: 350px;
                overflow-y: auto;
                padding: 10px 20px;
                @media(max-width: 768px){
                    padding: 10px;
                }
            }
            @media(max-width: 992px){
                width: 450px;
            }
            @media (max-width: 960px) {
                position: relative;
                width:calc(100% + 30px);
                left: -15px;
                padding: 10px 10px;
                top: 20px;
                box-shadow: none;
            }
            &:after, &:before {
                right: 100%;
                top: 80px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                @media (max-width: 768px) {
                    right: 50%;
                    top: 0;
                }
            }

            &:after {
                border-color: rgba(136, 183, 213, 0);
                border-right-color: #FFF;
                border-width: 10px;
                margin-top: -10px;
                @media(max-width: 960px){
                    left: 50px;
                    margin-top: -102px;
                    margin-right: 1px;
                    border-width: 11px;
                    border-left-width: 13px;
                    border-right-width: 13px;
                    border-bottom-color: #FFF;
                    border-right-color: transparent;
                }
                @media(max-width: 768px){
                    margin-top: -22px;
                }
                @media(max-width: 767px){
                    left: 41px;
                    border-width: 11px;
                    border-left-width: 10px;
                    border-right-width: 10px;
                    margin-top: -20px;
                }
            }
            &:before {
                border-color: rgba(194, 225, 245, 0);
                border-right-color: #0098FF;
                border-width: 12px;
                margin-top: -12px;
                @media(max-width: 960px){
                    left: 49px;
                    border-left-width: 14px;
                    border-right-width: 14px;
                    margin-top: -106px;
                    border-bottom-color: #0098FF;
                    border-right-color: transparent;
                }
                @media(max-width: 768px){
                    margin-top: -26px;
                }
                @media(max-width: 767px){
                    left: 40px;
                    border-left-width: 11px;
                    border-right-width: 11px;
                    margin-top: -24px;
                }
            }
            .direction{
                position: absolute;
                right: 17px;
                top: 15px;
                @media(max-width: 1366px) and (min-width: 1024px){
                    right: 40px;
                    top: 10px;
                }
                @media(max-width: 1024px){
                    right: 40px;
                    top: 10px;
                }
                @media(max-width: 767px){
                    right: 40px;
                    top: 10px;
                }
                img{
                    width: 25px;
                    height: 25px;
                }
            }
            .popup-close-icon {
                position: absolute;
                right: 10px;
                top: 5px;
                background-color: #fff;
                width: 20px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                &:hover{
                    cursor: pointer;
                }
                img{
                    max-width: 13px;
                }
            }
            .agent-info{
                padding: 5px 0;
                display: flex;
                align-items: flex-start;
                .icon{
                    flex: 0 0 40px;
                    margin-top: 2px;
                    @media(max-width: 767px){
                        flex: 0 0 35px;
                        padding-right: 10px;
                        img{
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
                .details{
                    width: calc(100% - 50px);
                    h3{
                        margin-bottom: 4px;
                        font-weight: 500;
                        max-height: 100% !important;
                        min-height: auto !important;
                        color: #343434;
                        font-size: 15px;
                    }
                    p{
                        font-size: 14px;
                        @media(max-width: 992px){
                            font-size: 13px;
                        }
                    }
                    .currently-list{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        margin-left: -6px;
                        width: calc(100% + 12px);
                        flex-wrap: wrap;
                        @media (max-width: 992px) {
                            flex-wrap: wrap;
                        }
                        li{
                            flex: 0 0 25%;
                            width: 25%;
                            padding: 0 4px;
                            border: none;
                            // @media(min-width: 768px) and (max-width: 1024px){
                            //     flex: 0 0 auto;
                            //     width: auto;
                            //     padding: 0 6px;
                            // }
                            // @media(max-width: 768px){
                            //     flex: 0 0 25%;
                            //     width: 25%;
                            //     padding: 0 4px;
                            // }
                            // @media(max-width: 600px){
                            //     flex: 0 0 25%;
                            //     width: 25%;
                            // }
                            img{
                                height: 65px;
                                width: 96px;
                                @media(max-width: 768px){
                                    height: 65px;
                                    width: 100%;
                                    max-width: 96px;
                                }
                            }
                            .image-conatiner{
                                height: 65px !important;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                @media(max-width: 1024px){
                                    justify-content: flex-start;
                                }
                            }
                            p, a{
                                color: #343434;
                                font-size: 13px;
                                line-height: 15px;
                                margin: 5px 0 0 0;
                            }
                            a{
                                &:hover{
                                    h3{
                                        color:#0077C8;
                                    }
                                }
                            }
                            .food-beverages-link{
                                a{
                                  color: #343434;
                                  font-size: 13px;
                                  font-weight: 500;
                                  line-height: 19px;
                                  margin: 0 0 10px;
                                  &:hover{
                                    color: #0077C8;
                                  }
                                }
                            }
                        }
                    }

                }
                &.popup-contact-details{
                    a{
                        color: #343434;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 19px;
                        margin: 0 0 10px;
                        display: inline-block;
                        &:hover{
                          color: #0077C8;
                        }
                    }
                }
            }
            &.active{
                display: block;
                z-index: 4;
                @media(max-width: 960px){
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    padding: 10px 10px;
                    top: calc(100% + 13px);
                    box-shadow: none;
                }
                @media(max-width: 767px){
                    top: calc(100% + 10px);
                    padding: 0px;
                }
            }
        }
    }
}
.search-agent-header{
  background: #fff;
    z-index: 1;
    transition: 0.3s ease-in;
}
