.partners-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    li{
        box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.08);
        flex: 0 0 25%;
        width: 25%;
        list-style: none;
        height: 192px;
        max-width: 230px;
        margin: 0 4px 19px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            transform: scale(1.0);
            transition: 0.7s transform;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
    }
}
.work-with-partners{    
    text-align: center;
    padding: 98px 0px 78px;
    h2{
        padding-bottom: 56px;
        font-size: 32px;
        line-height: 39px;
    }
}