.modal-preview {
    position: fixed;
    top: 60%;
    width: 200px;
    height: 200px;
    transform: translateY(-50%);
    background-color: white;
    left: 30px;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  