.articlelist-wrapper.events-page-wrapper{
    .events-listing{
        padding: 0 20px;
        .events-section{
            margin-top: 0px;
            & > div{
                flex-basis: calc(33.33% - 28px);
                width: calc(33.33% - 28px);
                margin-right: 28px;
                @media(max-width: 1900px) and (min-width: 1500px){
                    flex-grow: 0;
                    flex-shrink: 0;
                    flex-basis: calc(25% - 28px);
                    width: calc(25% - 28px);
                }
            }
        }
        .event-block{
            box-shadow: none;
            border: 1px solid rgba(154, 154, 154, 0.2);
            &:after{
                position: absolute;
                content: "";
                left: -11px;
                top: 30px;
                background-color: #fff;
                width: calc(100% + 22px);
                height: calc(100% + 20px);
                z-index: -1;
                box-shadow: 0 2px 4px 0 rgba(154, 154, 154, 0.5);
                transition: 0.3s top, 0.3s opacity;
                opacity: 0;
            }
            .event-details{
                padding: 12px 15px 8px;
            }
            .category {
                color: #fff;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                background-color: #225275;
                display: inline-block;
                text-transform: capitalize;
                padding: 0px 5px;
                top: 15px;
                left: 14px;
                position: absolute;
                z-index: 1;
                height: auto;
                text-align: left;
            }
            .category-group{
                li{
                    display: inline-block;
                    list-style: none;
                    margin: 0px 4px 4px 0;
                    border: 1px solid rgba(2, 152, 255, 0.15);
                    padding: 1px 5px;
                    background-color: transparent;
                    transition: 0.3s background-color;
                    -webkit-transition: 0.3s background-color;
                    -moz-transition: 0.3s background-color;
                    -o-transition: 0.3s background-color;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 500;
                    color: #0098FF;
                }
            }
            h3{
                color: #343434;	
                font-family: 'Rubik', sans-serif;	
                font-size: 17px;	
                line-height: 20px;
                min-height: 40px;
            }
            .item-title{
                .sub-text, p{                
                    font-family: 'Rubik', sans-serif;	
                    font-size: 14px;	
                    line-height: 22px;
                    color: #626262;
                    min-height: 50px;
                }
            }
            .item-bottom {
                display: flex;
                flex-wrap: wrap;
                span{
                    color: #626262;	
                    font-family: 'Rubik', sans-serif;	
                    font-size: 14px;	
                    line-height: 22px;
                    flex: 0 0 auto;
                    width: auto;
                    &.item-date {
                        margin-left: auto;
                    }
                    &.item-author{
                        text-transform: capitalize;
                    }
                }
            }
            &:hover{
                border: 1px solid transparent;
                box-shadow: none;
                &:after{
                    top: -10px;
                    opacity: 1;
                }
            }
        }
    }
    .filters{
        padding-top: 5px;
        .filter-heading{
            margin-bottom: 28px;
            h3{
                width: auto;
            }
            span {
                float: right;
                color: #0098ff;
                text-decoration: none;
                font-size: 12px;
                line-height: 14px;
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                width: auto;
                margin-left: auto;
                cursor: pointer;
            }
        }
        .filter-grid{
            .filter-grid-heading{
                ul{
                    li{
                        span{
                            color: #949494;
                            font-family: 'Rubik', sans-serif;
                            font-size: 12px;
                            line-height: 14px;
                            cursor: pointer;
                        }
                        &.active{
                            span{
                                color: #0098ff;
                            }
                        }
                    }
                }
            }
        }
    }
}