.similar-picks{
    padding: 40px 0px 65px;
    position: relative;
    .section-top-wrapper h2{
        padding-bottom: 33px;
        @media(max-width: 767px){
            padding-bottom: 15px;
        }
    }
    h2 {
        font-size: 30px;
        line-height: 37px;
        font-weight: normal;
        color: #343434;
        font-family: 'Montserrat', sans-serif;
        margin: 0px;
        padding-bottom: 14px;
        font-weight: 600;
		@media (max-width: 767px) {
			font-size: 18px;
			line-height: 20px;
			margin: 0px;
			padding-bottom: 10px;
		}
	}
    .slick-slider{
        .slick-track{
            .slick-slide{
                padding: 0 5px;
            }
        }
        .slick-dots{
            top: -50px;
            height: 20px;
            @media (max-width: 767px) {
                top: -22px;
            }
        }
    } 
	.dots-group {
		span {
			background-color: rgba(0, 0, 0, 0.1);
			&.active {
				background-color: #0077C8;
			}
		}
	}
	.grid-container {
		.item {
			position: relative;
			z-index: 1;
			transition: 0.5s box-shadow;
			-webkit-transition: 0.5s box-shadow;
			-moz-transition: 0.5s box-shadow;
			-o-transition: 0.5s box-shadow;
			@media (max-width: 767px) {
                flex: 1 0 50%;
				max-width: 50%;
				margin-right: 10px;
            }
			.category {
                margin-bottom: 11px;
				@media (max-width: 767px) {
					margin-bottom: 8px;
				}
			}
			.currently-showing-img {
				img {
					width: 100%;
					height: auto;
					transition: 0.5s transform;
					-webkit-transition: 0.5s transform;
					-moz-transition: 0.5s transform;
					-o-transition: 0.5s transform;
					@media(max-width: 1366px) {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
					@media (max-width: 767px) {
						height: auto;
						width: auto;
						max-width: 100%;
					}
				}
			}
			&:hover {
				@media(min-width: 767px) {
					cursor: pointer;
					h3 {
                        color: #0098ff;
						transition: 1s all;
						-webkit-transition: 1s all;
						-moz-transition: 1s all;
						-o-transition: 1s all;
                    }
                    p{
						transition: 1s all;
						-webkit-transition: 1s all;
						-moz-transition: 1s all;
						-o-transition: 1s all;
                    }
				}
				.currently-showing-img {
					&::after {
						position: absolute;
						content: "";
						width: 100%;
						height: auto;
						filter: blur(10px);
						background-color: transparent;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 20px solid rgba(0, 0, 0, 0.1);
						bottom: 0;
						opacity: 1;
						z-index: -1;
						transition: 0.5s all;
						-webkit-transition:  0.5s all;
						-moz-transition:  0.5s all;
						-o-transition:  0.5s all;
					}
					img {
						transform: translateY(-10px);
					}
				}
			}
		}
		@media (max-width: 767px) {
			display: flex;
			padding-right: 15px;
    		padding-left: 15px;
		}
	}
    h3 {
		font-size: 17px;
		line-height: 20px;
		font-weight: 500;
		font-family: 'Rubik', sans-serif;
        color: #343434;
        margin-bottom: 8px;
		transition: 1s all;
		-webkit-transition:  1s all;
		-moz-transition:  1s all;
		-o-transition:  1s all;
		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 18px;
		}
	}
	p {
		font-size: 14px;
		line-height: 22px;
		font-weight: normal;
		font-family: 'Rubik', sans-serif;
		color: #626262;
        margin: 0px;
		transition: 1s all;
		-webkit-transition:  1s all;
		-moz-transition:  1s all;
		-o-transition:  1s all;
		@media(max-width: 767px) {
			font-size: 13px;
			line-height: 15px;
		}
	}
}