//st-wrapper
.home-page-wrapper {
	@media (max-width: 991px) {
		.grid-container {
			-ms-overflow-style: none;
			 scrollbar-width: none;
		}
		.grid-container::-webkit-scrollbar {
			  display: none;
		}

	}
	// .slick-slider{
	// 	position: static;
	// 	.slick-prev{
	// 		left: 0;
	// 	}
	// 	.slick-next{
	// 		right: 0;
	// 	}
	// }
	@media (max-width: 767px) {
		padding-top: 0px;
    }
    .banner{
        margin-top: -112px;
		padding: 0;
		transition: 0.3s margin-top;
		-webkit-transition: 0.3s margin-top;
		-moz-transition: 0.3s margin-top;
        -o-transition: 0.3s margin-top;
        padding-bottom: 3px;
        @media(max-width: 767px) {
            padding-bottom: 6px;
        }
		img{
			max-width: 100%;
			height: auto;
		}
	}
	.giftcard-homepage-wrapper {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		background-color: #051e46;
		justify-content: center;
		align-items: center;
		.giftcard-anchor {
			flex: 0 0 auto;
			width: auto;
			.gift-cart-image{
				padding: 0px;
			}
		}
  }
}
.adds-container{
	display: block;
    text-align: center;
    width: 100%;
    @media(max-width: 767px){
        margin-top: 10px;
    }
    img{
	width: auto;
	max-width: 100%;
	height: auto;

    }
  }


//Banner style end

// Slider Arrow common CSS
.slick-slider{
    .slick-prev, .slick-next{
		height: 40px;
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		top: 50%;
		transition: 0.3s all ease-in-out;
		-webkit-transition: 0.3s all ease-in-out;
		-moz-transition: 0.3s all ease-in-out;
		-o-transition: 0.3s all ease-in-out;
		background-color: rgba(255,255,255,0.5);
		border-radius: 50%;
		padding: 5px;
		line-height: 40px;
		box-shadow: 0px 0px 10px 0px #d1d1d1;
        &::before{
			content: '';
			position: absolute;
			padding: 7px;
			box-shadow: 1px -1px 0 1px #0098FF inset;
			-webkit-box-shadow: 2px -2px #0098FF inset;
			border: solid transparent;
			border-width: 0 0 8px 8px;
			transition: 0.2s;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&.slick-disabled{
			&::before{
				opacity: .75;
			}
		}
		&:hover{
			background-color: rgba(255,255,255,0.7);
		}
    }
    .slick-prev{
		// background: url(../../assets/images/left-arrow-blue.svg) 0 0px no-repeat;
		left: 10px;
        &:hover, &:focus{
            // background: url(../../assets/images/left-arrow-blue.svg) 0 0px no-repeat;
			border: none;
			background-color: rgba(255,255,255,0.7);
		}
		&::before{
			left: auto;
			top: auto;
			margin-left: 1px;
			margin-top: 4px;
			transform: rotate(45deg);
		}

        @media(min-width: 768px) and (max-width: 1023px) {
            left: -30px;
		}
		@media (max-width: 768px){
			left: -30px;
		}
    }
    .slick-next{
		// background: url(../../assets/images/right-arrow-blue.svg) 0 0px no-repeat;
		right: 10px;
		&::before{
			transform: rotate(-135deg);
			margin-left: 7px;
			margin-top: 4px;
			left: auto;
			top: auto;
		}
        &:hover, &:focus{
            // background: url(../../assets/images/right-arrow-blue.svg) 0 0px no-repeat;
            border: none;
        }
        @media(min-width: 768px) and (max-width: 1023px) {
            right: -30px;
        }
        @media (max-width: 768px){
			right: -30px;
		}
    }
    .slick-dots{
        top: -24px;
        width: auto;
        text-align: right;
		right: 0;
		@media(max-width: 1280px){
			top: -17px;
		}
        li{
            width: 25px;
            height: 20px;
            margin: 0 3px;
            cursor: pointer;
            &.slick-active{
                span{
                    opacity: 1;
                    background-color: #0077C8 !important;
                }
            }
        }
	}
}
.custom-container{
	.slick-prev {
		left: -40px;
	}
	.slick-next {
		right: -40px;
	}
}

//home section common design
.home-page-wrapper{
  position: relative;
	section {
		padding: 40px 0px;
		position: relative;
		@media (max-width: 767px) {
			padding: 20px 0px 0px;
        }
        &.gift-cart{
            padding: 0;
        }
        &.featured-events{
            padding-bottom: 0;
        }
        &.top-picks{
            padding-bottom: 20px;
            @media (max-width: 767px) {
				padding-bottom: 10px;
            }
        }
	}
	h2 {
		font-size: 30px;
		line-height: 37px;
		font-weight: 600;
		color: #343434;
		font-family: 'Montserrat', sans-serif;
		margin: 0px;
        padding: 0;
        padding-bottom: 18px;
		@media (max-width: 767px) {
			font-size: 18px;
			line-height: 20px;
			margin: 0px;
			padding-bottom: 10px;
		}
	}
	h3 {
		font-size: 17px;
		line-height: 20px;
		font-weight: 500;
		font-family: 'Rubik', sans-serif;
		color: #343434;
		@media (max-width: 767px) {
			font-size: 14px;
			line-height: 18px;
		}
	}
	p {
		font-size: 14px;
		line-height: 17px;
		font-weight: normal;
		font-family: 'Rubik', sans-serif;
		color: #626262;
        margin: 0px;
        padding: 0;
		@media(max-width: 767px) {
			font-size: 13px;
			line-height: 15px;
		}
    }
}

//top-picks-for-you style start
.top-picks {
	position: relative;
	h2 {
        padding-bottom: 19px;
        padding-left: 5px;
		@media (max-width: 767px) {
			padding-bottom: 15px;
		}
    }
    .slick-slider{
        .slick-track{
            display: flex;
            .slick-slide {
                margin: 0 5px;
                // @media(min-width: 992px) and (max-width: 1280px) {
                //     grid-template-columns: repeat(6, minmax(23%, 1fr));
                // }
                // @media(max-width: 991px) {
                //     grid-template-columns: repeat(6, minmax(27%, 1fr));
                // }
                // @media (max-width: 767px) {
                //     grid-template-columns: repeat(6, minmax(35%, 1fr));
                // }
            }
		}
		@media(min-width: 601px) and (max-width: 962px){
			.slick-arrow{
				display: none !important;
			}
		}
    }
	.grid-container {
		display: grid;
		@media(min-width: 992px) and (max-width: 1280px) {
			grid-template-columns: repeat(6, minmax(23%, 1fr));
		}
		@media(max-width: 991px) {
			grid-template-columns: repeat(6, minmax(27%, 1fr));
		}
		@media (max-width: 767px) {
			overflow-x: auto;
    		display: flex;
		}
		.item {
			position: relative;
			cursor: pointer;
			overflow: hidden;
			.item-desc {
				position: relative;
				overflow: hidden;
				.video-icon {
					position: absolute;
					top: 6px;
                    left: 13px;
                    display: none;
					line-height: 10px;
					z-index: 1;
					img {
						width: 13px;
						height: 16px;
					}
					@media(max-width: 991px) {
						top: 5px;
						left: 5px;
						img {
							max-width: 8px;
						}
					}
				}
				.image-conatiner{
					max-height: inherit;
                    height: 100%;
                    min-height: inherit;
                    width: 100%;
				}
				.item-img img {
					height: 100%;
                    width: 100%;
                    min-height: inherit;
                    max-height: inherit;
				}
			}
			.item-title-overlay {
				display: grid;
				grid-template-columns: repeat(2, auto);
				align-items: center;
				opacity: 0;
				height: 0px;
				width: 100%;
				padding: 0px 9px;
				position: absolute;
				left: 10px;
				bottom: 10px;
                text-decoration: none;
				transition: none;
				-webkit-transition: none;
				-moz-transition: none;
				-o-transition: none;
				@media(max-width: 991px) {
					bottom: 10px;
				}
				@media (max-width: 767px) {
					bottom: 40px;
				}
				img {
					margin-left: auto;
				}
				span {
					color: #0098ff;
					font-family: 'Montserrat', sans-serif;
					font-size: 16px;
					font-weight: bold;
					line-height: 19px;
					text-decoration: none;
					@media (max-width: 767px) {
						font-size: 12px;
						line-height: 15px;
					}
				}
			}
			h3 {
				padding: 6px 3px;
				transition: 0.3s transform, 0.3s opacity, 0.3s color;
				-webkit-transition: 0.3s transform, 0.3s opacity, 0.3s color;
				-moz-transition: 0.3s transform, 0.3s opacity, 0.3s color;
				-o-transition: 0.3s transform, 0.3s opacity, 0.3s color;
                margin-bottom: 0px;
				min-height: auto;
				@media(max-width: 1024px){
					padding: 4px 3px;
				}
				@media (max-width: 767px) {
                    min-height: auto;
				}
			}
			.category {
				position: absolute;
				top: 23px;
				left: 9px;
				font-size: 11.64px;
				line-height: 18px;
				height: 18px;
				opacity: 0;
				transition: 0.4s opacity;
				-webkit-transition: 0.4s opacity;
				-moz-transition: 0.4s opacity;
				-o-transition: 0.4s opacity;
				font-family: 'Montserrat', sans-serif;
				z-index: 1;
				font-weight: 500;
				min-width: 59.03px;
				@media(min-width: 1600px) {
					font-size: 13.64px;
					line-height: 20px;
					height: 20px;
					font-weight: 500;
					font-family: 'Montserrat', sans-serif;
				}
				@media (max-width: 767px) {
					top: 5px;
					left: 5px;
					font-size: 7px;
					line-height: 14px;
					height: 14px;
					min-width: auto;
				}
			}
			.item-overlay {
				text-align: left;
				padding: 10px;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				color: #fff;
				display: grid;
				align-items: end;
				transform: translateY(20%);
				top: 50%;
				transition: 0.3s opacity, 0.5s transform;
				-webkit-transition: 0.3s opacity, 0.5s transform;
				-moz-transition: 0.3s opacity, 0.5s transform;
				-o-transition: 0.3s opacity, 0.5s transform;
                opacity: 0;
                @media (max-width: 991px) {
                    display: none;
                }
                .overlay-wrapper{
                    position: absolute;
                    bottom: 0;
					padding: 10px;
					width: 100%;
					height: auto;
					h3{
						@media(max-width: 1024px){
							line-height: 22px;
						}
					}
                }
				h3 {
					font-size: 19.95px;
					line-height: 24px;
					margin-bottom: 14px;
					padding: 0px;
                    color: #fff;
                    min-height: auto;
					@media(min-width: 1600px) {
						font-size: 24px;
						line-height: 28px;
                    }
                    @media(min-width: 1024px) and (max-width: 1280px) {
                        font-size: 17px;
                        line-height: 20px;
                        min-height: auto;
                        margin-bottom: 5px;
                    }
				}
				p {
					font-size: 11.64px;
					line-height: 14px;
					color: #fff;
					margin-bottom: 7px;
                    margin-top: 0px;
                    padding: 0;
					@media(min-width: 1600px) {
						font-size: 14px;
						line-height: 17px;
                    }
                    @media(min-width: 1024px) and (max-width: 1280px) {
                        display: none;
                    }
					&:first-child {
						margin-bottom: 7px;
					}
					&:last-child {
						margin-bottom: 0px;
					}
                }
                span, span p{
                    font-size: 11.64px;
					line-height: 14px;
					color: #fff;
					margin-bottom: 7px;
                    margin-top: 0px;
                    padding: 0;
                    display: block;
                }
			}
			&:hover {
				@media(min-width: 991px) {
					.item-overlay {
						transform: translateY(-50%);
						opacity: 1;
					}
					.item-desc+h3 {
						transform: translateY(-100%);
						opacity: 0;
						color: #fff;
						min-height: 58px;
					}
					.category {
						opacity: 1;
					}
					.item-title-overlay {
						opacity: 1;
						height: auto;
						padding: 12px 9px;
                        left: 0px;
						transition: none;
						-webkit-transition: none;
						-moz-transition: none;
						-o-transition: none;
						@media (max-width: 767px) {
							padding: 5px 3px;
						}
						img {
							animation: buynowarrow 0.3s linear;
							max-width: 25px;
							@media (max-width: 767px) {
								max-width: 15px;
							}
						}
						span {
							animation: buynowtext 0.3s linear;
						}
					}
				}
			}
			@media (max-width: 600px) {
				flex: 1 0 28%;
				max-width: 28%;
				margin-right: 7px;
			}
			@media(max-width: 767px) and (orientation: landscape) {
				flex: 1 0 28%;
				max-width: 28%;
				margin-right: 7px;
			}
		}
	}
	// .slick-prev{
	// 	@media(min-width: 768px) and (max-width: 800px){
	// 		left: -38px;
	// 		height: 85px;
	// 		width: 45px;
	// 	}
	// 	@media (max-width: 768px){
	// 		left: -20px;
	// 	}
	// }
	// .slick-next{
	// 	@media(min-width: 768px) and (max-width: 800px){
	// 		right: -33px;
	// 		height: 85px;
	// 		width: 45px;
	// 	}
	// 	@media (max-width: 768px){
	// 		right: -20px;
	// 	}
	// }

}

@keyframes buynowarrow {
	0% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes buynowtext {
	0% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0px);
	}
}

//top-picks-for-you style start
//gift-cart style start
.gift-cart {
	padding: 30px 0px 0px;
	.gift-cart-image {
		background-color: #051e46;
		margin: 0 auto;
		text-align: center;
		padding: 5px 0px;
		@media (max-width: 767px) {
			padding: 0px;
		}
		img {
			max-height: 112px;
			@media (max-width: 767px) {
				min-height: auto;
				max-width: 100%;
				height: 100%;
				width: 100%;
			}
		}
	}
	@media (max-width: 767px) {
		padding: 20px 0px 0px;
	}
}

//gift-cart style end
//featured events style start
.featured-events.alternate-featured-events {
    .slick-dots{
        display: none !important;
    }
}
.featured-events {
	background-color: #F0F9FF;
	color: #626262;
	position: relative;
	padding: 40px 0px 0px;
	@media (max-width: 767px) {
		padding: 20px 0px 0px;
	}
	.slick-dots{
		height: 0px;
	}
    .section-top-wrapper{
        @media (max-width: 991px) {
            padding-bottom: 0;
		}
		h2{
            padding-bottom: 0;
            padding-left: 5px;
			@media(max-width: 767px){
				padding-bottom: 15px;
			}
		}
    }

    .carousel-dots{
        position: relative;
        top: -5px;
        @media (max-width: 991px) {
            top: 0;
		}
		@media (max-width: 767px) {
            padding-bottom: 15px;
		}

    }
	.slick-arrow{
		background-position: 0px 0px;
		&:hover{
			background-position: 0px 0px;
			border: none;
		}
		&:focus{
			background-position: 0px 0px;
			border: none;
		}
		@media(min-width: 601px) and (max-width: 962px){
			display: none !important;
		}
		&.slick-prev{
			left: -40px;
		}
		&.slick-next{
			right: -40px;
		}
	}
    .slick-list{
        padding: 10px 0;
        margin: -8px 0;
        .slick-slide{
			padding: 10px 0;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            @media (max-width: 991px) {
                padding: 0;
            }
			& > div{
            display: flex;
            width: 100%;
            flex: 0 0 100%;
				.grid-container{
					flex: 0 0 20%;
					width: 20%;
					height: 100%;
					display: flex !important;
					flex-wrap: wrap;
					@media(min-width: 601px) and (max-width: 962px){
						flex: 0 0 25%;
					    width: 25%;
					}
					@media(min-width: 768px) and (max-width: 991px){
						flex: 0 0 25%;
					    width: 25%;
					}
					& > a{
						height: calc(100% - 23px);
						margin-bottom: 23px;
						@media(max-width: 1024px){
							height: calc(50% - 23px);
							margin-bottom: 23px;
							display: flex;
							flex-direction: column;
							width: 100%;
						}
						.item{
							height: 100%;
						}
					}
				}
			}
			div:empty{
				display: none;
			}
        }
    }

    .slick-dots{
        top: -24px;
        @media (max-width: 991px) {
            top: -28px
        }
        @media (max-width: 767px) {
            top: -15px;
		}
		@media(min-width: 601px) and (max-width: 962px){
			top: -30px;
		}
	}
	.section-top-wrapper{
		& + div{
			@media(max-width: 767px){
				width: 100% !important;
			}
		}
	}
	.grid-container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 0px;
		width: calc(100% + 12px);
		@media(max-width: 991px) {
			grid-template-columns: repeat(5, minmax(35%, 1fr));
			width: 100%;
		}
		@media(min-width: 992px) and (max-width: 1280px) {
			grid-template-columns: repeat(5, minmax(28%, 1fr));
		}
		@media (max-width: 767px) {
			grid-template-columns: repeat(5, minmax(90%, 1fr));
			overflow-x: auto;
			display: flex;
			width: calc(100% - 0px);
		}
		a{
			@media(max-width: 767px){
				flex: 0 0 35%;
				width: 35%;
			}
		}
		.item {
			.item-wrapper {
				padding: 8px;
				transition: 0.3s box-shadow, 0.5s background-color, 0.5s transform;
				-webkit-transition: 0.3s box-shadow, 0.5s background-color, 0.5s transform;
				-moz-transition: 0.3s box-shadow, 0.5s background-color, 0.5s transform;
				-o-transition: 0.3s box-shadow, 0.5s background-color, 0.5s transform;
				cursor: pointer;
				position: relative;
				margin-bottom: 10px;
				z-index: 1;
				height: 100%;
				padding-bottom: 22px;
				@media (max-width: 767px) {
					padding: 5px;
					height: auto;
					flex: 1 0 100%;
					max-width: 100%;
					margin-right: 0px;
				}
				.featured-item-img {
					padding-bottom: 18px;
					position: relative;
					@media(max-width: 768px) {
						padding-bottom: 5px;
					}
					.item-img img {
						@media(max-width: 1366px) {
							height: 100%;
							width: 100%;
							object-fit: cover;
						}
						@media (max-width: 767px) {
							height: auto;
							width: auto;
							max-width: 100%;
						}
					}
					.image-conatiner{
						@media(max-width: 767px){
							padding-bottom: 10px;
						}
					}
					@media (max-width: 767px) {
						padding-bottom: 0px;
					}
					.category {
						position: absolute;
						left: 7px;
						right: auto;
						top: 8px;
						opacity: 0;
						transition: 0.7s opacity;
						-webkit-transition: 0.7s opacity;
						-moz-transition: 0.7s opacity;
						-o-transition: 0.7s opacity;
						padding: 0 8px;
						@media(max-width: 991px) {
							opacity: 1;
							position: relative;
							right: 0;
							margin: 5px 0px 7px;
							min-width: auto;
							left: 0px;
						}
						@media (max-width: 767px) {
							margin: 8px 0px 5px;
							top: 0px;
							left: 0px;
                        }
                        &:empty{
                            display: block !important;
                            padding: inherit;
                            background: transparent;
                        }
					}
				}
				h3 {
					margin: 0px 0 15px;
					display: inline-block;
					width: 100%;
					padding-bottom: 0px !important;
					transition: color 0.3s;
					-webkit-transition: color 0.3s;
					-moz-transition: color 0.3s;
					-o-transition: color 0.3s;
					@media (max-width: 767px) {
						padding-bottom: 8px;
						width: 100%;
                    }
                    @media(min-width: 1360px) and (max-width: 2200px) {
                        min-height: auto;
                    }
				}
				p {
					padding-bottom: 0;
                    margin: 0px 0 6px;
                    font-size: 13.5px;
                    @media(max-width: 767px){
                        white-space: normal;
                        font-size: 12px;
                        line-height: 16px;
                    }
                    &.featured-event-date{
                        min-height: auto;
                    }
					&:last-child, &.venue-name {
                        margin-bottom: 14px;
						min-height: auto;
						margin-bottom: 0px;
					}
				}
				.venue-name{
					min-height: auto;
					margin-bottom: 0px;
				}
				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					transform: scaleY(0);
					transform-origin: bottom center;
					background: #ffffff;
					z-index: -1;
					transition: transform 0.3s;
					-webkit-transition: transform 0.3s;
					-moz-transition: transform 0.3s;
					-o-transition: transform 0.3s;
				}
				&:hover {
					@media(min-width: 991px) {
						box-shadow: 0 2px 10px 0 rgba(207, 146, 146, 0.12);
						transform: translateY(0px);
						&:after {
							transform: scaleY(1);
						}
						.category {
							opacity: 1;
							top: 8px;
							@media (max-width: 767px) {
								top: 0px;
							}
                        }
                        h3 {
                            color: #0098FF;
                        }
					}
				}
			}
			@media (max-width: 767px) {
				flex: 1 0 100%;
				width: 100%;
			}
		}
	}
}

//featured events style end
//currently showing/whats new style start
.carousel-container{
section.currently-showing,
section.whats-new {
	background-color: #092438;
	padding-bottom: 40px;
	@media (max-width: 1024px) {
        min-height: 415px;
    }
	@media (max-width: 767px) {
        padding: 20px 0;
        min-height: 315px;

    }
    .slick-slider{
        .slick-dots{
            top: -40px;
            right: 2px;
            @media (max-width: 991px) {
                top: -36px;
            }
        }
        .slick-list{
            padding: 10px 0;
            margin: -10px 0;
            .slick-track{
                .slick-slide{
					padding: 0 5px;
                }
            }
            .slick-dots{
                top: -35px;
                @media (max-width: 991px) {
                    top: -22px;
                }
            }
        }
    }
    .carousel-dots{
        top: -15px;
        position: relative;
        @media (max-width: 991px) {
            top: 0px;
        }
    }
	.dots-group {
		span {
			background-color: rgba(255, 255, 255, 0.1);
			position: relative;
			&.active {
				background-color: #0077C8;
				&:after{
					content: none;
				}
			}
			&:after{
				position: absolute;
				content: "";
				height: 100%;
				background-color: #0077C8;
				left: 0px;
				width: 0px;
				transition: 0.3s width;
				-webkit-transition: 0.3s width;
				-moz-transition: 0.3s width;
				-o-transition: 0.3s width;
			}
			&:hover{
				@media (min-width: 991px) {
                    &:after{
                        width: 100%;
                    }
                }
			}
		}
	}
	h2 {
        color: #ffffff;
        padding-left: 5px;
		@media (max-width: 767px) {
			padding-bottom: 0;
		}
	}
	.item {
		position: relative;
		z-index: 1;
		transition: 0.5s box-shadow;
		-webkit-transition: 0.5s box-shadow;
		-moz-transition: 0.5s box-shadow;
		-o-transition: 0.5s box-shadow;
		.category {
			margin-bottom: 14px;
			@media (max-width: 767px) {
				margin-bottom: 8px;
			}
		}
		a{
			& + p{
				padding-top: 13px;
				@media(max-width: 767px){
					padding-top: 0px;
				}
			}
		}
		.currently-showing-img {
			.image-conatiner{
				transition: 0.5s transform;
				-webkit-transition: 0.5s transform;
				-moz-transition: 0.5s transform;
				-o-transition: 0.5s transform;
				img {
					width: 100%;
					height: 100%;
					@media(max-width: 1366px) {
						object-fit: cover;
						max-height: 325px;
					}
				}
			}
			@media(min-width: 991px){
				img{
					width: 100%;
				}
			}
		}
		&:hover {
			.currently-showing-img {
				.image-conatiner{
					position: relative;
					overflow: visible;
                    transform: translateY(-10px);
                    @media(min-width: 991px) {
                        transform: translateY(0);
                    }
					&::after {
						position: absolute;
						content: "";
						width: 100%;
						height: auto;
						filter: blur(10px);
						background-color: transparent;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 20px solid rgba(0, 0, 0, 0.2);
						bottom: 0;
						opacity: 1;
						z-index: -1;
						transition: 0.5s all;
						-webkit-transition: 0.5s all;
						-moz-transition: 0.5s all;
						-o-transition: 0.5s all;
					}
				}
			}
			@media(min-width: 991px) {
				cursor: pointer;
				h3 {
					color: #0098ff;
				}
			}
		}
	}
	.row{
		@media (max-width: 767px) {
			padding-right: 15px;
			padding-left: 15px;
			.grid-container {
				display: flex;
				flex-wrap: nowrap;
				overflow-x: auto;
				margin: 0;
				.item{
					flex: 1 0 28%;
					max-width: 28%;
					margin-right: 7px;
				}
			}
		}
	}
	h3 {
		transition: 0.3s color;
		-webkit-transition: 0.3s color;
		-moz-transition: 0.3s color;
		-o-transition: 0.3s color;
		margin-bottom: 0px;
		color: #ffffff;
		overflow: hidden;
		padding-bottom: 0px !important;
		margin-bottom: 20px;
		@media (max-width: 767px) {
            margin-bottom: 8px;
			padding-bottom: 0;
			overflow: hidden;
		}
	}
	p {
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 5px;
		font-size: 14px;
		line-height: 18px;
        word-break: break-all;
        &.dt-srt-end{
			font-size: 14px;
			line-height: 17px;
			margin-bottom: 12px;
			@media(max-width: 1024px){
				min-height: auto;
			}
			@media(max-width: 991px){
                line-height: 17px;
            }
			@media(max-width: 576px){
                font-size: 14px;
                margin-bottom: 5px;
			}
		}
		&:empty{
			display: none;
		}
	}
	.shim-container{
		// margin: 0 !important;
		// padding: 0 !important;
		// flex-wrap: nowrap;
		// justify-content: flex-start;
    overflow: hidden;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 0px;
    height: auto;
    @media(max-width: 1024px){
      max-width: 973px;
    }
    @media(max-width: 768px){
      max-width: 718px;
    }
		@media(min-width: 1360px){
			width: 1360px;
		}
		.shimmer-inner{
			flex: 1 0 28%;
      max-width: 28%;
      flex: 1 0 16.66%;
      max-width: 16.66%;
      @media(max-width: 1024px){
        flex: 1 0 25%;
        max-width: 25%;
      }
      @media(max-width: 767px){
        flex: 1 0 33%;
        max-width: 33%;
      }
		}
	}
}
}

p {
	font-family: 'Rubik', sans-serif;
	margin: 0px;
	padding-bottom: 5px;
	@media (max-width: 767px) {
		font-size: 13px;
		line-height: 15px;
	}
}

.currently-showing-place {
	margin-bottom: 0px;
}

.currently-showing-img {
	margin-bottom: 16px;
	position: relative;
	@media (max-width: 767px) {
		margin-bottom: 10px;
	}
}

//currently showing style end
//promotions style start
.home-page-wrapper section.promotions {
	background-color: #F0F9FF;
	padding: 46px 0px 0;
	@media(max-width: 1024px){
		padding: 40px 0px 10px;
	}
	@media (max-width: 767px) {
		padding: 20px 0px 10px;
    }
    h2{
		padding-left: 8px;

	}
	h3 {
		font-size: 16px;
		line-height: 19px;
		text-decoration: none;
		height: auto;
		display: block;
		margin: 0px;
		white-space: normal;
		min-height: 40px;
		transition: 1s all;
		-webkit-transition: 1s all;
		-moz-transition: 1s all;
		-o-transition: 1s all;
		@media (max-width: 1024px) {
			font-size: 15px;
			width: 235px;
		}
		@media (max-width: 768px) {
			font-size: 14px;
			line-height: 18px;
			min-height: 36px;
			width: auto;
			height: auto;
		}
		@media (max-width: 640px) {
			font-size: 14px;
			line-height: 18px;
			width: auto;
			height: auto;
			margin-bottom: 10px;
		}
	}
	.promotions-img {
		margin-bottom: 13px;
		position: relative;
		overflow: hidden;
		@media (max-width: 767px) {
			margin-bottom: 4px;
		}
		img {
			transition: 0.9s transform;
			-webkit-transition: 0.9s transform;
			-moz-transition: 0.9s transform;
			-o-transition: 0.9s transform;
			text-align: center;
			margin: 0 auto;
		}
		.item-img{
			.image-conatiner{
				position: relative;
				background: #fff;
				display: flex;
				align-items: center;
				height: 242px;
				max-height: 100%;
				@media(max-width: 1366px){
					height: 220px;
				}
				@media(max-width: 1280px){
					height: 200px;
				}
				@media(max-width: 768px){
					height: 160px;
				}
				@media(max-width: 767px){
					height: 85px;
				}
				@media(max-width: 767px) and (orientation: landscape){
					height: 120px;
				}
			}
			&.promotion-timer-exist{
				.image-conatiner{
					display: flex;
					&:after{
						background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(62, 62, 62) 124%);
						position: absolute;
						content: "";
						left: 0px;
						right: 0px;
						top: auto;
						bottom: 0px;
						width: 100%;
						height: 50px;
					}
				}
			}
		}
	}
	.promotions-grid-wrapper{
		@media(max-width: 767px){
			display: flex;
			overflow-x: auto;
			-ms-overflow-style: none; // IE 10+
			scrollbar-width: none; // Firefox
			padding-bottom: 15px;
			&::-webkit-scrollbar {
				display: none; // Safari and Chrome
			}
			a{
				flex: 1 0 42%;
				max-width: 42%;
				margin-right: 10px;
				@media(max-width: 767px){
					flex: 1 0 42%;
					max-width: 100%;
					margin-right: 10px;
					height: calc(50% - 10px);
					display: flex;
					flex-direction: column;
					margin-bottom: 10px;
				}
            }
			.item-wrapper{
				flex: 1 0 60%;
				max-width: 60%;
                margin-right: 10px;
            }
		}
	}
    .carousel-dots{
        margin-top: 3px;
        @media(min-width: 991px) and (max-width: 1024px) {
            margin-top: 18px;
        }
    }
    .slick-slider{
        .slick-list{
            width: calc(100% + 24px);
            .slick-track{
                display: grid;
                grid-auto-flow: column;
				margin: 0 -12px;
				-ms-overflow-style: none; // IE 10+
				scrollbar-width: none; // Firefox
				@media(min-width: 601px) and (max-width: 962px){
					margin-bottom: -3px;
				}
				&::-webkit-scrollbar {
					display: none !important; // Safari and Chrome
				}
                .slick-slide{
                    display: grid;
                    padding: 0 12px;
                    > div{
                        display: grid;
                        grid-template-columns: repeat(4, minmax(20%, 1fr));
                        grid-gap: 17px;
                        height: 50%;
                        @media(max-width: 1024px){
                            padding-top: 20px;
                            grid-template-columns: repeat(3, minmax(31%, 1fr));
                        }
                        @media(max-width: 991px) {
                            padding-top: 10px;
                            grid-template-columns: repeat(3, minmax(31%, 1fr));
                        }
                        @media (max-width: 767px) {
                            grid-template-columns: repeat(3, minmax(55%, 1fr));
                            grid-gap: 15px;
                            overflow: auto;
                            & > {
                                div{
                                    display: flex;
                                    flex-wrap: nowrap;
                                }
                            }
                        }
                    }
                    .item-wrapper{
                        width: 100% !important;
                        height: 100%;
                        display: flex !important;
                        flex-wrap: wrap;
                        flex-direction: column;
                        justify-content: flex-start;
                        &:first-child{
                            padding-left: 0;
						}
						& > a{
							height: calc(100% - 20px);
							margin-bottom: 20px;
							@media(max-width: 768px){
								height: calc(100% - 10px);
								margin-bottom: 10px;
							}
						}
                        .promotions-home-item {
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
                            width: 100%;
							position: relative;
							z-index: 1;
							padding: 8px;
							height: 100%;
							padding-bottom: 20px;
							&:after{
								content: "";
								position: absolute;
								top: 0px;
								left: 0px;
								width: 100%;
								height: 100%;
								transform: scaleY(0);
								transform-origin: bottom center;
								background: #ffffff;
								z-index: -1;
								box-shadow: 0 2px 10px 0 rgba(207, 146, 146, 0.12);
								transition: transform 0.3s;
								-webkit-transition: transform 0.3s;
								-moz-transition: transform 0.3s;
								-o-transition: transform 0.3s;
							}
                            .promotions-img {
                                margin-bottom: 13px;
                                position: relative;
								overflow: hidden;
								box-shadow: 0 2px 10px 0 transparent;
								transition: 0.6s box-shadow;
								-webkit-transition: 0.6s box-shadow;
								-moz-transition: 0.6s box-shadow;
								-o-transition: 0.6s box-shadow;
                                @media (max-width: 767px) {
                                    margin-bottom: 4px;
                                }
                                img {
                                    transition: 0.9s transform;
                                    -webkit-transition: 0.9s transform;
                                    -moz-transition: 0.9s transform;
									-o-transition: 0.9s transform;
									text-align: center;
									margin: 0 auto;
								}
								.item-img{
									.image-conatiner{
										position: relative;
										background: #fff;
										display: flex;
										align-items: center;
										height: 242px;
										max-height: 100%;
										@media(max-width: 1366px){
											height: 220px;
										}
										@media(max-width: 1280px){
											height: 200px;
										}
										@media(max-width: 768px){
											height: 160px;
										}
									}
									&.promotion-timer-exist{
										.image-conatiner{
											display: flex;
											&:after{
												background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(62, 62, 62) 124%);
												position: absolute;
												content: "";
												left: 0px;
												right: 0px;
												top: auto;
												bottom: 0px;
												width: 100%;
												height: 50px;
											}
										}
									}
								}
							}
                            &:hover {
                                @media(min-width: 991px) {
                                    cursor: pointer;
									&:after{
										transform: scaleY(1);
									}
                                    h3{
                                        color: #0098ff;
                                        transition: 1s all;
                                        -webkit-transition: 1s all;
                                        -moz-transition: 1s all;
                                        -o-transition: 1s all;
                                    }
                                }
                            }
                    	}
                    }
                }
            }
        }
        .slick-dots{
            height: 20px;
			top: -30px;
			@media(max-width: 1024px){
				top: -14px;
			}
            @media(min-width: 768px) and (max-width: 991px) {
                top: -20px;
            }
            @media (max-width: 767px) {
                top: -26px;
			}
			li{
                margin-top: 0;
				span{
					position: relative;
					&:after{
						position: absolute;
						content: "";
						height: 100%;
						background-color: #0077C8;
						left: 0px;
						width: 0px;
						transition: 0.3s width;
						-webkit-transition: 0.3s width;
						-moz-transition: 0.3s width;
						-o-transition: 0.3s width;
					}
					&:hover{
						&:after{
							width: 100%;
						}
					}
				}
			}
		}
		@media(min-width: 601px) and (max-width: 962px){
			.slick-arrow{
				// display: none !important;
			}
		}
		.slick-arrow{
			&.slick-prev{
				&:before{
					margin-left: -12px;
					margin-top: 4px;
				}
			}
			&.slick-next{
				&:before{
					margin-left: -7px;
					margin-top: 5px;
				}
			}
		}
    }
	.section-top-wrapper {
		padding-bottom: 16px;
		max-height: 54px;
		align-items: flex-start;
		@media(max-width: 991px) {
			max-height: 100%;
            align-items: center;
            padding-bottom: 0;
		}
		@media (max-width: 767px) {
			padding-bottom: 10px;
		}
	}
	h2 {
		display: flex;
		align-items: center;
		padding-bottom: 0px;
	}
	.promotions-animated-img {
		padding-left: 20px;
		margin-top: -24px;
		@media(max-width: 991px) {
			margin-top: 0;
		}
		@media (max-width: 767px) {
			padding-left: 10px;
		}
		img {
			@media (max-width: 767px) {
				max-width: 85px;
			}
		}
	}
}

//promotions timer
.promotion-timer {
	position: absolute;
	right: 10px;
	bottom: 5px;
	@media(max-width: 991px){
		right: 10px;
		bottom: 2px;
	}
	ul {
		width: auto;
		li {
			display: inline-block;
			list-style: none;
			padding-right: 5px;
			vertical-align: middle;
			text-align: center;
			@media (max-width: 767px) {
				padding-right: 5px;
			}
			span {
				display: block;
				font-size: 20px;
				font-family: 'Rubik', sans-serif;
				color: #ffffff;
				min-width: 40px;
				font-weight: 500;
				@media(max-width: 991px){
					font-size: 15px;
					min-width: 20px;
				}
				@media (max-width: 767px) {
					font-size: 13px;
					line-height: 13px;
					min-width: 17px;
				}
				@media(max-width: 576px){
					font-size: 11px;
					line-height: 11px;
					min-width: 15px;
				}
				&.timer-label {
					font-size: 10px;
					font-family: 'Rubik', sans-serif;
					font-weight: 100;
					@media (max-width: 767px) {
						font-size: 10px;
						line-height: 13px;
					}
				}
			}
			&:last-child {
				padding-right: 0px;
			}
			&.timer-watch {
				padding-right: 10px;
				@media (max-width: 767px) {
					padding-right: 5px;
				}
				img{
					@media(max-width: 767px){
						max-width: 18px;
					}
				}
			}
		}
	}
}

//trending now style start
section.trending-now {
    padding: 40px 0px 35px;
    @media (max-width: 991px) {
		padding: 40px 0px 20px;
	}
	@media (max-width: 767px) {
		padding: 20px 0px 10px;
    }
    h2{
        padding-left: 5px;
        @media (max-width: 767px) {
            h2{
                padding-bottom: 15px;
            }
        }
    }
	.grid-container {
		display: grid;
		grid-gap: 16px;
		grid-template-columns: 1.4fr repeat(4, 1fr);
		-ms-overflow-style: none; // IE 10+
        scrollbar-width: none; // Firefox
        margin: 0 -3px;
		&::-webkit-scrollbar {
			display: none; // Safari and Chrome
		}
		@media(max-width: 1024px) {
			grid-template-columns: repeat(5, minmax(43%, 1fr));
			grid-gap: 10px;
            overflow-x: auto;
            margin: 0;
		}
		@media(max-width: 767px){
            grid-template-columns: repeat(5, minmax(35%, 1fr));
            margin: 0;
		}
		@media(max-width: 576px){
			overflow-y: hidden;
		}
		.item {
			height: 100%;
			display: flex;
			flex-direction: column;
			@media(max-width: 767px){
				height: auto;
			}
			&:first-child {
				grid-row: 1/3;
                grid-column: 1/2;
			}
			&:nth-child(2) {
				grid-row: 1/2;
				grid-column: 2/3;
				.item-wrapper{
					@media(min-width: 1200px){
						// margin-bottom: 30%;
					}
				}
			}
			&:nth-child(3) {
				grid-row: 2/3;
				grid-column: 2/3;
			}
			&:nth-child(4) {
				grid-row: 1/2;
				grid-column: 3/4;
				.item-wrapper{
					@media(min-width: 1200px){
						// margin-bottom: 30%;
					}
				}
			}
			&:nth-child(5) {
				grid-row: 2/3;
				grid-column: 3/4;
			}
			&:nth-child(6) {
				grid-row: 1/2;
				grid-column: 4/5;
				.item-wrapper{
					@media(min-width: 1200px){
						// margin-bottom: 30%;
					}
				}
			}
			&:nth-child(7) {
				grid-row: 2/3;
				grid-column: 4/5;
			}
			&:nth-child(8) {
				grid-row: 1/2;
				grid-column: 5/6;
				.item-wrapper{
					@media(min-width: 1200px){
						// margin-bottom: 30%;
					}
				}
			}
			&:nth-child(9) {
				grid-row: 2/3;
				grid-column: 5/6;
			}
			&:nth-child(2n+1) {
				align-self: flex-end;
				@media (max-width: 767px) {
					align-self: auto;
				}
			}
			&:first-child {
				align-self: flex-start;
				height: 100%;
			}
			h3 {
				transition: 0.3s color;
				-webkit-transition: 0.3s color;
				-moz-transition: 0.3s color;
				-o-transition: 0.3s color;
				overflow: hidden;
				margin-bottom: 13px;
				@media (max-width: 767px) {
					margin: 3px 0 5px 0;
					max-height: 100%;
				}
            }
            p{
				font-size: 14px;
				line-height: 17px;
				margin-bottom: 9px;
            }
            p + p{
                margin-bottom: 0;
            }
		}
		.item-wrapper {
			margin-bottom: 0px;
			height: 100%;
			position: relative;
			padding: 8px;
			transition: 0.3s box-shadow, 0.5s background-color, 0.5s transform;
			-webkit-transition: 0.3s box-shadow, 0.5s background-color, 0.5s transform;
			-moz-transition: 0.3s box-shadow, 0.5s background-color, 0.5s transform;
			-o-transition: 0.3s box-shadow, 0.5s background-color, 0.5s transform;
			padding-bottom: 15px;
			// display: flex;
			// flex-direction: column;
			// justify-content: space-between;
			@media(max-width: 991px) {
				height: calc(100% - 22px);
				padding: 0;
			}
			@media (max-width: 767px) {
                margin-bottom: 0px;
                padding-bottom: 0;
			}
			.category {
				position: absolute;
				left: 15px;
				right: auto;
				top: 15px;
				z-index: 1;
				opacity: 0;
				transition: 0.4s opacity;
				-webkit-transition: 0.4s opacity;
				-moz-transition: 0.4s opacity;
				-o-transition: 0.4s opacity;
			}
			.trending-now-image {
				margin-bottom: 10px;
				position: relative;
				overflow: hidden;
				height: calc(100% - 108px);
				@media(max-width: 991px) {
					height: calc(100% - 85px);
				}
				@media (max-width: 767px) {
					margin-bottom: 4px;
                }
                p{
                    font-weight: 400;
                    color: #626262;
                }
				img {
					transition: 0.7s transform;
					-webkit-transition: 0.7s transform;
					-moz-transition: 0.7s transform;
					-o-transition: 0.7s transform;
                    max-width: 100%;
					width: auto;
					height: auto;
                    object-fit: cover;
                    object-position: center;
				}
				.video-icon {
					position: absolute;
					top: 11px;
					left: 18px;
				}
				.item-img {
					height: 100%;
					.image-conatiner{
						@media(max-width: 1024px){
							height: 100%;
							img{
								width: 100%;
								height: 100%;
							}
						}
					}
                    // .image-conatiner{
                    //     max-height: 200px;
                    // }
                    // @media (max-width: 991px) {
                    //     .image-conatiner{
                    //         max-height: 200px;
                    //     }
                    // }
                    // @media (max-width: 767px) {
                    //     .image-conatiner{
                    //         max-height: 110px;
                    //     }
                    // }
				}
			}
			.item-title {
				margin-bottom: 5px;
				min-height: 40px;
				@media (max-width: 767px) {
					margin-bottom: 5px;
				}
			}
			&:hover {
				h3{
					color: #0098ff;
				}
				@media(min-width: 991px) {
					cursor: pointer;
					box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.12);
					&:after {
						transform: scaleY(1);
					}
					.category {
						opacity: 1;
						top: 15px;
						@media (max-width: 767px) {
							top: 0px;
						}
                    }
                    h3 {
                        color: #0098ff;
                    }
				}

			}
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				transform: scaleY(0);
				transform-origin: bottom center;
				background: #ffffff;
				z-index: -1;
				transition: transform 0.3s;
				-webkit-transition: transform 0.3s;
				-moz-transition: transform 0.3s;
				-o-transition: transform 0.3s;
			}
		}
	}
}

//trending now style end
//what's new style start
.carousel-container section.whats-new {
	background-color: #F0F9FF;
	.item-wrapper{
		p{
            height: auto;
            &:last-child{
                height: auto;
                margin: 0;
            }
		}
	}
	h2 {
		color: #343434;
        padding-bottom: 18px;
        @media (max-width: 1024px) {
            padding-bottom: 0;
        }
		@media (max-width: 767px) {
			padding-bottom: 0;
		}
	}
	h3 {
		color: #343434;
        padding-bottom: 13px;
        @media (max-width: 767px) {
            margin-bottom: 8px;
			padding-bottom: 0;
        }
	}
	p {
        color: #626262;
	}
	.category {
		margin-bottom: 11px;
	}
	.dots-group span {
		background-color: rgba(205, 205, 205, 0.58);
	}
	.currently-showing-img{
		@media (max-width: 991px) {
			img{
				width: 100%;
			}
		}
	}
}

//what's new style end
//explore style start
section.explore {
    padding: 40px 0px 40px;
    overflow: hidden;
	@media (max-width: 767px) {
		padding: 20px 0px 5px;
	}
	.explore-text {
		color: #626262;
		font-family: 'Rubik', sans-serif;
		font-size: 17px;
		margin-bottom: 22px;
		display: inline-block;
        line-height: 20px;
        p{
            color: #626262;
            font-family: 'Rubik', sans-serif;
            font-size: 17px;
            margin-bottom: 0;
        }
		@media (max-width: 767px) {
			font-size: 13px;
			margin-bottom: 10px;
			line-height: 18px;
            font-weight: 100;
            p{
                font-size: 13px;
                margin-bottom: 0;
                line-height: 18px;
                font-weight: 100;
            }
        }
	}
	.grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 25px;
		-ms-overflow-style: none; // IE 10+
		scrollbar-width: none; // Firefox
		&::-webkit-scrollbar {
			display: none; // Safari and Chrome
		}
		@media(max-width: 1024px) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}
		@media(max-width: 991px) {
			display: flex;
            flex-wrap: wrap;
            margin: 0 -12px;
		}
		@media(max-width: 767px){
			flex-wrap: nowrap;
			overflow-x: auto;
			margin: 0;
		}
		h3{
			color: #343434;
			transition: 1s all;
			-webkit-transition: 1s all;
			-moz-transition: 1s all;
			-o-transition: 1s all;
			margin-bottom: 0;
			margin-top: 10px;
			@media (max-width: 991px) {
				margin-bottom: 20px;
				line-height: 18px;
			}
			@media(max-width: 767px){
				margin-bottom: 0px;
			}
		}
		.item {
			position: relative;
			z-index: 1;
			@media(min-width: 992px) and (max-width: 1280px) {
				height: calc(100% - 25px);
            }
            @media (max-width: 991px) {
                padding: 0 12px;
                margin-bottom: 0;
            }
            @media (max-width: 767px) {
                padding: 0 5px;
				margin-bottom: 15px;
				flex: 1 0 40%;
				max-width: 40%;
            }
			&:first-child {
				grid-row: 1/3;
                grid-column: 1/2;
				@media (max-width: 991px) {
                    flex: 0 0 50%;
				}

			}
			&:nth-child(2) {
				@media (max-width: 991px) {
                    flex: 0 0 50%;
				}
			}
			&:nth-child(3) {
				@media (max-width: 991px) {
                    flex: 0 0 50%;
				}
			}
			&:nth-child(4) {
				@media (max-width: 991px) {
                    flex: 0 0 50%;
				}
			}
			&:nth-child(5) {
				@media (max-width: 991px) {
                    flex: 0 0 50%;
				}
			}
			&:after{
				content: "";
				position: absolute;
				top: -8px;
				left: -8px;
				width: calc(100% + 16px);
				height: calc(100% + 16px);
				transform: scaleY(0);
				transform-origin: bottom center;
				background: #ffffff;
				z-index: -1;
				box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.12);
				transition: transform 0.3s;
				-webkit-transition: transform 0.3s;
				-moz-transition: transform 0.3s;
				-o-transition: transform 0.3s;
			}
			&:hover{
				@media(min-width: 991px){
					&:after{
						transform: scaleY(1);
					}
					h3{
						color: #0098ff;
						transition: 1s all;
						-webkit-transition: 1s all;
						-moz-transition: 1s all;
						-o-transition: 1s all;
					}
				}
			}
		}
		.item-wrapper {
			@media (max-width: 767px) {
				margin-bottom: 0;
            }
			.explore-image {
				margin-bottom: 0;
				position: relative;
				overflow: hidden;

				@media (max-width: 767px) {
					margin-bottom: 10px;
					//height: 150px;
    				overflow: hidden;
				}
				@media (max-width: 767px) and (orientation: portrait){
					//height: 85px;
				}
				@media (max-width: 1280px) {
					.item-img {
						width: 100%;
						height: 100%;
						img {
							width: 100%;
						}
					}
				}
				img {
					transition: 0.9s transform;
					-webkit-transition: 0.9s transform;
					-moz-transition: 0.9s transform;
					-o-transition: 0.9s transform;
					height: 100%;
					object-fit: cover;
					width: 100%;
				}
			}
			.explore-category {
				background-color: #092438;
				color: #ffffff;
				font-family: 'Montserrat', sans-serif;
				line-height: 18px;
				text-align: center;
				font-weight: 600;
				display: inline-block;
				padding: 2px 4px;
				font-size: 14px;
				min-width: 50px;
				margin: 20px 0 5px;
				@media (max-width: 767px) {
					width: auto;
					margin: 0 3px 3px;
					display: inline-block;
					padding: 0 5px;
					font-size: 11px;
					line-height: 18px;
					min-height: auto;
					height: auto;
					text-align: left;
				}
			}
			.item-wrapper {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				&.explore-article {
					grid-template-columns: repeat(1, 1fr);
				}
			}
		}
		.explore-rightside-content {
			.item-wrapper {
				display: grid;
				grid-template-columns: 1.5fr 1fr;
                grid-gap: 19px;
                .explore-category{
                    margin-top: 0;
                }
				@media(max-width: 1366px) {
					grid-template-columns: repeat(1.5, auto);
					.explore-image {
						//width: 230px;
						@media (max-width: 991px) {
                            width: auto;
                            margin: 0;
						}
					}
				}
				@media(max-width: 1024px) {
					grid-template-columns: 1fr 1fr;
				}
				@media(min-width: 992px) and (max-width: 1280px) {
					width: 100%;
					height: 100%;
				}
				@media(max-width: 991px) {
					grid-template-columns: 1fr;
				}
				@media (max-width: 767px) {
					grid-template-columns: 1fr;
					grid-gap: 10px;
				}
				.explore-image {
					@media(min-width: 992px) and (max-width: 1280px) {
						width: 100%;
                        height: 100%;
					}
					@media (max-width: 767px) {
                        width: auto;
                        //height: 150px;
                    }
                    @media (max-width: 640px) {
                        //height: 85px;
                    }
					img {
						@media(min-width: 992px) and (max-width: 1280px) {
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}

//explore style end
// SISTICMoments Start
.instafeeds-loading{
	text-align: center;
}

section{
    &.sistic-moments {
        background: #F0F9FF;
        padding-top: 42px;
        overflow: hidden;
        padding-bottom: 0;
        @media (max-width: 767px) {
            padding-top: 20px;
        }
        h2{
            @media (max-width: 767px) {
                padding-bottom: 20px;
                padding-top: 2px;
            }
        }
        .slick-slider{
            .slick-next, .slick-prev{
                display: none !important;
            }
            .slick-list{
				padding: 0;
				overflow: visible;
				.slick-track{
					@media(max-width: 1024px){
						display: flex;
						flex-wrap: nowrap;
					}
				}
                .slick-slide{
					overflow: visible;
					width: 181px !important;
					height: 181px !important;
					@media(max-width: 767px){
						width: auto !important;
						height: auto !important;
					}
                    img{
						transition: 1s transform;
						-webkit-transition: 1s transform;
						-moz-transition: 1s transform;
						-o-transition: 1s transform;
						max-width: 100%;
						height: 181px;
						object-fit: cover;
						object-position: center;
						width: 100%;
						@media(max-width: 991px){
							max-width: none;
						}
                    }
                    &:hover{
                        img{
                            transform: translateY(-10px);
							transition: 1s transform;
							-webkit-transition: 1s transform;
							-moz-transition: 1s transform;
							-o-transition: 1s transform;
                        }
                    }
                }
            }
        }
        .moments-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
		.sistic-moments-wrapper {
				-ms-overflow-style: none; // IE 10+
				scrollbar-width: none; // Firefox
			@media(max-width: 767px){
				display: flex;
				flex-wrap: nowrap;
				overflow-x: auto;
			}
			a{
				@media(max-width: 767px){
					flex: 1 0 34%;
					max-width: 34%;
				}
				@media(max-width: 767px) and (orientation: landscape){
					flex: 1 0 20%;
					max-width: 20%;
				}
				img{
					@media(max-width: 767px){
						max-width: 100%;
						max-height: 140px;
						object-fit: cover;
						object-position: center;
						height: 100%;
						width: 100%;
					}
				}
			}
			&::-webkit-scrollbar {
				display: none; // Safari and Chrome
			}
		}
		@media(max-width: 767px){
			-ms-overflow-style: none; // IE 10+
			scrollbar-width: none; // Firefox
		}
		&::-webkit-scrollbar {
			@media(max-width: 767px){
				display: none;  // Safari and Chrome
			}
		}
    }
}


// SISTICMoments End

@keyframes loaderanimate {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}
}

//loader
.loader {
	display: none;
}

.grid-container .item .item-wrapper {
  .item-img {
    position: relative;
    img {
      visibility: visible;
    }
    &:after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-image: url(../../assets/images/loader-image.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0;
	  transition: all 1s;
	  -webkit-transition: 1s all;
	  -moz-transition: 1s all;
	  -o-transition: 1s all;
    }
  }
}
//page-load
.page-load {
	.grid-container .item .item-wrapper {
		position: relative;
		overflow: hidden;
		*:not(div):not(img) {
			background: #ededed;
			opacity: 1;
			color: transparent;
			padding: 0px;
			line-height: 0px;
			font-size: 0px;
			display: block;
		}
		&:after {
      content: '';
      opacity: 1;
			background-color: #333;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			-webkit-animation-duration: .7s;
			animation-duration: .7s;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			-webkit-animation-name: loaderanimate;
			animation-name: loaderanimate;
			-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
			background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(30%, rgba(255, 255, 255, .6)), color-stop(81%, rgba(255, 255, 255, 0)));
			background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .6) 30%, rgba(255, 255, 255, 0) 81%);
    }
    span{
      width: 30%;
      height: 20px;
      margin-bottom: 11px;
    }
    p{
      width: 80%;
      height: 16px;
      margin-bottom: 10px;
    }
    a{
      width: 95%;
      height: 36px;
      margin-bottom: 15px;
      overflow: hidden;
    }
		.item-img {
			position: relative;
			img {
        visibility: hidden;
		transition: all 1s;
		-webkit-transition: 1s all;
		-moz-transition: 1s all;
		-o-transition: 1s all;
			}
			&:after {
				position: absolute;
				content: "";
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background-image: url(../../assets/images/loader-image.jpg);
				background-position: center;
				background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
			}
		}
		.promotion-timer,
		.item-title-overlay {
			display: none;
		}
	}
}

.banner{
	img{
		width: 100%;
		// opacity: 0;
		transition: opacity .5s ease-in-out;
		-webkit-transition: opacity .5s ease-in-out;
		-moz-transition: opacity .5s ease-in-out;
		-o-transition: opacity .5s ease-in-out;
		// &.mobile-only-banner{
		// 	display: none;
		// 	@media(max-width: 767px){
		// 		opacity: 1;
		// 		display: block;
		// 	}
		// }
		// &.image.loaded{
		// 	@media(max-width: 767px){
		// 		opacity: 0;
		// 		display: none;
		// 	}
		// }
	}
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
