.banner .banner-carousel{
    .slick-slide:not(.slick-active) > div { 
        // transform: scale(.85); 
        transform: scaleX(.9) scaleY(.8) translateY(40px) !important; 
        @media(max-width: 991px) {
            transform: scaleX(.9) scaleY(.7) translateY(40px) !important; 
        }
        @media(max-width: 767px) {
            transform: scaleX(0.9) scaleY(0.7) translateY(15px) !important; 
        }
    } 
    .slick-slide > div {
        transform: scale(.85);
        transition: transform .3s cubic-bezier(.4,0,.2,1);  
    }
    .slick-center > div {
        transform: scale(1.05); 
    }
    .slider__item > img {
        width: 100%;
        height: auto;
    }
    // .img1{
    // height: 350px;
    // width: 600px;
    // }
}
  //Banner style start
.banner {
	padding: 0px;
	position: relative;
    width: 100%;
    background: #eaeced;
   
    .main-image{
      opacity: 0;
	  transition: opacity .5s;
	  -webkit-transition: opacity .5s;
	  -moz-transition: opacity .5s;
	  -o-transition: opacity .5s;
    }
    .show-image{
        opacity: 1 !important;
    }
	
	.banner-carousel {
		padding-top: 150px;
		height: 100%;
		position: relative;
        z-index: 1;
        padding-bottom: 28px;
        .banner-background{
            background-color: #000;
            height: 100px;
            background-color: #e4e4e4;
            height: 204px;
            margin: 10px;
            display: none;
        }
        @media(max-width: 1980px) {
            padding-top: 155px;
        }
        @media(max-width: 1480px) {
            padding-top: 147px;
        }
        @media(max-width: 1280px) {
            padding-top: 145px;
            padding-bottom: 25px;
        }
		@media(max-width: 991px) {
			width: 100%;
            text-align: center;
            padding-top: 90px;
        }
        @media(max-width: 767px) {
            padding-bottom: 15px;
            padding-top: 118px;
        }
        @media(max-width: 576px) {
            padding-top: 118px;
        }
		ul {
			display: grid;
			padding-top: 22px;
			grid-template-columns: 1fr 2fr 1fr;
			justify-content: center;
			text-align: center;
			align-items: center;
            grid-gap: 20px;
            height: 424px;
            position: relative;
			@media(max-width: 991px) {
				padding-top: 30px;
			}
			@media(max-width: 767px){
				padding-top: 15px;
				display: flex;
			}
			li {
                list-style: none;
                width: 60%;
                position: absolute;
                left: 20%;
                top: 41px;
				&:first-child {
                    margin-left: -22%;
                    position: absolute;
                    left: 0;
                    top: 25%;
                    width: 40%;
					@media(max-width: 991px) {
						margin-left: -50%;
						align-items: center;
						flex: 0 0 45%;
					}
					@media (max-width: 767px) {
						flex: 0 0 55%;
					}
				}
				&.active {
					@media(max-width: 991px) {
						flex: 0 0 55%;
					}
					@media (max-width: 767px) {
						flex: 0 0 85%;
						padding: 10px;
					}
					&+.slide {
                        margin-right: -22%;
                        position: absolute;
                        right: 0;
                        left: 0;
                        top: 25%;
                        width: 40%;
                        left: auto;
						@media(max-width: 991px) {
							margin-right: -50%;
							flex: 0 0 45%;
						}
						@media (max-width: 767px) {
							flex: 0 0 55%;
						}
					}
				}
			}
        }
        .shadow{
            position: absolute;
            z-index: 1;
            left: 20%;
            /* top: 0px; */
            bottom: -40px;
            right: 0;
            width: 60%;
            @media(max-width: 1260px) {
                bottom: -15px;
            }
            @media(max-width: 767px) {
                bottom: -8px;
                opacity: 0.5;
            }
        }
		.active-banner-image {
			border-bottom-left-radius: 100%;
			border-bottom-right-radius: 100%;
			position: absolute;
			max-height: 90%;
			z-index: -1;
			overflow: hidden;
			left: 0;
			top: 0px;
			bottom: 0;
			right: 0;
			width: 100%;
			transform: scale(1.1);
            margin-top: 0;
            &::after{
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 100px;
                height: 30px;
                content: "";
                background: transparent;
                box-shadow: 0 0 50px #000;
            }
            @media(max-width: 1260px) {
                max-height: 86%;
            }
			@media(max-width: 991px) {
				max-height: 100%;
				margin-top: -45px;
			}
			@media (max-width: 767px) {
				margin-top: 0px;
				border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                max-height: 88%;
			}
			img {
				width: 100%;
				object-fit: cover;
				object-position: 0% 40%;
				filter: blur(20px);
                height: 600px;
                transition: background-image 3s ease-in-out;
				@media(max-width: 991px) {
					object-position: center;
					filter: blur(5px);
					height: 90%;
				}
			}
		}
		.slick-slider  {
            position: relative;
            margin-left: 0px;
            z-index: 10;
            .slick-list{
                overflow: inherit;
            }
            .slick-slide{
                &.slick-center{
                    > div{
                        transform: scale(1.05);
                        div{
                            box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
                        }
                    }
                }
                > div{
                    transform: scale(0.89);
                }
            }
            .slick-prev{
                left: 10px;
                &:hover{
                    border: none;
                }
                &::before{
                    box-shadow: 1px -1px 0 1px #0098FF inset;
                    -webkit-box-shadow: 2px -2px #0098FF inset;
                }
                @media(max-width: 767px) {
                    display: none !important;
                }
            }
            .slick-next{
                right: 10px;
                &:hover{
                    border: none;
                }
                &::before{
                    box-shadow: 1px -1px 0 1px #0098FF inset;
                    -webkit-box-shadow: 2px -2px #0098FF inset;
                }
                @media(max-width: 767px) {
                    display: none !important;
                }
            }
		}
	}
	.banner-thumbnail {
        padding: 0;
        position: relative;
        z-index: 1;
        .slick-slider{
            .slick-list{
                overflow: visible;
                .slick-slide{
                    > div{
                        transform: scale(0.95);
                    }
                    img{
                        transition: 0.6s transform;
                        -webkit-transition: 0.6s transform;
                        -moz-transition: 0.6s transform;
                        -o-transition: 0.6s transform;
                    }
                    &.slick-current{
                        div > div{
                            position: relative;
                            &::before{
                                height: 6px;
                                content: "";
                                background: #0098ff;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                z-index: 1;
                                transition: 0.6s width, 0.5s left;
                                -webkit-transition: 0.6s width, 0.5s left;
                                -moz-transition: 0.6s width, 0.5s left;
                                -o-transition: 0.6s width, 0.5s left;
                                @media(max-width: 767px) {
                                    height: 3px;
                                }
                            }
                        }
                    }
                    &:hover{
                        cursor: pointer;
                        z-index: 1;
                        position: relative;
                        img{
                            transform: scale(1.1) translateY(-10px);
                        }
                    }
                    &.slick-active.slick-current{
                        &:hover{
                            div > div{
                                position: relative;
                                &::before{
                                    left: -6px;
                                    width: calc(100% + 12px);
                                }
                            }
                        }
                    }
                }
            }
            .slick-prev{
                position: absolute;
                left: 15px;
                top: 48%;
                background: url(../../../assets/images/left-oval-arrow.svg) no-repeat;
                height: 28px;
                width: 28px;
                &:hover{
                    opacity: 0.9;
                    border: none;
                }
                @media(max-width: 767px) {
                    height: 20px;
                    width: 20px;
                    background-size: 100% 100%;
                    left: 10px;
                }
            }
            .slick-next{
                position: absolute;
                right: 15px;
                top: 48%;
                background: url(../../../assets/images/right-oval-arrow.svg) no-repeat;
                height: 28px;
                width: 28px;
                &:hover{
                    opacity: 0.9;
                    border: none;
                }
                @media(max-width: 767px) {
                    height: 20px;
                    width: 20px;
                    background-size: 100% 100%;
                    right: 10px;
                }
            }
        }
		ul {
			display: flex;
			flex-wrap: nowrap;
			li {
				flex: 0 0 auto;
				list-style: none;
				@media(max-width: 767px){
					flex: 0 0 16%;
				}
				a {
					display: inline-block;
				}
			}
		}
	}
}