.dropbtn {
    background-color: blue;
    color: white;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    width: 160px;
    right: 0;
    opacity: 0;
    background-color: #FFF;
    position: absolute;
    padding: 0px;
    height: 0;
    top: 150%;
    z-index: 2;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* .dropdown-content a:hover {background-color: #f1f1f1} */



.dropdown:hover .dropbtn {
    background-color: blue;
}
    