// Top-advertisment style start
.homeTop {
	background-color: #121212;    
    z-index: 3;
    max-height: 0;
    transition: max-height 0.5s height;
    -webkit-transition: max-height 0.5s height;
    -moz-transition: max-height 0.5s height;
    -o-transition: max-height 0.5s height;
    overflow: hidden;
    position: fixed;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    display: flex !important;
    align-items: center;
    @media(max-width: 767px){
        position: relative;
    }
    & + .header.homepage{
        top: 0px;
        min-height: 110px;
        max-height: 110px;
        @media(max-width: 1024px){
            min-height: 110px;
            max-height: 110px;
        }
        @media(max-width: 991px){
            min-height: 55px;
            max-height: 55px;
        }
        @media(max-width: 768px){
            min-height: 60px;
            max-height: 60px;
        }
        @media(max-width: 767px){
            min-height: 110px;
            max-height: 110px;
        }
        & + div, & + .header.leaderboard-show + div{
            padding-top: 112px;
            @media(max-width: 767px){
                padding-top: 7px;
            }
        }
        & + .home-page-wrapper{
            .ticker-wrap.hide-news{
                top: 110px;
                @media(max-width: 1440px){
                    top: 107px;
                }
                @media(max-width: 1366px){
                    top: 107px;
                }
                @media(max-width: 1280px){
                    top: 107px;
                }
                @media(max-width: 1024px){
                    top: 107px;
                }
                @media(max-width: 991px){
                    top: 55px;
                }
                @media(max-width: 768px){
                    top: 60px;
                }
                @media(max-width: 767px){
                    top: 0px;
                }
            }
        }
    }
    div{
        position: absolute;
        height: 100%;
        position: absolute; 
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            img{
                width: 100%;
            }
        }
    }
    &.show-add{
        max-height: 90px;
        transition: max-height 0.5s ease-in;
        -webkit-transition: max-height 0.5s ease-in;
        -moz-transition: max-height 0.5s ease-in;
        -o-transition: max-height 0.5s ease-in;
        min-height: 90px;
        @media(max-width: 1366px){
            min-height: 73px;
            max-height: 73px;
        }
        @media(max-width: 1024px){
            min-height: 65px;
            max-height: 65px;
        }
        @media(max-width: 991px){
            min-height: 55px;
            max-height: 55px;
        }
        @media(max-width: 768px){
            min-height: 50px;
            max-height: 50px;
        }
        @media(max-width: 650px){
            min-height: 30px;
            max-height: 30px;
        }
        & + .header.homepage{
            top: 89px;
            @media(max-width: 1366px){
                top: 73px;
            }
            @media(max-width: 1024px){
                top: 65px;
            }
            @media(max-width: 991px){
                top: 55px;
            }
            @media(max-width: 768px){
                top: 50px;
            }
            @media(max-width: 767px){
                top: 0px;
            }
            @media(max-width: 740px){
                top: 0px;
            }
            & + div{
                padding-top: 200px;
                @media(max-width: 1440px){
                    padding-top: 183px;
                }
                @media(max-width: 1024px){
                    padding-top: 175px;
                }
                @media(max-width: 991px){
                    padding-top: 163px;
                }
                @media(max-width: 768px){
                    padding-top: 160px;
                }
                @media(max-width: 767px){
                    padding-top: 7px;
                }
            }
            & + .home-page-wrapper{
                .ticker-wrap.hide-news{
                    top: 196px;
                    @media(max-width: 1980px){
                        top: 199px;
                    }
                    @media(max-width: 1440px){
                        top: 199px;
                    }
                    @media(max-width: 1366px){
                        top: 183px;
                    }
                    @media(max-width: 1280px){
                        top: 183px;
                    }
                    @media(max-width: 1024px){
                        top: 175px;
                    }
                    @media(max-width: 991px){
                        top: 110px;
                    }
                    @media(max-width: 768px){
                        top: 110px;
                    }
                    @media(max-width: 767px){
                        top: 0px;
                    }
                }
            }
        }
        & + .header.leaderboard-show{
            top: 89px;
            @media(max-width: 1366px){
                top: 73px;
            }
            @media(max-width: 1024px){
                top: 65px;
            }
            @media(max-width: 991px){
                top: 55px;
            }
            @media(max-width: 768px){
                top: 50px;
            }
            @media(max-width: 767px){
                top: 0px;
            }
            @media(max-width: 740px){
                top: 0px;
            }
            & + div{
                padding-top: 191px;
                @media(max-width: 1440px){
                    padding-top: 191px;
                }
                @media(max-width: 1366px){
                    padding-top: 175px;
                }
                @media(max-width: 1024px){
                    padding-top: 167px;
                }
                @media(max-width: 991px){
                    padding-top: 110px;
                }
                @media(max-width: 768px){
                    padding-top: 104px;
                }
                @media(max-width: 767px){
                    padding-top: 0px;
                }
            }
        }
    }
	.ads-image {
		text-align: center;
		padding: 5px;
		display: inline-block;
		width: 100%;
	}
	.ads-close {
		position: absolute;
		right: 25px;
        top: 18px;
        background: transparent;
        border: none;
        padding: 0;
        line-height: inherit;
        &::after{
            display: none;
        }
        img{
            width: 14px;
            transition: 0.5s opacity;
            -webkit-transition: 0.5s opacity;
            -moz-transition: 0.5s opacity;
            -o-transition: 0.5s opacity;
            &.hover-img{
                position: absolute;
                width: 14px;
                height: auto;
                left: 0px;
                top: 2px;
                opacity: 0;
                @media(max-width: 767px){
                    width: 12px;
                }
            }
        }
        @media(max-width: 767px){
            top: 50%;
            transform: translateY(-50%);
            img{
                width: 12px;
            }
        }
        &:hover{
             img{
                opacity: 0;
                &.hover-img{
                    opacity: 1;
                }
            }
        }
	}
}
.show-add{
    &.no-ads{
        & + .header.homepage{
            top: 0px;
            & + .home-page-wrapper .ticker-wrap.hide-news{
                top: 102px;
                @media(max-width: 1440px){
                    top: 102px;
                }
                @media(max-width: 1366px){
                    top: 102px;
                }
                @media(max-width: 1280px){
                    top: 102px;
                }
                @media(max-width: 1024px){
                    top: 102px;
                }
                @media(max-width: 991px){
                    top: 54px;
                }
                @media(max-width: 768px){
                    top: 54px;
                }
                @media(max-width: 767px){
                    top: 115px;
                }
            }
        }
    }
}