
// Top-advertisment style start
.top-ads {
	background-color: #121212;    
    z-index: 2;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    overflow: hidden;
    position: relative;
    // position: fixed;
    // width: 100%;
    // left: 0px;
    // right: 0px;
    // top: 0px;
    // @media(max-width: 767px){
    //     position: relative;
    // }
    // & + .header.homepage{
    //     top: 0px;
    //     & + div{
    //         padding-top: 112px;
    //     }
    //     & + .home-page-wrapper{
    //         .ticker-wrap.hide-news{
    //             top: 112px;
    //         }
    //     }
    // }
    &.show-add{
        max-height: 150px;
        transition: max-height 0.5s ease-in;
        -webkit-transition: max-height 0.5s ease-in;
        -moz-transition: max-height 0.5s ease-in;
        -o-transition: max-height 0.5s ease-in;
        // & + .header.homepage{
        //     top: 90px;
        //     @media(max-width: 1440px){
        //         top: 88px;
        //     }
        //     @media(max-width: 1280px){
        //         top: 79px;
        //     }
        //     @media(max-width: 1024px){
        //         top: 65px;
        //     }
        //     @media(max-width: 768px){
        //         top: 51px;
        //     }
        //     @media(max-width: 767px){
        //         top: 0px;
        //     }
        //     & + div{
        //         padding-top: 202px;
        //         @media(max-width: 1440px){
        //             padding-top: 200px;
        //         }
        //         @media(max-width: 1280px){
        //             padding-top: 191px;
        //         }
        //         @media(max-width: 1024px){
        //             padding-top: 177px;
        //         }
        //         @media(max-width: 768px){
        //             padding-top: 163px;
        //         }
        //         @media(max-width: 767px){
        //             padding-top: 112px;
        //         }
        //     }
        //      & + .home-page-wrapper{
        //         .ticker-wrap.hide-news{
        //             top: 202px !important;
        //             @media(max-width: 1440px){
        //                 top: 200px !important;
        //             }
        //             @media(max-width: 1280px){
        //                 top: 191px !important;
        //             }
        //             @media(max-width: 1024px){
        //                 top: 112px !important;
        //             }
        //             @media(max-width: 768px){
        //                 top: 60px !important;
        //             }
        //             @media(max-width: 767px){
        //                 top: 0px !important;
        //             }
        //         }
        //     }
        // }
    }
	.ads-image {
		text-align: center;
		padding: 5px;
		display: inline-block;
		width: 100%;
	}
	.ads-close {
		position: absolute;
		right: 39px;
        top: 18px;
        background: transparent;
        border: none;
        padding: 0;
        line-height: inherit;
        &::after{
            display: none;
        }
        img{
            width: 14px;
        }
        @media(max-width: 767px){
            top: 50%;
            transform: translateY(-50%);
            img{
                width: 8px;
            }
        }
	}
}
