.trackY{
    border-radius: 2px !important;
    background: rgba(0, 0, 0, 0.1) !important;
    width: 5px !important;
}
.tHuMbY{
    border-radius: 2px !important;
    background: rgba(0, 0, 0, 0.3)!important;
    width: 100% !important;
}
