.agent-info{
  .currently-list{
    .image-conatiner{
      height: auto !important;
    }
  }
  .title{
    .info-popover{
      width: 200px;
    }
    .info-popover:before{
      display: none !important;
    }
  }
}
