.festival-wrapper{
    // .event-banner{
    //     background-image: url("../../../assets/images/sell-tickets-banner.jpg");
    //     background-size: cover;
    //     background-position: center;
    //     height: 349px;
    //     @media (max-width: 576px) {
    //         max-height: 174px;
    //     }
    // }
    .simmerOuter{
      .contentLoader{
         .animated-background{
            width: calc(100% - 30px);
            margin: 0 auto;
        }
      }
    }
    .festival-top-slider{
        max-height: 460px;
        overflow: hidden;
        padding-bottom: 40px;
        @media(max-width: 767px){
            padding-bottom: 25px;
            .slick-slider{
                .slick-dots{
                    li{
                        margin-top: 15px;
                    }
                }
            }
        }
        .slick-slide{
            img{
                max-height: 349px;
                object-fit: cover;
                object-position: center;
                @media(max-width: 768px){
                    min-height: 190px;
                }
            }
        }
        .slick-arrow{
            height: 85px;
            width: 35px;
            background-position: 10px 32px;
            background-color: rgba(0, 0, 0, 0.7);
            background-size: 10px 18px;
            @media(max-width: 768px){
                display: none !important;
            }
            &:hover{
                border: none;
                outline: none;
            }
            &.slick-prev{
                left: -5px;
                background-image: url('../../../assets/images/left-arrow-white.svg');
                @media(max-width: 1440px){
                    left: 0px;
                }
            }
            &.slick-next{
                right: 0px;
                background-image: url('../../../assets/images/right-arrow-white.svg');
            }
        }
    }
    .Home-tab{
        display: flex;
        justify-content: space-between;
        padding: 22px 0 10px;
        @media(max-width: 767px){
            padding: 15px 0 10px;
        }
        .explore-nav{
            ul{
                li{
                    a{
                        color: #0098FF;
                        font-family: 'Rubik', sans-serif;
                        font-size: 14px;
                        line-height: 17px;
                    }
                    &:last-child{
                        color: #6A6A6A;
                        @media(max-width: 576px){
                            font-size: 13px;
                        }
                        a{
                            color: #6A6A6A;
                            @media(max-width: 576px){
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
    .welcome-sifa{
        padding: 10px 0 12px;
        @media(max-width: 576px){
            padding: 0;
        }
        h2{
            color: #343434;
            font-family: 'Montserrat', sans-serif;
            font-size: 32px;
            font-weight: 600;
            line-height: 39px;
            padding: 0;
            text-align: center;
            @media(max-width: 767px){
                line-height: normal;
            }
            @media(max-width: 576px){
                font-size: 20px;
            }
        }
        span{
            color: #626262;
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            font-style: italic;
            line-height: 17px;
            text-align: center;
            display: block;
            padding: 6px 0 14px;
            @media(max-width: 767px){
                font-size: 12px;
                padding: 5px 0 6px;
            }
        }
        p{
            color: #949494;
            font-family: 'Rubik', sans-serif;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 27px;
            margin-bottom: 0;
            @media(max-width: 576px){
                font-size: 11px;
                padding-bottom: 10px;
            }
        }
    }
    .featured-wrapper{
        background-color: #0B304B;
        padding: 38px 0;
        @media(max-width: 768px){
            padding: 20px 0;
        }
        .featured-container{
            padding-right: 0;
            .featured-box{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                .featured{
                    padding-right: 30px;
                    width: 25%;
                    flex: 0 0 25%;
                    @media(max-width: 768px){
                        margin-right: 0px;
                        padding-right: 20px;
                        padding-top: 10px;
                    }
                    @media(max-width: 767px){
                        width: 32%;
                        flex: 0 0 32%;
                        padding: 5px 10px 0px 0px;
                    }
                    h3{
                        color: #FFFFFF;
                        padding-top: 10px;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 37px;
                        margin-bottom: 25px;
                        padding-bottom: 0px;
                        @media(max-width: 768px){
                            font-size: 18px;
                            line-height: 28px;
                            padding-bottom: 10px;
                            margin-bottom: 0px;
                        }
                        @media(max-width: 767px){
                            padding-bottom: 5px;
                            font-size: 16px;
                            line-height: 21px;
                            padding-top: 0px;
                        }
                        @media(min-width: 601px) and (max-width: 965px){
                            padding-bottom: 0px;
                            font-size: 16px;
                            line-height: 21px;
                            padding-top: 0px;
                            height: auto;
                            margin-bottom: 10px;
                        }
                    }
                    .featured-title-link{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        flex: 0 0 100%;
                        max-width: 100%;
                        img{
                            width: 100%;
                            max-width: 100%;
                            height: auto;
                            object-position: center;
                            object-fit: cover;
                            @media(max-width: 767px){
                                // max-height: 171px;
                                // max-width: 107px;
                            }
                            @media(max-width: 576px){
                                max-height: 170px;
                                object-position: unset;
                                object-fit: unset;
                            }
                        }
                        h3{
                            color: #FFFFFF;
                            font-family: 'Rubik', sans-serif;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 22px;
                            padding: 12px 0;
                            margin: 0;
                            transition: 0.5s color;
                            @media(max-width:768px){
                                font-size: 14px;
                                line-height: 18px;
                                max-height: 100%;
                                height: 100%;
                            }
                        }
                        &:hover{
                            h3{
                                color: #0098FF;
                            }
                        }
                    }
                    p{
                        color: #B5BDC3;
                        font-family: 'Rubik', sans-serif;
                        font-size: 14px;
                        line-height: 20px;
                        @media(max-width: 1024px){
                            margin-bottom: 0px;
                        }
                        @media(max-width:567px){
                            font-size: 12px;
                        }
                    }
                }
                .festival-lineup{
                    width: 75%;
                    flex: 0 0 75%;
                    background-color: #F0F9FF;
                    padding: 20px 51px 25px 0px;
                    @media (max-width: 768px) {
                        overflow: auto;
                        padding: 10px 22px 15px 3px;
                        overflow: hidden;
                    }
                    @media(max-width: 767px){
                        padding : 5px 0px 15px 3px;
                        width: 68%;
                        flex: 0 0 68%;
                    }
                    h2{
                        color: #343434;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 37px;
                        padding-left: 31px;
                        @media(max-width: 1024px){
                            padding-left: 15px;
                        }
                        @media(max-width:768px){
                            font-size: 20px;
                            line-height: 28px;
                            padding-left: 10px;
                            padding-bottom: 10px;
                        }
                        @media(max-width: 767px){
                            font-size: 16px;
                            line-height: 21px;
                            padding-left: 5px;
                            padding-bottom: 5px;
                        }
                    }
                    .festival-event{
                        display: flex;
                        flex-wrap: wrap;
                        -ms-overflow-style: none; // IE 10+
                        scrollbar-width: none; // Firefox
                        height: calc(100% - 55px);
                        &::-webkit-scrollbar {
                            display: none; // Safari and Chrome
                        }
                        @media(max-width: 768px){
                            overflow: auto;
                        }
                        @media(max-width: 767px){
                            flex-wrap: unset;
                            align-items: flex-start;
                        }
                        @media(min-width: 601px) and (max-width: 965px){
                            height: calc(100% - 10px);
                        }
                        div{
                            width: 100%;
                            height: auto;
                            @media(min-width: 601px) and (max-width: 965px){
                                overflow: hidden;
                            }
                            // @media(min-width: 1024px){
                            //     height: 100%;
                            // }
                        }
                        .slick-arrow {
                            position: absolute;
                            top: 3px;
                            right: 0px;
                            width: 10px;
                            height: 20px;
                            transform: none;
                            border: 1px solid transparent;
                            background-color: transparent;
                            margin-top: -46px;
                            background-position: 0px;
                            background-image: url('../../../assets/images/arrow-right.svg');
                            &.slick-prev{
                                right: 0px;
                                transform: none;
                                left: auto;
                                margin-top: -46px !important;
                                margin-right: 75px;
                                transform: rotate(180deg);
                                top: 4px;
                            }
                            &.slick-next{
                                right: 0px;
                                transform: none;
                                left: auto;
                                margin-right: 35px;
                            }
                        }
                        .slick-slide{
                          & > div{                            
                            display: flex;
                            width: 100%;
                          }
                        }
                        .event{
                            margin: 0 33px;
                            @media(max-width: 1024px){
                                margin: 0 15px;
                            }
                            @media (max-width: 768px) {
                                margin: 0 10px;
                            }
                            @media(max-width: 767px){
                                margin: 0 5px;
                                flex: 1 0 42%;
                                max-width: 42%;
                            }
                            @media(min-width: 601px) and (max-width: 965px){
                                margin: 0 8px;
                                flex: 1 0 100%;
                                max-width: 100%;
                            }
                            @media(min-width: 1024px){
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                height: 100%;
                            }
                            .image-conatiner{
                                max-height: 185px;
                                @media(max-width: 767px){
                                    min-height: 85px;
                                    height: auto;
                                }
                            }
                            img{
                                width: 100%;
                            }
                            .event-desc{
                                display: flex;
                                flex-direction: column;
                            }
                            h2{
                                color: #343434;
                                font-family: 'Rubik', sans-serif;
                                font-size: 17px;
                                font-weight: 500;
                                line-height: 20px;
                                padding: 13px 0 0;
                                height: 70px;
                                overflow: hidden;
                                transition: 0.5s color;
                                -webkit-transition: 0.5s color;
                                -moz-transition: 0.5s color;
                                -o-transition: 0.5s color;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                overflow: hidden;
                                height: auto;
                                -webkit-box-orient: vertical;
                                min-height: 53px;
                                @media (max-width: 768px) {
                                    font-size: 13px;
                                    max-height: 70px;
                                    overflow: hidden;
                                    height: 70px !important;
                                    padding-top: 7px;
                                }
                                @media(max-width: 767px){
                                    min-height: 65px;
                                }
                                @media(max-width: 601px) and (max-width: 965px){
                                    min-height: 52px;
                                }
                            }
                            p{
                                color: #626262;
                                font-family: 'Rubik', sans-serif;
                                font-size: 14px;
                                line-height: 24px;
                                padding: 10px 0 5px;
                                max-height: 183px;
                                min-height: 183px;
                                overflow: hidden;
                                @media (max-width: 768px) {
                                    font-size: 11px;
                                    line-height: 18px;
                                    padding: 6px 0 8px;
                                    max-height: 154px;
                                    overflow-y: auto;
                                    min-height: 154px;
                                }
                                @media(min-width: 601px) and (max-width: 1024px){
                                    overflow-y: auto;
                                    max-height: 177px;
                                    min-height: 177px;
                                    padding-top: 0px;
                                    margin-top: 10px;                             
                                }
                                @media(min-width: 601px) and (max-width: 1024px) and (orientation: portrait){
                                    min-height: 190px;
                                    max-height: 190px;
                                }
                            }
                            a{
                                color: #FFFFFF;
                                font-family: 'Montserrat', sans-serif;
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 26px;
                                background-color: #0098FF;
                                border: 1px solid #0098FF;
                                padding: 2px 13px;
                                display: inline-block;
                                margin-top: 10px;
                                max-height: 30px;
                                max-width: 130px;
                                text-align: center;
                                @media(max-width: 768px){
                                    margin-top: 0px;
                                }
                                @media(max-width: 767px){
                                    margin: 0 5px 0 0;
                                }
                                @media(max-width: 567px){
                                    font-size: 11px;
                                    font-weight: 600;
                                    line-height: 18px;
                                    padding: 2px 8px;
                                }
                                &:hover{
                                    background-color: #ffffff;
                                    color: #0098FF;
                                }
                            }
                            &:hover{
                                h2{
                                    color: #0098FF;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .music-fest{
        padding: 54px 0 50px 0;
        @media(max-width: 1024px){
            padding: 54px 0 20px 0;
        }
        @media(max-width: 768px){
            padding: 23px 0;
        }
        h2{
            @media(max-width: 767px){
                font-size: 20px;
                line-height: 24px;
                padding-bottom: 10px;
            }
        }
        .music-fest-box{
            display: flex !important;
            flex-wrap: wrap;
            .fest-img{
                flex-basis: 65%;
                max-width: 65%;
                @media (max-width: 992px){
                    flex-basis: 50%;
                    max-width: 50%;
                }
                @media (max-width: 768px){
                    flex-basis: 100%;
                    max-width: 100%;
                }
                img{
                    width: 100%;
                }
            }
            .fest-cont{
                flex-basis: 35%;
                max-width: 35%;
                padding-left: 20px;
                @media (max-width: 992px){
                    flex-basis: 50%;
                    max-width: 50%;
                }
                @media (max-width: 768px){
                    flex-basis: 100%;
                    max-width: 100%;
                    padding-left: 0;
                }
                h2{
                    color: #343434;
                    font-family: 'Rubik', sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                    padding-top: 8px;
                }
                span{
                    color: #343434;
                    font-family: 'Rubik', sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 22px;
                    padding: 12px 0 8px;
                }
                p{
                    color: #626262;
                    font-family: 'Rubik', sans-serif;
                    font-size: 14px;
                    line-height: 24px;
                    padding: 8px 0 34px;
                    @media(max-width: 768px){
                        font-size: 12px;
                        padding: 8px 0 10px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .slick-arrow {
            position: absolute;
            top: 3px;
            right: 0px;
            width: 10px;
            height: 20px;
            transform: none;
            border: 1px solid transparent;
            background-color: transparent;
            margin-top: -46px;
            background-position: 0px;
            background-image: url('../../../assets/images/arrow-right.svg');
            @media(max-width: 767px){
                margin-top: -34px;
            }
            &.slick-prev{
                right: 0px;
                transform: none;
                left: auto;
                margin-top: -45px !important;
                margin-right: 75px;
                transform: rotate(180deg);
                top: 4px;
                @media(max-width: 767px){
                    margin-right: 30px;
                    margin-top: -34px !important;
                }
                &:hover{
                    border: none;
                }
            }
            &.slick-next{
                right: 0px;
                transform: none;
                left: auto;
                margin-right: 35px;
                @media(max-width: 767px){
                    margin-right: 0px;
                }
                &:hover{
                    border: none;
                }
            }
        }
        .slick-slide{
            @media(max-width: 1024px){
                height: 100%;
            }
        }
    }
   .festival-event-banner{
    background-color: #F0F9FF;
    padding: 46px 0;
    @media(max-width: 768px){
        padding: 25px 0;
    }
    .container-fluid{
        @media(max-width: 576px){
            padding-right: 0px;
        }
    }
    .fest-event-wrapper{
        // @media(max-width: 768px){
        //     width: calc(100% + 30px);
        // }
        h2{
            padding: 0;
            @media (max-width: 767px){
                font-size: 20px;
                margin-bottom: 6px;
                line-height: 24px;
            }
        }
        .fest-box{
            display: flex;
            flex-wrap: wrap;
            -ms-overflow-style: none; // IE 10+
            scrollbar-width: none; // Firefox
            -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar {
                display: none; // Safari and Chrome
            }
            @media (max-width: 1024px){
                overflow: auto;
                flex-wrap: unset;
            }
            @media (max-width: 768px) {
                overflow: auto;
                flex-wrap: unset;
            }
            .event-box{
                flex: 17.5%;
                max-width: 20%;
                margin: 22px 30px 0px 0;
                transition: 0.3s box-shadow, 0.5s background-color, 0.5s transform;
                -webkit-transition: 0.3s box-shadow, 0.5s background-color, 0.5s transform;
                -moz-transition: 0.3s box-shadow, 0.5s background-color, 0.5s transform;
                -o-transition: 0.3s box-shadow, 0.5s background-color, 0.5s transform;
                @media(max-width: 1316px) and (min-width: 1024px){
                    margin: 22px 22px 22px 0;
                }
                @media(max-width: 1024px){
                    flex: 1 0 20.5%;
                    max-width: 20%;
                }
                @media (max-width: 768px) {
                    flex: 1 0 40%;
                    max-width: 40%;
                    margin: 10px 10px 10px 0;
                }
                // &:last-child{
                //     @media(max-width: 991px){
                //         padding-right: 30px !important;
                //     }
                //     @media(max-width: 767px){
                //         padding-right: 10px !important;
                //     }
                // }
                &:after{
                    content: "";
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    width: calc(100% + 20px);
                    height: calc(100% + 20px);
                    transform: scaleY(0);
                    transform-origin: bottom center;
                    background: #ffffff;
                    z-index: -1;
                    transition: transform 0.3s;
                    -webkit-transition: transform 0.3s;
                    -moz-transition: transform 0.3s;
                    -o-transition: transform 0.3s;
                }
                &:hover{
                    box-shadow: 0 2px 10px 0 rgba(207, 146, 146, 0.12);
                    transform: translateY(0px);
                    @media(max-width: 991px){
                        box-shadow: none;
                        transform: translateY(0px);
                    }
                    &:after{
                        transform: scaleY(1);
                        @media(max-width: 991px){
                            content: none;
                        }
                    }
                }
                .image-conatiner{
                    height: auto;
                }
                img{
                    width: 100%;
                    // @media (max-width: 768px){
                    //     width: auto;
                    // }
                }
                h2{
                    color: #343434;
                    font-family: 'Rubik', sans-serif;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 20px;
                    padding: 30px 0 0;
                    @media(max-width: 768px){
                        font-size: 13px;
                        padding: 5px 0 0;
                    }
                }
                span{
                    color: #626262;
                    font-family: 'Rubik', sans-serif;
                    font-size: 14px;
                    line-height: 17px;
                    padding: 14px 0 7px;
                    display: block;
                    @media(max-width: 768px){
                        font-size: 12px;
                        padding: 5px 0;
                    }
                }
                p{
                    color: #626262;
                    font-family: 'Rubik', sans-serif;
                    font-size: 14px;
                    line-height: 17px;
                    @media(max-width: 768px){
                        font-size: 12px;
                    }
                }
            }
        }
        a{
            color: #0098FF;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            padding-top: 46px;
            display: flex;
            justify-content: center;
            align-items: center;
            .image-conatiner{
                width: auto;
                transform: rotate(90deg);
                margin-left: 9px;
                img{
                    width: 7px;
                    height: 12px;
                }
            }
            @media(max-width: 768px){
                display: none;
                padding-top: unset;
            }
        }
    }
   }
   .sistic-moments{
       background-color: #fff;
       .sistic-moments-wrapper{
           margin-bottom: 40px;
           img{
               width: 300px;
               height: 300px;
               @media(max-width: 1024px){
                   width: auto;
                   height: auto;
               }
               @media(min-width: 601px) and (max-width: 965px) and (orientation: landscape){
                    width: auto;
                    height: auto;
                }
           }
       }
   }
   .deal-wrapper{
       background-color: #F0F9FF;
       padding: 45px 0;
       @media (max-width: 768px) {
            padding: 20px 0px;
        }
        .container-fluid{
            @media(max-width: 576px){
                padding-right: 0px;
            }
        }
       .tickets{
        //    @media(max-width: 768px){
        //         width: calc(100% + 30px);
        //    }
           h2{
            color: #343434;
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            font-weight: 600;
            line-height: 37px;
            padding: 0 0 13px;
            @media (max-width: 768px) {
                font-size: 20px;
            }
           }
           .tickets-deal{
                display: flex;
                -ms-overflow-style: none; // IE 10+
                scrollbar-width: none; // Firefox
                width: 100%;
                flex-wrap: wrap;
                &::-webkit-scrollbar {
                    display: none; // Safari and Chrome
                }
                @media(max-width: 1024px){
                    overflow: auto;
                    flex-wrap: unset;
                }
                @media (max-width: 768px) {
                    overflow: auto;
                    flex-wrap: unset;
                }
               .deal{
                    flex: 0 0 calc(25% - 16px);
                    max-width: calc(25% - 16px);
                    margin: 0px 8px 0px 8px;
                    @media(max-width: 1024px){
                        flex: 1 0 27.7%;
                        max-width: 27.6%;
                    }
                    @media(max-width: 768px){
                        flex: 1 0 40%;
                        max-width: 40%;
                        margin: 0px 10px;
                    }
                    @media(max-width: 767px){
                        margin: 6px;
                    }
                    &:first-child{
                        margin-left: 0px;
                    }
                    .image-conatiner{
                        overflow: hidden;
                        height: auto;
                    }
                    img{
                        width: 100%;
                        transition: transform 0.9s;
                        -webkit-transition: transform 0.9s;
                        -moz-transition: transform 0.9s;
                        -o-transition: transform 0.9s;
                        object-fit: cover;
                        object-position: center;
                    }
                    h3{
                        color: #343434;
                        font-family: 'Rubik', sans-serif;
                        font-size: 17px;
                        font-weight: 500;
                        line-height: 20px;
                        padding-top: 16px;
                        @media(max-width: 768px){
                            font-size: 13px;
                            padding-top: 8px;
                        }
                    }
                    &:hover{
                        img{
                            transform: scale(1.05);
                        }
                    }
                    // &:last-child{
                    //     @media(max-width: 768px){
                    //         padding-right: 20px;
                    //     }
                    //     @media(max-width: 767px){
                    //         padding-right: 10px;
                    //     }
                    // }
                }
            }
        }
    }
  .polls-survey{
    background-color: #F0F9FF;
    .polls-wrapper{
        padding: 48px 0 33px;
        @media(max-width: 768px){
            padding: 20px 0 20px;
        }
        h2{
            padding-bottom: 35px;
            @media (max-width: 767px){
                font-size: 20px;
                line-height: 24px;
                padding-bottom: 10px;
            }
        }
        .polls-box{
            display: flex;
            flex-wrap: wrap;
            .polls-img{
                flex-basis: 55%;
                max-width: 55%;
                @media (max-width: 992px){
                    flex-basis: 50%;
                    max-width: 50%;
                }
                @media (max-width: 768px){
                    flex-basis: 100%;
                    max-width: 100%;
                }
                img{
                    width: 100%;
                    max-height: 305px;
                }
            }
            .polls-cont{
                flex-basis: 45%;
                max-width: 45%;
                padding-left: 20px;
                @media (max-width: 992px){
                    flex-basis: 50%;
                    max-width: 50%;
                }
                @media (max-width: 768px){
                    flex-basis: 100%;
                    max-width: 100%;
                    padding-left: 0;
                }
                h2{
                    color: #343434;
                    font-family: 'Rubik', sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                    padding: 0 0 8px;
                    @media(max-width: 768px){
                        padding: 8px 0 8px;
                        font-size: 16px;
                    }
                }
                p{
                    color: #626262;
                    font-family: 'Rubik', sans-serif;
                    font-size: 14px;
                    line-height: 24px;
                    padding: 0 0 30px;
                    margin-bottom: 0;
                    @media(max-width:576px){
                        font-size: 12px;
                    }
                    @media(max-width: 768px){
                        padding: 15px 0 0;
                    }
                    @media(max-width: 767px){
                        padding: 5px 0 0;
                    }
                }
                span{
                    color: #0098FF;
                    cursor: pointer;
                }
                a{
                    color: #FFFFFF;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 26px;
                    background-color: #0098FF;
                    border: 1px solid #0098FF;
                    padding: 5px 18px;
                    display: inline-block;
                    margin-top: 10px;
                    @media(max-width: 576px){
                        padding: 1px 19px;
                        font-size: 12px;
                    }
                    &:hover{
                        background-color: transparent;
                        color: #0098FF;
                    }
                }
            }
            &:hover{
                .polls-cont{
                    h2{
                        color: #0098FF;
                    }
                }
            }
        }
    }
  }
  .video-gallery{
    padding: 53px 0px;
    @media(max-width: 767px){
        padding: 30px 0px;
    }
  }
  .royal-wrapper{
      .royal-leftsection{
          & > div{
              width: 100%;
              .image-conatiner{
                  img{
                      width: 100%;
                  }
              }
          }
      }
  }
}

.shimmer-margin{
  margin:20px
}

.simmerOuter{
    div{
       width: 100%;
   }
}

.contentLoader .ListView{
width: 1000px;
}
