.apply-filter-mob, .filters-mob{
    display: none;
}
.fixed-filter{
  position: fixed;
  top: auto;
  bottom: 0;
}
.fixed-filter-absolute{
  position: absolute;
  top: auto;
  bottom: 0;
}
.filter-conatiner{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media(max-width: 991px){
  .wrapper{
    .filter-fixed-btn{
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #0098ff;
      color: #fff;
      display: flex;
      padding: 10px;
      justify-content: center;
      height: 48px;
      width: 100%;
      &.hide{
        display: none !important;
      }
      button{
        padding: 0 !important;
        color: #fff !important;
        justify-content: center !important;
        display: flex !important;
      }
    }
  }
}

@media (max-width: 767px) {
    .apply-filter-mob{
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #FFF;
        z-index: 3;
        display: block;
        .title{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px  rgba(151,151,151,0.2) solid;
            padding: 20px 10px;

            a{
                font-size: 16px;
                font-weight: 600;
                color: #000000;
            }
        }
        .filters-search {
            padding: 10px 15px;
            display: block;
            position: relative;
            .search-btn {
                position: absolute;
                right: 26px;
                top: 11px;
                z-index: 1;
                background: transparent;
                border: none;
                padding: 0;
                img{
                    width: 18px;
                }
            }

            input {
                border: 1px solid rgba(151,151,151,0.2);
                height: 36px;
                padding: 7px 40px 7px 10px;
                border-radius: 0;
                &::-webkit-input-placeholder {
                    color: rgba(52,52,52,0.25);
                }
                &::-moz-placeholder {
                    color: rgba(52,52,52,0.25);
                }
                &:-ms-input-placeholder {
                    color: rgba(52,52,52,0.25);
                }
                &:-moz-placeholder {
                    color: rgba(52,52,52,0.25);
                }
            }
        }
        .react-tabs{
            display: flex;
            height: calc(100% - 161px);
            .react-tabs__tab-list{
                width: 35%;
                display: flex;
                flex-direction: column;
                background: #F9F9F9;
                border: none;
                margin: 0;
                li{
                    border: none;
                    padding: 15px 10px;
                    font-size: 15px;
                    span{
                        height: 8px;
                        width: 8px;
                        display: inline-block;
                        margin-left: 5px;
                        background: #0098FF;
                        border-radius: 50%;
                    }
                    &.react-tabs__tab--selected{
                        border: none;
                        color: #0098FF;
                        border-radius: 0;
                        box-shadow: none;
                    }
                }
            }
            .react-tabs__tab-panel{
                width: 65%;
                height: 100%;
                overflow: auto;
                .list-head{
                    display: flex;
                    border-bottom: 1px #EEEEEE solid;
                    padding: 10px 15px;
                    justify-content: space-between;
                    .all-selection{
                        label{
                            font-size: 15px;
                            font-weight: 500;
                        }
                        .styled-checkbox{
                            &:checked + label{
                                color: #0098FF;
                            }
                        }
                    }
                    a{
                        color: #0098FF;
                    }
                }
                .filters-list{
                    ul{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        li{
                            padding: 10px 15px;
                            label{
                                font-size: 15px;
                                color: #323232;
                                font-weight: 500;
                                padding-left: 10px;
                            }
                            .styled-checkbox + label:before{
                                margin-left: -10px;
                            }
                            .styled-checkbox{
                                &:checked + label{
                                    color: #0098FF;
                                }
                            }
                        }
                    }
                }
            }
        }
        .apply-filter{
            position: fixed;
            right: 0;
            bottom: 0;
            width: 100%;
            padding: 8px 0;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }
    }
    .filters-mob{
        position: fixed;
        bottom: 0;
        left: 0;
        background: #0098FF;
        display: flex;
        width: 100%;
        z-index: 1;
        a{
            color: #FFF;
            width: calc(50% - 1px);
            text-align: center;
            margin: 8px 0;
            font-size: 15px;
            border-right: 2px rgba(255, 255, 255, 0.2) solid;
            font-weight: 600;
            padding: 5px 0;
            img{
                margin-left: 3px;
            }
            &::last-child{
                border: none;
            }
        }
    }
}

.filters {
    width: 300px;
    .fixed-buttons{
        display: none;
    }
    @media (max-width: 767px) {
        &.open{
            display: block;
            width: 100%;
            height: calc(100% - 51px);
            background-color: #EFEFEF;
            top: 0;
            left: 0;
            position: fixed;
            z-index: 5;
            overflow-y: auto;
            padding-bottom: 55px;
            .fixed-buttons{
                position: fixed;
                background-color: #fff;
                bottom: 0;
                left: 0;
                width: 100%;
                display: flex;
                justify-content: space-between;
                a{
                    flex: 1 0 50%;
                    max-width: 50%;
                    align-items: center;
                    text-align: center;
                    padding: 20px 17px 15px 17px;
                    font-weight: 500;
                    font-size: 16px;
                    font-family: 'Montserrat', sans-serif;
                    position: relative;
                    text-transform: capitalize;
                    justify-content: center;
                    &.close{
                        color: #626262;
                        &:after{
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 1px;
                            height: 22px;
                            background-color: rgba(126, 126, 126, 0.2);
                            transform: translateY(-50%);
                        }
                    }
                    &.apply{
                        color: #0098FF;
                    }
                }
            }
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        width: 260px;
    }
    .contentLoader{
      border: 0;
      padding-top: 0;
    margin-top: 0;
    }
    .animated-background {
      display: none;
    }
    .filter-heading {
        border-bottom: 1px solid rgba(126,126,126,0.1);
        display: flex;
        min-height: 39px;
        padding: 4px 6px 9px;
        h3 {
            color: #343434;
            margin: 0;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            line-height: 19px;
            width: 100%;
            a {
                float: right;
                color: #0098ff;
                text-decoration: none;
                font-size: 12px;
                line-height: 14px;
                font-family: 'Rubik', sans-serif;
            }
        }
        @media(max-width: 767px){
            display: flex;
            z-index: 2;
            color: #fff;
            background-color: #373E45;
            padding: 15px 17px;
            height: 55px;
            top: 0;
            width: 100%;
            align-items: flex-end;
            h3{
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                a, button{
                    margin-left: auto;
                    color: #0098FF;
                    font-size: 16px;
                    text-transform: capitalize;
                    flex: auto;
                    max-width: 33%;
                    margin-left: auto;
                    text-align: right;
                }
            }
        }
    }

    .filters-search {
        @media(max-width: 767px){
            display: none;
        }
    }
    .filter-grid {
        display: block;
        border-bottom: 1px solid rgba(126,126,126,0.1);
        margin-bottom: 20px;
        background-color: #fff;
        &:last-child{
            border: none;
        }
        .filter-grid-heading {
            padding: 0 5px 10px;
            display: flex;
            justify-content: space-between;

            h3 {
                color: #343434;
                margin: 0;
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                font-size: 15px;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;

                li {
                    margin: 0;
                    list-style: none;
                    padding: 0px 4px;
                    border-right: 1px solid rgba(52,52,52,0.2);
                    height: 16px;
                    font-size: 12px;
                    &:last-child{
                        border: none;
                    }
                    &.active {
                        a{
                            color: #0098ff;
                        }
                    }
                    a {
                        color: #949494;
                        font-family: 'Rubik', sans-serif;
                        font-size: 12px;
                        line-height: 14px;
                        cursor: pointer;

                        &:hover {
                            color: #0098ff;
                        }
                    }
                }
            }
        }
        .select-range{
            // display: none;
        }
        .filters-panel {
            padding: 8px;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            position: relative;
            .input-range{
                width: calc(100% - 12px);
                margin-left: 5px;
            }
            .input-range__track--active {
                background: #0098FF;
                height: 7px;
                margin-top: -3px;
            }
            .input-range__slider{
                background: #FFF;
                border: 5px solid #0098FF;
                height: 15px;
                width: 15px;
                margin-top: -11px;
            }
            .input-range__track--background{
                height: 1px;
            }
            span.input-range__label-container {
              display: none;
            }
            span.input-range-label-container {
              position: absolute;
              top: -30px;
              height: 26px;
              width: 60px;
              border: 1px solid rgba(126, 126, 126, 0.2);
              display: inline-block;
              text-align: center;
              line-height: 26px;
              color: #343434;
              font-family: 'Rubik', sans-serif;
              background: #FFF;
          }
          span.input-range-label-container.min {
            left: 5px;
          }
          span.input-range-label-container.max {
            right: 5px;
          }
            .input-range__label.input-range__label--min, .input-range__label.input-range__label--max{
                .input-range__label-container{
                    display: none;
                }
            }
            .input-range__label--value{
                top: -48px;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                flex: 0 0 100%;
                margin-bottom: 40px;
                li {
                    padding: 6px 0 6px 0;
                    list-style: none;
                    margin: 0;
                    font-family: 'Rubik', sans-serif;
                    font-size: 14px;
                    color: #626262;
                    &.active {
                        color: #0098ff;
                    }
                    &:hover{
                        label{
                            color: #0098ff;
                        }
                    }
                    input[type="checkbox"]:checked + label {
                        color: #0098ff;
                    }
                }
            }
            /****** Filter Directory ******/
            .filter-directory-panel{
                box-sizing: border-box;
                box-shadow: 0 2px 35px 0 rgba(176,176,176,0.5);
                background: #FEFEFE;
                width: 1060px;
                height: 520px;
                padding: 17px 25px;
                position: fixed;
                bottom: auto;
                top: 50%;
                left: 0px;
                z-index: 5;
                max-height: 100%;
                transform: translateY(-50%);
                .filter-directory-titlebar{
                    color: #adaeaf;
                    padding: 0 0 12px 0;
                    display: flex;
                    flex-direction: column;
                    .filter-directory-heading{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 15px;
                        h3{
                            color: #343434;
                            font-size: 15px;
                            line-height: 18px;
                            font-weight: 500;
                            margin: 0;
                        }
                        .filter-directory-close{
                            float: right;
                            cursor: pointer;
                            opacity: 0.7;
                            margin-top: 0px;
                            width: 14px;
                            height: 14px;
                        }
                    }
                    .filter-directory-indices-list{
                        display: flex;
                        align-items: center;
                        .filter-directory-search-input {
                            margin: 0 20px 0 0;
                            height: 30px;
                            width: 281px;
                            font-size: 14px;
                            padding: 5px;
                            border: 1px solid rgba(151,151,151,0.2);
                            outline: none;
                            text-transform: capitalize;
                            background: url(../../../assets/images/search-grey.png) 96% 4px no-repeat;
                            &::-webkit-input-placeholder {
                                color: rgba(52,52,52,0.25);
                            }
                            &::-moz-placeholder {
                                color: rgba(52,52,52,0.25);
                            }
                            &:-ms-input-placeholder {
                                color: rgba(52,52,52,0.25);
                            }
                            &:-moz-placeholder {
                                color: rgba(52,52,52,0.25);
                            }
                        }
                        .filter-directory-indices{
                            display: flex;
                            flex-direction: row;
                            flex: auto;
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            li{
                                width: 20px;
                                height: 20px;
                                display: inline-block;
                                position: relative;
                                text-align: center;
                                cursor: pointer;
                                text-transform: uppercase;
                                color: #000000;
                                font-weight: 600;
                                font-size: 13px;
                                padding: 0px;
                                a{
                                    color: #343434;
                                    font-family: 'Rubik', sans-serif;
                                    font-size: 14px;
                                    padding-right: 4.67px;
                                    line-height: 17px;
                                    &:hover{
                                        color: #2698ff;
                                    }
                                }
                            }
                        }
                    }
                }
                .filter-directory-list{
                    padding: 20px 18px 10px 0;
                    height: 410px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    align-content: flex-start;
                    white-space: nowrap;
                    overflow-x: auto;
                    overflow-y: hidden;
                    li{
                        margin: 0 10px 1px 0;
                        font-size: 14px;
                        padding: 6px 10px;
                        padding-left: 0;
                        width: 270px;
                        &.filter-directory-listTitle{
                            margin-bottom: 10px;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: #282c3f;
                            font-size: 14px;
                            margin-bottom: 0px;
                        }
                        &.filter-directory-list-title{
                            color: #343434;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 18px;
                            margin-top: 10px;
                        }
                        .styled-checkbox + label{
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            width: 100%;
                            overflow: hidden;
                            margin-bottom: 0px;
                            color: rgba(98, 98, 98, 0.8);
                            font-size: 14px;
                            line-height: 17px;
                            text-transform: capitalize;
                            font-family: 'Rubik', sans-serif;
                            h3{
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
            }
            .form-group {
                margin: 0;
                width: 45%;
                margin-right: 10px;

                label {
                    font-size: 12px;
                    color: #3A3A3A;
                    margin-bottom: 2px;
                }

                .form-control {
                    border: 1px solid rgba(225,225,225,0.5);
                    height: 26px;
                    border-radius: 0;
                    outline: none;
                    &:focus{
                        box-shadow: none;
                    }
                }
            }

            .view-all-filters {
                flex: 0 0 100%;
                font-size: 14px;
                color: #0098ff;
                padding: 5px 0 0;
                margin-top: 15px;
                cursor: pointer;
            }
            // dateinput
            label{
                color: rgba(98, 98, 98, 0.8);
                font-family: 'Rubik', sans-serif;
                font-size: 14px;
                line-height: 17px;
                display: block;
                width: 100%;
                margin-bottom: 0px;
            }
            .date-input-to, .date-input-from {
                margin-right: 8px;
                flex: 0 0 calc(44% - 10px);
                width: calc(44% - 10px);
                @media(min-width: 768px){
                    flex-basis: calc(45% - 10px);
                    width: calc(45% - 10px);
                }
                label{
                    font-size: 12px;
                    line-height: 14px;
                    margin-bottom: 5px;
                }
            }
            .cal-apply-btn{
                align-self: center;
                height: 26px;
                width: 26px;
                background-color: #fff;
                border-radius: 50%;
                text-align: center;
                justify-self: center;
                margin-top: 11px;
                display: flex;
                justify-content: center;
                border: 1px solid #9a9a9a;
                cursor: pointer;
                left: 86%;
                top: 8px;
                position: absolute;
                transition: 0.3s background-color, 0.3s border-color;
                -webkit-transition: 0.3s background-color, 0.3s border-color;
                -moz-transition: 0.3s background-color, 0.3s border-color;
                -o-transition: 0.3s background-color, 0.3s border-color;
                margin-top: 18px;
                &.active, &:hover{
                    line-height: 26px;
                    background-color: #0098FF;
                    border-color:#0098FF;
                    img{
                        display: none;
                        &.active{
                            display: block;
                            width: 14px;
                        }
                    }
                }
                img.active{
                    display: none;
                }
            }
            .DayPickerInput{

                input{
                    height: 26px;
                    width: 100%;
                    border: 1px solid #E1E1E1;
                    padding: 0px 7px;
                    color: #626262;
                    &::-webkit-input-placeholder {
						color: rgba(98, 98, 98, 0.8);
					}
					&::-moz-placeholder {
						color: rgba(98, 98, 98, 0.8);
					}
					&:-moz-placeholder {
						color: rgba(98, 98, 98, 0.8);
					}
                    &::placeholder {
                        color: rgba(98, 98, 98, 0.8);
                    }
                }
                .DayPickerInput-OverlayWrapper{
                    position: relative;
                    .DayPickerInput-Overlay {
                        position: absolute;
                        left: 0;
                        z-index: 1;
                        background: white;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
                    }
                    .DayPicker-wrapper{
                        height: 246px;
                        width: 283px;
                        padding: 15px 5px;
                        background-color: #FFFFFF;
                        box-shadow: 0 2px 4px 1px rgba(190,190,190,0.5);
                        .DayPicker-Body .DayPicker-Week{
                            justify-content: space-between;
                            overflow: hidden;
                        }
                    }
                    .DayPicker-Caption {
                        color: #343434;
                        font-size: 11.4px;
                        line-height: 14px;
                        font-weight: 500;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        margin: 0px;
                    }
                    .DayPicker-Weekday {
                        flex: 0 0 14.28%;
                        width: 14.28%;
                    }
                    .DayPicker-Day{
                        flex: 0 0 14.28%;
                        width: 14.28%;
                    }
                     .DayPicker-NavBar {
                         position: absolute;
                         width: 100%;
                         height: 15px;
                         top: 15px;
                         .DayPicker-NavButton--prev{
                             background-image: url(../../../assets/images/left-arrow-blue.svg);
                             max-width: 10px;
                             margin: 0;
                             top: 50%;
                             left: 20%;
                             transform: translateY(-50%);
                          }
                          .DayPicker-NavButton--next{
                             background-image: url(../../../assets/images/right-arrow-blue.svg);
                             max-width: 10px;
                             top: 50%;
                             right: 20%;
                             transform: translateY(-50%);
                             margin: 0px;
                          }
                     }
                     .DayPicker-Month{
                         display: flex;
                         flex-wrap: wrap;
                         margin: 0px;
                         padding: 0;
                     }
                }
            }
        }
        &.filter-price-range{
            .filter-grid-heading {
                padding-bottom: 55px;
            }
        }
        button{
          display: none;
        }
        h1{
          display: none;
        }

        @media(max-width: 767px){

            button{
            color: #626262;
            text-transform: capitalize;
            font-size: 15px;
            display: block;
            padding: 20px 0 5px 0;
            background-color: transparent;
            font-family: 'Rubik', sans-serif;
            line-height: normal;
            font-weight: 400;
            width: 100%;
            text-align: left;
            border: 0;
            }
            h1{
            display: block;
            }
            padding: 20px 17px 15px 17px;
            margin-bottom: 0;
            border-bottom: 1px solid #d8d8d8;
            .filters-panel{
                display: none;
                &.open{
                    display: block;
                    margin-top: 50px;
                }
            }
            .filter-grid-heading {
                ul {
                    display: none;
                }
            }
            &.filter-price-range{
                .filter-grid-heading {
                    padding-bottom: 0px;
                }
            }
            .filter-grid-heading {
                padding: 0;
            }
            .select-range{
                position: relative;
                button{
                    color: #626262;
                    text-transform: capitalize;
                    font-size: 15px;
                    display: block;
                    padding: 20px 0 5px 0;
                    background-color: transparent;
                    font-family: 'Rubik', sans-serif;
                    line-height: normal;
                    font-weight: 400;
                    width: 100%;
                    text-align: left;
                    &:focus,
                    &:hover{
                        border: 0;
                    }
                }
                &:after{
                    position: absolute;
                    right: 15px;
                    top: 28px;
                    left: auto;
                    content: "";
                    border: solid #626262;
                    border-width: 0px 2px 2px 0px;
                    display: inline-block;
                    padding: 3px;
                    transition: 0.5s transform;
                    -webkit-transition: 0.5s transform;
                    -moz-transition: 0.5s transform;
                    -o-transition: 0.5s transform;
                    transform: rotate(-135deg);
                }
                &.active{
                    &:after{
                        top: 15px;
                        transform: rotate(45deg);
                    }
                }
            }
            .submenu-wrap{
                width: 100%;
                background-color: #EFEFEF;
                .filters-panel{
                    &.open{
                        padding: 0;
                        margin-top: 0;
                        ul{
                            li{
                                padding: 18px 21px;
                                border-bottom: 1px solid #d8d8d8;
                                background-color: #fff;
                                .styled-checkbox {
                                    & + label{
                                        &:before{
                                            background: url(../../../assets/images/Tick-unselected.svg);
                                            width: 20px;
                                            height: 20px;
                                            background-repeat: no-repeat;
                                        }
                                    }
                                    &:checked{
                                        & + label{
                                            &:before{
                                                background: url(../../../assets/images/Tick-selected.svg);
                                                width: 20px;
                                                height: 20px;
                                                background-repeat: no-repeat;
                                            }
                                        }
                                    }
                                }
                                label{
                                    text-transform: capitalize;
                                    font-size: 15px;
                                    color: #626262;
                                    display: flex;
                                    justify-content: space-between;
                                    flex-direction: row-reverse;
                                }
                            }
                        }
                        .view-all-filters{
                            padding: 18px 15px;
                            display: block;
                        }
                    }
                }
            }
            &.date-range{
              .filters-panel{
                &.open{
                  margin-top: 0;
                  padding: 0;
                  .date-input-to,
                  .date-input-from{
                    width: 100%;
                    margin: 15px 0 18px 0;
                    label{
                      color: #3A3A3A;
                      font-size: 16px;
                      font-family: 'Rubik', sans-serif;
                    }
                    .DayPickerInput{
                        width: 100%;
                        input{
                              border: 1px solid rgba(225, 225, 225, 0.5);
                              height: 36px;
                              padding: 10px;
                              width: 100%;
                        }
                      }
                  }
                  .cal-apply-btn{
                    display: none;
                  }
                }
              }
            }
        }
    }
}
.dropdown-enter {
  opacity: 0;
}

.dropdown-enter.dropdown-enter-active {
  opacity: 1;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.dropdown-leave {
  opacity: 1;
}

.dropdown-leave.dropdown-leave-active {
  opacity: 0;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
