.carrier-wrapper{
    background-color: rgba(240,249,255,1);
    padding: 56px 0px 76px;
    @media(max-width: 768px){
        padding: 36px 0px 56px;
    }
    @media(max-width: 767px){
        padding: 30px 0px 30px;
    }
    h3{
        text-align: center;
    }
    .carrier-content {
        margin-top: 89px;
        display: flex;
        flex-wrap: wrap;
        @media(max-width: 767px){
            margin-top: 60px;
        }
        ul{
            background-color: #fff;
            text-align: center;
            // flex: 0 0 calc(100% - 238px);
            width: calc(100% - 238px);
            margin-right: 16px;
            padding: 0px 62px 60px 76px;
            position: relative;
            margin-top: -33px;
            @media(max-width: 991px){
                padding: 0px 40px 20px 40px;
                //flex: 0 0 calc(100% - 206px);
                width: calc(100% - 206px);
            }
            @media(max-width: 767px){
                padding: 0px 50px 20px 50px;
                margin-bottom: 10px;
                //flex: 0 0 100%;
                width: 100%;
            }
            @media(max-width: 600px){
                padding: 0px 35px 20px 35px;
            }
            li{
                color: #343434;	
                font-family: 'Rubik', sans-serif;
                font-size: 16px;
                line-height: 26px;
                @media(max-width: 768px){
                    font-size: 13px;
                    line-height: 24px;
                }
                img{
                    margin: 0 auto 15px;
                    height: 72px;
                    width: 72px;
                    border-radius: 50%;
                    box-shadow: 0 1px 7px #ccc;
                }
                h5{
                    padding-bottom: 26px;
                    margin: 0px;
                    @media(max-width: 768px){
                        padding-bottom: 20px;
                    }
                }
            }
            .slick-slider{
                .slick-arrow{
                    position: absolute;
                    top: 50%;
                    transform: translateY(30%);
                    &:hover{
                        border: none;
                        outline: none;
                    }
                }
                .slick-prev{
                    background-image: url('../../../assets/images/prev-arrow.svg');
                    background-color: transparent;
                    background-position: 0px 30px;
                    @media(max-width: 991px){
                        left: -45px;
                    }
                    @media(max-width: 767px){
                        left: -40px;
                    }
                    @media(max-width: 600px){
                        left: -30px;
                    }
                }
                .slick-next{
                    background-image: url('../../../assets/images/next-arrow.svg');
                    background-color: transparent;
                    background-position: 0px 30px;
                    @media(max-width: 991px){
                        right: -45px;
                    }
                    @media(max-width: 767px){
                        right: -40px;
                    }
                    @media(max-width: 600px){
                        right: -30px;
                    }
                }
            }
            &:before{
                position: absolute;
                content: "";
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                background-color: #f0f9ff;
                height: 33px;
                width: 100%;
            }
            &:after{
                position: absolute;
                content: "";
                left: 53px;
                right: 0px;
                top: 10px;
                bottom: 0px;
                background-image: url('../../../assets/images/quote.svg');
                background-repeat: no-repeat;
                height: 60px;
                width: 75px;
                background-size: 100%;
                @media(max-width: 991px){
                    top: 17px;
                    height: 50px;
                    width: 50px;
                }
                @media(max-width: 767px){
                    left: 20px;
                    top: 20px;
                    height: 50px;
                    width: 35px;
                }
            }
        }
        .job-openings {
            background-color: #0077C8;
            padding: 55px 15px 37px;
            flex: 0 0 222px;
            width: 222px;
            @media(max-width: 991px){
                flex: 0 0 190px;
                width: 190px;
            }
            @media(max-width: 767px){
                flex: 0 0 100%;
                width: 100%;
                align-items: center;
                display: flex;
                justify-content: center;
                padding: 8px 10px 8px;
            }
            a{
                display: block;
                text-align: center;
                @media(max-width: 991px){
                    display: flex;
                    height: auto;
                    align-items: center;
                    flex-direction: column;
                }
                @media(max-width: 767px){
                    flex-direction: unset;
                }
                img{
                    @media(max-width: 767px){
                        max-width: 20px;
                    }
                }
                span{
                    width: 100%;
                    display: block;
                    color: #fff;
                    text-align: center;
                    padding-top: 55px;
                    font-size: 18px;
                    line-height: 22px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    @media(max-width: 991px){                        
                        font-size: 16px;
                        line-height: 19px;
                    }
                    @media(max-width: 767px){
                        padding-top: 0px;
                        padding-left: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}