.modal-title{
    width: 100%;
    text-align: center;
}
.notice{
    padding: 0 25px;    
    p{
        font-size: 16px;
        line-height: 22px;
        color: #343434;
        font-family: 'Rubik', sans-serif;
        a{
            font-size: 16px;
            strong{
                font-size: 16px;
            }
        }
    }
}