.event-banner{
    background-color: #1B1B1B;
    background-size: cover;
    background-position: center;
    height: 389px;
    @media(max-width: 768px){
        height: 325px;
        overflow: hidden;
    }
    @media(max-width: 576px){
        max-height: 200px;
    }
    .container-fluid{
        height: 100%;
        .advertise-banner{
            height: 100%;
            align-items: center;
            @media(max-width: 768px){
                max-width: 100%;
                margin: 0 15px;
                position: relative;
            }
            @media(max-width: 576px){
                flex-wrap: nowrap;
                margin: 0;
                position: relative;
            }
            .banner-content{
                max-width: 750px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                @media(max-width: 576px){
                    max-width: 186px;
                }
                h2{
                    font-size: 40px;
                    line-height: 49px;
                    margin: 0;
                    padding-bottom: 18px;
                    color: #fff;
                    @media (max-width: 1024px){
                        font-size: 34px;
                        line-height: 40px;
                    }
                    @media (max-width: 768px){
                        font-size: 24px;
                        line-height: 28px;
                    }
                    @media (max-width: 767px){
                        font-size: 25px;
                        line-height: 32px;
                        padding-bottom: 10px;
                    }
                    @media(max-width: 576px){
                        font-size: 15px;
                        line-height: 22px;
                    }
                }
                p{
                    font-size: 16px;
                    line-height: 26px;
                    padding-bottom: 12px;
                    font-family: 'Rubik', sans-serif;
                    color: #fff;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                }
                .sub-text{
                    margin-bottom: 0px;
                    padding-bottom: 13px;
                }
                a{
                    border: 2px solid #fff;
                    color: #fff;
                    padding: 10px 8px;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    display: inline-block;
                    width: fit-content;
                    transition: all .3s ease-in;
                    max-width: inherit;
                    @media(max-width: 576px){
                        padding: 5px 5px;
                        font-size: 8px;
                        line-height: 9px;
                    }
                    &:hover{
                        border: 2px solid #0098FF;
                        background-color: #fff;
                        color: #0098FF;
                        transition: all .3s ease-in;
                    }
                }
            }
            .pos-static{
                @media(max-width: 768px){
                    position: static;
                }
                .banner-image{
                    img{
                        @media(max-width: 576px){
                            max-width: 276px;
                            top: 0;
                            right: -97px;
                        }
                    }
                }
            }
            .banner-image{
                text-align: center;
                img{
                    width: auto;
                    max-width: 100%;
                    @media(max-width: 768px){
                        position: absolute;
                        max-width: 450px;
                        width: 100%;
                        top: 0;
                        right: -179px;
                    }
                }
            }
        }
    }
}
.why-sistic{
    text-align: center;
    padding: 55px 0 105px;
    @media(max-width: 768px){
        padding: 55px 0 58px;
    }
    @media(max-width: 576px){
        padding: 35px 0 28px;
    }
    .why-sistic-head{
        margin-bottom: 33px;
        h2{
            color: #343434;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            @media(max-width: 576px){
                font-size: 22px;
            }
        }
        p{
            color: #626262;
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            line-height: 26px;
            max-width: 900px;
            margin: 0 auto;
            @media(max-width: 1280px){
                max-width: 100%;
            }
            @media(max-width: 576px){
                font-size: 13px;
                line-height: 20px;
                padding-bottom: 8px;
            }
        }
        span{
            @media(max-width: 576px){
                font-size: 13px;
            }
            a{
                color: #0098FF;
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                font-size: 14px;
                line-height: 28px;
                @media(max-width: 576px){
                    font-size: 13px;
                }
            }
        }
    }
        .why-sistic-tab{
            h2{
                color: #343434;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 26px;
                line-height: 32px;
                padding-bottom: 22px;
                @media(max-width: 576px){
                    font-size: 18px;
                    line-height: 13px;
                    padding-bottom: 0;
                }
            }
            .sistic-tab-button{
                @media(max-width: 768px){
                    justify-content: center;
                }
                a{
                    border: 2px solid #0098FF;
                    background-color: #FFFFFF;
                    color: #343434;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    padding: 8px 10px;
                    min-width: 190px;
                    margin-left: 19px;
                    display: inline-block;
                    transition: all .3s ease-in;
                    @media(max-width: 991px){
                        margin-top: 16px;
                    }
                    @media(max-width: 576px){
                        font-size: 14px;
                        line-height: 9px;
                        padding: 7px 3px;
                        min-width: 127px;
                        margin-left: 12px;
                    }
                    &:hover{
                        border: 2px solid #0098FF;
                        background-color: #0098FF;
                        color: #fff;
                        transition: all .3s ease-in;
                    }
                }
                @media (max-width: 992px){
                    display: flex;
                    flex-wrap: wrap;
                }
            }

        }
    
}
.website-wrapper{
    display: flex;
    margin-bottom: 100px;
    @media(max-width: 768px){
        flex-wrap: wrap;
        flex-direction: column;
    }
    @media(max-width: 576px){
        margin-bottom: 40px;
    }
    .website-content{
        flex: 0 0 calc(50% - 50px);
        min-width: calc(50% - 50px);
        padding-left: 50px;
        align-self: center;
        @media(max-width: 768px){
            text-align: center !important;
            margin: 15px;
            padding: 0 !important;
        }
        @media(max-width: 576px){
            text-align: center !important;
            margin: 15px;
            padding: 0 !important;
        }
        h2{
            color: #343434;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            padding-bottom: 0;
            @media(max-width: 576px){
                font-size: 22px;
            }
        }
        p{
            color: #626262;
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            line-height: 26px;
            padding: 38px 0;
            @media(max-width: 576px){
                padding: 15px 0;
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
    .website-image{
        flex: 0 0 calc(50% + 100px);
        min-width: calc(50% + 100px);
        margin-left: -50px;
    }
}
.app-wrapper{
    display: flex;
    margin-bottom: 83px;
    @media(max-width: 768px){
        flex-wrap: wrap;
        flex-direction: column !important;
    }
    @media(max-width: 576px){
        margin-bottom: 40px;
    }
    &.flex-row-reverse{
        @media(max-width: 768px){
            flex-direction: column !important;
        }
    }
    .app-content{
        flex: 0 0 50%;
        min-width: 50%;
        align-self: center;
        @media(max-width: 768px){
            text-align: center !important;
            margin: 15px;
            padding: 0 !important;
        }
        @media(max-width: 576px){
            text-align: center !important;
            padding: 0 !important;
            margin: 30px 0;
        }
        h2{
            color: #343434;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            padding-bottom: 0;
            @media(max-width: 576px){
                font-size: 22px;
            }
        }
        p{
            color: #626262;
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            line-height: 26px;
            padding: 38px 0;
            margin-bottom: 0px;
            @media(max-width: 576px){
                padding: 15px 0;
                font-size: 13px;
                line-height: 20px;
            }
        }
        .app-option{
            flex-direction: row;
            justify-content: flex-end;
            @media(max-width: 991px){
                width: 100%;
                justify-content: center;
            }
            @media(max-width: 768px){
                justify-content: space-around;
                width: 100%;
            }
            @media(max-width: 576px){
                justify-content: space-around;
                flex-wrap: nowrap;
            }
            a{
                margin-left: 10px;
                @media(max-width: 991px){
                    margin-right: 0px;
                    max-width: 180px;
                }
                @media(max-width: 768px){
                    width: 100%;
                    max-width: 190px;
                }
                @media(max-width: 576px){
                    max-width: 158px;
                    margin-left: 3px;
                    margin-right: 3px;
                }
                .fb{
                    height: 23px;
                }
                .insta{
                    height: 23px;
                }
                .ios{
                    @media(max-width: 768px){
                        height: unset;
                    }
                    @media(max-width: 576px){
                        height: 30px;
                    }
                }
                .android{
                    @media(max-width: 768px){
                        height: unset;
                    }
                    @media(max-width: 576px){
                        height: 30px;
                    }
                }
                span{
                    font-family: 'Rubik', sans-serif;
                    text-align: left;
                    line-height: 17px;
                    @media(max-width: 576px){
                        font-size: 11px;
                        line-height: 12px;
                    }
                }
            }
        }

        .social-option{
            flex-direction: row;
            justify-content: flex-end;
            @media(max-width: 991px){
                width: 100%;
                justify-content: center;
                flex-wrap: nowrap;
            }
            @media(max-width: 768px){                
                width: 100%;
                justify-content: space-around;
            }
            @media(max-width: 576px){
                justify-content: space-around;
            }
            a{
                margin-left: 10px;
                height: 44px;
                justify-content: center;
                padding: 0px 24px;
                max-width: 169px;
                @media(max-width: 991px){
                    margin-right: 0;
                }
                @media(max-width: 768px){
                    width: 100%;
                    max-width: 190px;
                }
                @media(max-width: 576px){
                    max-width: 125px;
                    height: 30px;
                }
                .fb{
                    height: 23px;
                }
                .insta{
                    height: 23px;
                }
                span{
                    color: #343434;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    margin-left: 7px;
                    @media(max-width: 576px){
                        font-size: 16px;
                    }
                }
            }
        }
        .buzz-connect{
            h3{
                color: #343434;
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                @media(max-width: 576px){
                    font-size: 14px;
                    text-align: left;
                }
            }
            .input-group{
                max-width: 385px;
                @media(max-width: 768px){
                    margin: 0 auto;
                }
                input{
                    border: 1px solid rgba(160,215,255,.2);
                    color: #4b5562;
                    font-family: 'Rubik', sans-serif;
                    font-size: 16px;
                    border-radius: 0;
                    transition: border .3s;
                    -webkit-transition: border .3s;
                }
                .input-group-prepend{
                    .input-group-text{
                        background-color: #0098ff;
                        border-color: #0098ff;
                        border-radius: 0;
                        padding: 0;
                        overflow: hidden;
                        position: relative;
                        img{
                            max-width: 40px;
                            position: relative;
                        }
                        &:after{
                            position: absolute;
                            content: "";
                            top: 100%;
                            right: 0;
                            left: -30px;
                            bottom: 0;
                            z-index: 1;
                            width: 0;
                            height: 32px;
                            background-image: url(../../assets/images/send.svg);
                            background-repeat: no-repeat;
                            background-color: #2698ff;
                            background-size: 100%;
                            -webkit-transform: translate(0);
                            transform: translate(0);
                        }
                        &:hover{
                            background-color: #0098ff;
                            border-color: #0098ff;
                            opacity: .8;
                            img{
                                animation: submit-arrow .2s linear;
                            }
                            &:after{
                                width: 40px;
                                -webkit-animation: submit-arrow-after .2s linear;
                                animation: submit-arrow-after .2s linear;
                            }
                        }
                    }
                   
                    
                }
            }
        }
    }
    .app-image{
        flex: 0 0 50%;
        min-width: 50%;
        @media(max-width: 768px){
            align-self: center;
        }
        @media(max-width: 576px){
            align-self: center;
        }
    }
}

.advertise-withus-wrapper{
    .event-banner{
        background-image: none;
        background-color: #1a1a1a;
        .banner-content{
            @media(max-width: 1024px){
                padding-left: 0px;
            }
            @media(max-width: 576px){
                padding: 0px;
            }
            a{
                background-color: transparent;
                &:hover{
                    border-color: #fff;
                }
            }
            h2{
                max-width: 90%;
                @media (max-width: 1024px){
                    font-size: 34px;
                    line-height: 40px;
                }
                @media (max-width: 768px){
                    font-size: 24px;
                    line-height: 28px;
                }
                @media (max-width: 767px){
                    font-size: 25px;
                    line-height: 25px;
                    padding-bottom: 10px;
                }
            }
        }

    }
    .why-sistic{
        .why-sistic-head{
            p{
                padding: 0px;
            }
            a{
                color: #0098FF;
                font-weight: 500;
            }
        }
    }
    .apipartners-wrapper{
        .contact-us-block{
            .customer-enquiry-wrapper{
                 .form-group{
                      .select{
                          .arrow{
                                margin-top: -10px;
                            }
                      }
                 }
            }
        }
    }
}