.event-banner{
    background-color: #1B1B1B;
    background-size: cover;
    background-position: center;
    height: 389px;
    .container-fluid{
        height: 100%;
        .advertise-banner{
            height: 100%;
            align-items: center;
            .banner-content{
                max-width: 750px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                h2{
                    font-size: 40px;
                    line-height: 49px;
                    margin: 0;
                    padding-bottom: 18px;
                    color: #fff;
                }
                p{
                    font-size: 16px;
                    line-height: 26px;
                    padding-bottom: 12px;
                    font-family: 'Rubik', sans-serif;
                    color: #fff;
                    
                }
                a{
                    border: 2px solid #fff;
                    color: #fff;
                    padding: 10px 8px;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    display: inline-block;
                    width: fit-content;
                    transition: all .3s ease-in;
                    max-width: inherit;
                    &:hover{
                        border: 2px solid #0098FF;
                        background-color: #fff;
                        color: #0098FF;
                        transition: all .3s ease-in;
                    }
                }
            }
            .banner-image{
                text-align: center;
                img{
                    width: auto;
                    max-width: 100%;
                }
            }
        }
    }
}
.why-sistic{
    text-align: center;
    padding: 55px 0 125px;
    .why-sistic-head{
        margin-bottom: 33px;
        h2{
            color: #343434;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
        }
        p{
            color: #626262;
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            line-height: 26px;
        }
        span{
            a{
                color: #0098FF;
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                font-size: 14px;
                line-height: 28px;
            }
        }
    }
        .why-sistic-tab{
            h2{
                color: #343434;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                font-size: 26px;
                line-height: 32px;
                padding-bottom: 22px;
            }
            .sistic-tab-button{
                a{
                    border: 2px solid #0098FF;
                    background-color: #FFFFFF;
                    color: #343434;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    padding: 8px 10px;
                    min-width: 190px;
                    margin-left: 19px;
                    display: inline-block;
                    transition: all .3s ease-in;
                    &:hover{
                        border: 2px solid #0098FF;
                        background-color: #0098FF;
                        color: #fff;
                        transition: all .3s ease-in;
                    }
                }
            }

        }
    
}
.website-wrapper{
    display: flex;
    margin-bottom: 100px;
    .website-content{
        flex: 0 0 50%;
        min-width: 50%;
        padding-left: 50px;
        align-self: center;
        h2{
            color: #343434;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            padding-bottom: 0;
        }
        p{
            color: #626262;
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            line-height: 26px;
            padding: 38px 0;
        }
    }
    .website-image{
        flex: 0 0 50%;
        min-width: 50%;
    }
}
.app-wrapper{
    display: flex;
    margin-bottom: 83px;
    .app-content{
        flex: 0 0 50%;
        min-width: 50%;
        align-self: center;
        h2{
            color: #343434;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            padding-bottom: 0;
        }
        p{
            color: #626262;
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            line-height: 26px;
            padding: 38px 0;
        }
        .app-option{
            flex-direction: row;
            justify-content: flex-end;
            a{
                margin-left: 10px;
                .fb{
                    height: 23px;
                }
                .insta{
                    height: 23px;
                }
                span{
                    font-family: 'Rubik', sans-serif;
                    text-align: left;
                    line-height: 17px;
                }
            }
        }

        .social-option{
            flex-direction: row;
            justify-content: flex-end;
            a{
                margin-left: 10px;
                height: 44px;
                justify-content: center;
                padding: 0px 24px;
                max-width: 169px;
                .fb{
                    height: 23px;
                }
                .insta{
                    height: 23px;
                }
                span{
                    color: #343434;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    margin-left: 7px;
                }
            }
        }
        .buzz-connect{
            h3{
                color: #343434;
                font-family: 'Rubik', sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
            }
            .input-group{
                max-width: 385px;
                input{
                    border: 1px solid rgba(160,215,255,.2);
                    color: #4b5562;
                    font-family: 'Rubik', sans-serif;
                    font-size: 16px;
                    border-radius: 0;
                    transition: border .3s;
                    -webkit-transition: border .3s;
                }
                .input-group-prepend{
                    .input-group-text{
                        background-color: #0098ff;
                        border-color: #0098ff;
                        border-radius: 0;
                        padding: 0;
                        overflow: hidden;
                        position: relative;
                        img{
                            max-width: 40px;
                            position: relative;
                        }
                        &:after{
                            position: absolute;
                            content: "";
                            top: 100%;
                            right: 0;
                            left: -30px;
                            bottom: 0;
                            z-index: 1;
                            width: 0;
                            height: 32px;
                            background-image: url(../../assets/images/send.svg);
                            background-repeat: no-repeat;
                            background-color: #2698ff;
                            background-size: 100%;
                            -webkit-transform: translate(0);
                            transform: translate(0);
                        }
                        &:hover{
                            background-color: #0098ff;
                            border-color: #0098ff;
                            opacity: .8;
                            img{
                                animation: submit-arrow .2s linear;
                            }
                            &:after{
                                width: 40px;
                                -webkit-animation: submit-arrow-after .2s linear;
                                animation: submit-arrow-after .2s linear;
                            }
                        }
                    }
                   
                    
                }
            }
        }
    }
    .app-image{
        flex: 0 0 50%;
        min-width: 50%;
    }
}
@media (max-width: 992px){
    .why-sistic{
        .why-sistic-tab{
            .sistic-tab-button{
                display: flex;
                flex-wrap: wrap;
                a{
                    margin-top: 16px;
                }
            }
        }
    }
    .app-wrapper{
        .app-content{
            .app-option{
                width: 100%;
                justify-content: center;
                a{
                    margin-right: 0;
                    max-width: 180px;
                    }
                }
                .social-option{
                    width: 100%;
                    justify-content: center;
                    flex-wrap: nowrap;
                    a{
                        margin-right: 0;
                    }
                }
            }
    }
}
@media (max-width: 768px){
    .event-banner{
        height: 325px;
        overflow: hidden;
        .container-fluid{
            .advertise-banner{
                max-width: 100%;
                margin: 0 15px;
                position: relative;
                .banner-content{
                    h2{
                        font-size: 31px;
                    }
                }
               .pos-static{
                   position: static;
                .banner-image{
                    img{
                        position: absolute;
                        max-width: 450px;
                        width: 100%;
                        top: 0;
                        right: -179px;
                    }
                }
               }
            }
        }
    }
    .why-sistic{
        padding: 55px 0 58px;
        .why-sistic-tab{
            .sistic-tab-button{
                justify-content: center;
            }

        }
    }
    .website-wrapper{
        flex-wrap: wrap;
        flex-direction: column;
        .website-content{
            text-align: center !important;
            margin: 15px;
            padding: 0 !important;
        }
    }
    .app-wrapper{
        flex-wrap: wrap;
        flex-direction: column !important;
        &.flex-row-reverse{
            flex-direction: column !important;
        }
        .app-content{
            text-align: center !important;
            margin: 15px;
            padding: 0 !important;
            .app-option{
                justify-content: space-around;
                width: 100%;
                a{
                    width: 100%;
                    max-width: 190px;
                    .ios{
                        height: unset;
                    }
                    .android{
                        height: unset;
                    }
                }
            }
            .social-option{
                justify-content: flex-start;
                width: 100%;
                a{
                    width: 100%;
                    max-width: 190px;
                }
            }
            .buzz-connect{
                .input-group{
                    margin: 0 auto;
                }
            }
            .social-option{
                justify-content: space-around;
            }
        }
        .app-image{
            align-self: center;
        }
    }
}
@media (max-width: 576px){
    .event-banner{
        max-height: 200px;
        .container-fluid{
            .advertise-banner{
                flex-wrap: nowrap;
                margin: 0;
                position: relative;
                .banner-content{
                    max-width: 186px;
                    h2{
                        font-size: 17px;
                        line-height: 22px;
                    }
                    a{
                        padding: 5px 8px;
                        font-size: 9px;
                        line-height: 9px;
                    }
                }
                .pos-static{
                    .banner-image{
                        img{
                            max-width: 276px;
                            top: 0;
                            right: -97px;
                        }
                    }
                }
            }
        }
    }
    .why-sistic{
        padding: 35px 0 28px;
        .why-sistic-head{
            h2{
                font-size: 22px;
            }
            p{
                font-size: 13px;
                line-height: 20px;
                padding-bottom: 8px;
            }
            span{
                font-size: 13px;
                a{
                    font-size: 13px;
                }
            }
        }
        .why-sistic-tab{
            h2{
                font-size: 18px;
                line-height: 13px;
                padding-bottom: 0;
            }
            .sistic-tab-button{
                a{
                    font-size: 14px;
                    line-height: 9px;
                    padding: 7px 3px;
                    min-width: 127px;
                    margin-left: 12px;

                }
            }
        }
    }
    .website-wrapper{
        margin-bottom: 40px;
        .website-content{
            text-align: center !important;
            margin: 15px;
            padding: 0 !important;
            h2{
                font-size: 22px;
            }
            p{
                padding: 15px 0;
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
    .app-wrapper{
        margin-bottom: 40px;
        .app-content{
            text-align: center !important;
            padding: 0 !important;
            margin: 30px 0;
            h2{
                font-size: 22px;
            }
            p{
                padding: 15px 0;
                font-size: 13px;
                line-height: 20px;
            }
            .app-option{
                justify-content: space-around;
                flex-wrap: nowrap;
                a{
                    max-width: 158px;
                    margin-left: 0;
                    .ios{
                        height: 30px;
                    }
                    .android{
                        height: 30px;
                    }
                    span{
                        font-size: 11px;
                        line-height: 12px;
                    }
                }
            }
            .buzz-connect{
                h3{
                    font-size: 14px;
                    text-align: left;
                }
            }
            .social-option{
                justify-content: space-around;
                a{
                    max-width: 125px;
                    height: 30px;
                    span{
                        font-size: 16px;

                    }
                }
            }
        }
        .app-image{
            align-self: center;
        }
    }
}