.home-page-wrapper section.royal-wrapper{
    background-color: #0B304B;
    color: #fff;
    padding: 30px 0px 60px;
    @media(max-width: 767px){
        padding: 20px 0px 30px !important;
    }
    .section-top-wrapper{
        h2{
            color: #fff;
        }
    }
    .royal-side-padding{
        @media(max-width: 991px){
            padding: 0 10px;
        }
    }
    .royal-items-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 5px;
        overflow: hidden;
        @media(max-width: 1180px) and (min-width: 1025px){
            align-items: center;
        }
        .royal-leftsection{
            flex: 0 0 65%;
            width: 65%;
            padding-right: 20px;
            @media(max-width: 1180px){
                flex: 0 0 50%;
                width: 50%;
            }
            @media(max-width: 991px){
                flex: 0 0 100%;
                width: 100%;
            }
            @media(max-width: 768px){
                flex: 0 0 100%;
                width: 100%;
                padding-right: 0px;
                max-width: 100%;
            }
        }
        .royal-rightsection{
            flex: 0 0 35%;
            width: 35%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            @media(max-width: 1180px){
                flex: 0 0 50%;
                width: 50%;
            }
            @media(max-width: 991px){
                flex: 0 0 100%;
                width: 100%;
            }
            @media(max-width: 768px){
                flex: 0 0 100%;
                width: 100%;
            }
            .royal-rightside-textwrapper{
                height: 35%;
                @media(min-width: 1580px){
                    height: 50%;
                }
                @media(max-width: 1366px){
                    height: 40%;
                }
                @media(max-width: 1180px){
                    height: auto;
                    margin-bottom: 20px;
                }
                @media(max-width: 1024px){
                    height: auto;
                    margin-bottom: 20px;
                }
                @media(max-width: 991px){
                    padding-top: 10px;
                }
            }
            h3{
                font-size: 18px;
                line-height: 26px;
                color: #fff;
                padding: 0px;
                margin: 0px;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                transition: all 0.3s ease-in-out;
                overflow: hidden;
                height: auto;
                /* autoprefixer: off */ -webkit-box-orient: vertical; /* autoprefixer: on */
                &:hover{
                    color: #0098FF;
                }
                @media(max-width: 767px){
                    font-size: 14px;
                    line-height: 18px;
                }
                @media(max-width: 576px){
                    height: 55px;
                    overflow: hidden;
                }
                a{
                    color: #fff;
                    font-family: "Rubik", sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    word-break: break-word;
                }
            }
            p{
                color: #B5BDC3;
                padding-top: 3px;
                @media(max-width: 767px){
                    font-size: 12px;
                }
            }
        }
    }
    .royal-items {
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        @media(min-width: 1580px){
            height: 50%;
        }
        @media(max-width: 1366px){
            height: 60%;
        }
        @media(max-width: 1180px){
            flex-direction: row;
            height: auto;
        }
        @media(max-width: 1024px) and (min-width: 992px){
            flex-direction: column;
        }
        @media(max-width: 991px){
            height: auto;
            flex-direction: row;
        }
        @media(max-width: 767px){
            flex-direction: column;
        }
        @media(max-width: 991px) and (orientation: landscape){
            flex-direction: row;
        }
        .item-wrapper{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0px;
            @media(max-width: 1180px){
                margin-bottom: 0px;
                margin-right: 10px;
            }
            @media(max-width: 1024px) and (min-width: 992px){
                margin-bottom: 10px;
            }
            @media(max-width: 991px){
                margin-bottom: 10px;
                margin-right: 20px;
                flex: 0 0 100%;
                width: 100%;
            }
            @media(max-width: 576px){
                margin-bottom: 15px;
                margin-right: 10px;
                flex: 0 0 100%;
                width: 100%;
            }
            @media(max-width: 991px) and (orientation: landscape){
                flex: 0 0 calc(50% - 5px);
                width: calc(50% - 5px);
                margin: 0px;
            }
            &:first-child{
                @media(max-width: 991px) and (orientation: landscape){
                    margin-right: 10px;
                }
            }
            .item-img{
                flex: 0 0 167px;
                width: 167px;
                height: 78px;
                max-width: 167px;
                overflow: hidden;
                @media(max-width: 576px){
                    flex: 0 0 auto;
                    width: auto;
                }
                @media(max-width: 991px) and (orientation: landscape){
                    flex: 0 0 auto;
                    width: auto;
                }
                img{
                    @media(max-width: 650px){
                        max-width: 140px;
                    }
                }
            }
            .royal-item-content{
                flex: 0 0 calc(100% - 167px);
                width: calc(100% - 167px);
                padding-left: 17px;
                margin-top: 10px;
                @media(max-width: 1180px){
                    padding-left: 0px;
                    padding-top: 10px;
                }
                @media(max-width: 1024px){
                    padding-left: 10px;
                }
                @media(max-width: 768px){
                    padding-left: 15px;
                    padding-top: 0px;
                }
                h3{
                    font-size: 14px;
                    line-height: 20px;
                    transition: 0.5s color;
                    -webkit-transition: 0.5s color;
                    -moz-transition: 0.5s color;
                    -o-transition: 0.5s color;
                }
                p{
                    font-size: 14px;
                    line-height: 22px;
                    @media(max-width: 576px){
                        font-size: 13px;
                    }
                }
            }
            &:hover{
                h3{
                    color: #0098ff;
                    a{
                        color: #0098ff;
                    }
                }
            }
            &:last-child{
                margin-bottom: 0px;
            }
            &:last-child{
                @media(max-width: 1180px){
                    margin-right: 0px;
                }
            }
        }
    }
}
