/********** Checkbox ******/
.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      margin: 0;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 6px;
      display: inline-block;
      vertical-align: text-top;
      width: 10px;
      height: 10px;
      background: url(../../assets/images/checkbox.png) no-repeat;
      margin-top: 3px;
    }
  
    // Box hover
    &:hover + label:before {
        background: #0098FF;
    }
    
    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.0);
    }
  
    // Box checked
    &:checked + label:before {
        background: url(../../assets/images/checkbox-checked.svg) no-repeat;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #626262;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

}
/******** Listing  **********/
.wrapper-events-listing{
    display: flex;

    .events-listing {
        width: calc(100% - 338px);
        margin-left: 38px;
        @media (max-width: 767px) {
            margin-left: 0;
            width: 100%;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            margin-left: 20px;
            width: calc(100% - 280px);
        }
        .events-section{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 15px;
            margin-bottom: 50px;
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
            &.list-view{
                display: flex;
                flex-direction: column;
            }
        }
    }
}

//load more button
.promotion-load-more {
	display: block;
	text-align: center;
	width: 100%;
	padding-bottom: 71px;
	@media(max-width: 991px) {
		padding-bottom: 30px;
	}
	.load-more-btn {
		border: 1px solid #dedede;
		border-radius: 20px;
		padding: 5px 18px;
		vertical-align: middle;
		display: inline-block;
		line-height: normal;
		text-decoration: none;
		background-color: #ffffff;
		transition: 0.3s background-color, 0.1s border;
		&:hover {
			background-color: #0098ff;
            border: 1px solid #0098ff;
            text-decoration: none;
			span {
				color: #ffffff;
			}
			img {
				filter: brightness(0) invert(1);
			}
		}
		span {
			color: #949494;
			font-family: "montserratsemibold";
			font-size: 14px;
			line-height: 18px;
			font-weight: 100;
			transition: 0.3s color;
		}
		img {
			padding-left: 10px;
			padding-bottom: 4px;
			transition: 0.3s filter;
		}
	}
}