/********** Checkbox ******/
.styled-checkbox {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
  
    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      margin: 0;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 6px;
      display: inline-block;
      vertical-align: text-top;
      width: 10px;
      height: 10px;
      background: url(../../assets/images/checkbox.png) no-repeat;
      margin-top: 3px;
    }
  
    // Box hover
    &:hover + label:before {
        background: #0098FF;
    }
    
    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.0);
    }
  
    // Box checked
    &:checked + label:before {
        background: url(../../assets/images/checkbox-checked.svg) no-repeat;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #626262;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }

}
/******** Listing  **********/
.wrapper-events-listing{
    display: flex;

    .events-listing {
        width: calc(100% - 338px);
        margin-left: 38px;
       
        .events-section{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 15px;
        }
    }
}