.advertisement-banner{
    overflow: hidden;
    height: auto;
    width: 100%;
    padding: 0 28px;
    margin-top: 33px;
    @media(max-width: 767px){
        margin-top: 10px;
        margin-bottom: -10px;
        padding: 0;
    }
    .image-conatiner{
        .image.loaded{
            width: auto;
            height: auto;
            max-width: 100%;
        }
    }
}
.advertisement-block{
    overflow: hidden;
    margin-bottom: 15px;
    padding: 0 10px;
    .image-conatiner{
        text-align: center;
        img{
            max-width: 100%;
        }
    }
}

