.section-top-wrapper{
    align-items: center;
    @media(max-width: 768px){
        padding-bottom: 15px;
    }
    h2{
        @media(max-width: 768px){
            font-size: 26px;
            line-height: 35px;
            padding-bottom: 0px;
        }
        @media(max-width: 576px){
            font-size: 19px;
            line-height: 20px;
        }
    }
}
.explore-page-banner {
    background-color: #091118;
    color: #fff;
    overflow: hidden;
    min-height: 377px;
    position: relative;
    @media(max-width: 768px){
        overflow: visible;
        margin-bottom: 15px;
    }
    .banner-content{
        flex: 0 0 100%;
        width: 100%;
        padding: 0px 0px 0px 40px;
        position: relative;
        height: 100%;
        @media(max-width: 1024px){
            padding: 0px 0px 0px 30px;
        }
        @media(max-width: 768px){
            padding: 0px;
        }
        @media(max-width: 576px){
            padding: 0px;
        }
        h3{
            font-size: 30px;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            line-height: 37px;
            padding-bottom: 28px;
            border-bottom: 1px solid #0098FF;
            margin-bottom: 35px;
            @media(max-width: 1024px){
                padding-bottom: 20px;
                margin-bottom: 25px;
            }
            @media(max-width: 768px){
                font-size: 20px;
                line-height: 25px;
                padding-bottom: 10px;
                margin-bottom: 10px;
                height: 30px;
                overflow: hidden;
            }
            @media(max-width: 576px){
                font-size: 18px;
                line-height: 24px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 5px;
                padding-bottom: 5px;
            }
        }
        p{
            color: #B5BDC3;
            font-family: 'Rubik', sans-serif;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 17px;
            @media(max-width: 768px){
                font-size: 14px;
                line-height: 20px;
                padding-bottom: 0px;
                margin-bottom: 5px;
                height: 36px;
                overflow: hidden;
                min-height: 36px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                /* autoprefixer: off */ -webkit-box-orient: vertical; /* autoprefixer: on */
            }
            @media(max-width: 576px){
                font-size: 14px;
                line-height: 18px;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-bottom: 0px;
                padding-bottom: 0px;
            }
        }
        a, a:not([href]):not([tabindex]){
            font-size: 18px;
            color: #0098FF;
            border: 2px solid #0098FF;
            padding: 7px 25px;
            font-family: 'Montserrat', sans-serif;
            display: inline-block;
            font-weight: 600;
            @media(max-width: 768px){
                padding: 7px 0px;
                display: block;
                text-align: center;
                flex: 1 0 20%;
                max-width: 20%;
                margin-left: auto;
                align-items: center;
                display: flex;
                justify-content: center;
                margin-top: 14px;
            }
            @media(max-width: 576px){
                font-size: 12px;
                font-weight: 600;
                padding: 5px 5px;
                display: block;
                text-align: center;
            }
            &:hover{
                background-color: #0098FF;
                color: #ffffff;
            }
        }
        .banner-desc{
            @media(max-width: 768px){
                flex: 0 0 75%;
                width: 75%;
                padding-right: 25px;
            }
            @media(max-width: 576px){
                flex: 0 0 70%;
                width: 70%;
                padding-right: 15px;
            }
        }
        .banner-btn {
            @media(max-width: 768px){
                flex: 0 0 25%;
                width: 25%;
                padding-right: 15px;
            }
            @media(max-width: 576px){
                flex: 0 0 30%;
                width: 30%;
                padding-right: 0px;
            }
        }
        .explore-content-wrapper{
            display: flex !important;
            @media(max-width: 768px){
                align-items: flex-end;
                position: relative;
            }
            .explore-content{
                flex: 1 0 40%;
                max-width: 40%;
                margin-right: 20px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                z-index: 0;
                width: 100%;
                @media(max-width: 768px){
                    height: 135px;
                    color: #fff;
                    z-index: 0;
                    padding: 20px;
                    max-width: 100%;
                    flex-direction: row;
                    position: absolute;
                    justify-content: unset;
                    bottom: 0;
                    margin: 0;
                    &:before{
                        content: "";
                        position: absolute;
                        z-index: -1;
                        background-color: rgba(0,0,0,.77);
                        padding: 15px;
                        display: inline-block;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        -webkit-transform: unset;
                        transform: unset;
                    }
                }
                @media(max-width: 576px){
                    padding: 15px;
                }
                @media(max-width: 768px){
                    .explore-mobile-wrapper{
                        flex: 1 0 70%;
                        max-width: 70%;
                    }
                }
                a{
                    @media(max-width: 768px){
                        flex: 1 0 26%;
                        max-width: 26%;
                        padding: 5px 3px;
                    }
                }
            }
            .explore-banner-image{
                flex: 1 0 55%;
                max-width: 55%;
                margin-left: auto;
                width: 100%;
                min-height: 377px;
                max-height: 377px;
                position: relative;
                @media(max-width: 768px){
                    flex: 1 0 100%;
                    max-width: 100%;
                    position: unset;
                }
                &:before{
                    position: absolute;
                    content: "";
                    width: 100px;
                    background-color: #091118;
                    height: calc(100% + 70px);
                    top: -40px;
                    bottom: 0;
                    transform: rotate3d(1, 1, 1, 27deg);
                    left: -50px;
                    z-index: 1;
                    @media(max-width: 768px){
                        content: unset;
                    }
                }
                img{
                    max-width: 100%;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    @media(max-width: 768px){
                        min-height: 377px;
                        max-height: 377px;
                    }
                }
            }
            img{
                max-width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;
                @media(max-width: 768px){
                    min-height: 377px;
                    max-height: 377px;
                }
            }
            @media(max-width: 768px){
                align-items: flex-end;
            }
        }
    }
    .banner-slider{
        flex: 0 0 59%;
        width: 59%;
        position: absolute;
        right: 20px;
        bottom: 0px;
        @media(max-width: 768px){
            flex: 0 0 100%;
            width: 100%;
            right: 0;
            bottom: -15px;
        }
        img{
            width: 100%;
            height: 100%;
            max-height: 377px;
            border: 1px solid transparent;
            transition: all 0.3s ease-out;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
        }
        .slick-prev, .slick-next{
            left: 4px;
            background-image: url('../../../assets/images/left-arrow-white.svg');
            background-color: rgba(141,141,141,0.76);
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background-size: 10px 10px;
            background-position: center;
            &:hover{
                border: none;
            }
        }
        .slick-next{
            left: auto;
            right: 4px;
            background-image: url('../../../assets/images/right-arrow-white.svg');
            &:hover{
                border: none;
            }
            
        }
        .slick-arrow{
            margin-top: 0;
            top: 50%;
        }
        .slick-slider{
            .slick-list{
                .slick-track{
                    display: flex;
                    justify-content: flex-end;
                    @media(max-width: 768px){
                        height: 45px;
                    }
                    .slick-slide{
                        margin: 0 2px;
                        overflow: hidden;
                        transition: all 0.3s ease-out;
                        cursor: pointer;
                        width: 92px !important;
                        &:first-child{
                            margin-left: 0;
                        }
                        img{
                            border: 1px solid transparent;
                            height: 48px;
                            @media(max-width: 576px){
                                height: 45px !important;
                                width: 65px !important;
                                min-width: 65px !important;
                            }
                        }
                        &:hover{
                            img{
                                border: 1px solid #0098ff;
                                transform: scale(1.1);
                            }
                        }
                        .image-conatiner{
                            img{
                                max-width: 100%;
                                height: auto;
                                width: 92px;
                                
                            }
                        }
                        @media(max-width: 576px){
                            width: 65px !important;
                            min-width: 65px !important;
                        }
                    }
                }
            }
        }
    }
}
.whtsup-wrapper, .festivals-wrapper{
    padding: 43px 0px 49px;
    @media(max-width: 768px){
        padding: 20px 0px 20px;
    }
    .section-top-wrapper{
        @media(max-width: 768px){
            padding-right: 15px;
        }
    }
    .container-fluid{
        @media(max-width: 768px){
            padding-right: 0px;
        }
    }
    .whtsup-container, .festivals-container{
        display: flex;
        flex-wrap: wrap;
        margin: -8px -19px;
        @media(max-width: 991px){
            margin: 0px;
        }
        @media(max-width: 768px){
            flex-wrap: unset;
            overflow-x: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            .container-fluid{
                overflow: inherit !important;
            }
            &::-webkit-scrollbar {
            display: none;
            }
        }
        @media(max-width: 576px){
            margin: -5px;
        }
        .item-wrapper{
            padding: 8px 19px;
            flex: 0 0 25%;
            width: 25%;
            position: relative;
            @media(max-width: 991px){
                padding: 5px 5px 15px;
            }
            @media(max-width: 768px){
                padding: 0px 5px 15px;
                flex: 0 0 45%;
                width: 45%;
            }
            @media(max-width: 767px){
                padding: 0px 5px 15px;
            }
            @media(max-width: 576px){
                padding: 5px;
            }
            .image-wrapper{
                .category{
                    position: absolute;
                    left: 30px;
                    right: auto;
                    top: 18px;
                    opacity: 0;
                    transition: 0.7s opacity;
                    -webkit-transition: 0.7s opacity;
                    -moz-transition: 0.7s opacity;
                    -o-transition: 0.7s opacity;
                    padding: 0 8px;
                    word-break: break-all;
                    white-space: normal;
                    height: auto;
                    text-align: left;
                    max-width: 80%;
                    @media(max-width: 991px){
                        opacity: 1;
                        top: 13px !important;
                        left: 13px !important;
                    }
                }
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .image-bottom-desc {
                padding: 28px 0px 0px;
                @media(max-width: 768px){
                    padding: 15px 0px 0px;
                }
                @media(max-width: 576px){
                    padding: 10px 0px 0px;
                }
                h3{
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                    color: #343434;
                    max-height: 22px !important;
                    min-height: 22px !important;
                    transition: 0.5s color;
                    -webkit-transition: 0.5s color;
                    -moz-transition: 0.5s color;
                    -o-transition: 0.5s color;
                    @media(max-width: 991px){
                        max-height: 20px !important;
                        min-height: 20px !important;
                    }
                    @media(max-width: 768px){
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 0;
                    }
                    @media(max-width: 576px){
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
                p{
                    font-size: 14px;
                    line-height: 22px;
                    color: #626262;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    word-break: break-word;
                    @media(max-width: 576px){
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
            }
            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 10px;
                width: calc(100% - 20px);
                height: 100%;
                transform: scaleY(0);
                transform-origin: bottom center;
                background: #ffffff;
                z-index: -1;
                transition: transform 0.3s;
                -webkit-transition: transform 0.3s;
                -moz-transition: transform 0.3s;
                -o-transition: transform 0.3s;
                box-shadow: 0 0 12px 0 rgba(0,0,0,0.08);
                @media(max-width: 991px){
                    content: none;
                }
            }
            &:hover{
                .category{
                    opacity: 1;
                    top: 18px;
                }
                h3{
                    color: #0098FF;
                }
                &:after{
                    transform: scaleY(1);                   
                }
            }
        }
    }
}
.festivals-wrapper{
    .carousel-dots{
        @media(max-width: 1023px){
            padding-right: 30px;
        }
        @media(max-width: 767px){
            padding-right: 10px;
        }
    }
}
.home-page-wrapper{
    .section-top-wrapper{
        a{
            color: #0098ff;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: normal;
            line-height: 19px;
            text-decoration: none;
            font-weight: 600;
            cursor: pointer;
        }
    }
    @media (max-width: 567px){
        .royal-wrapper {
            .royal-items-wrapper{
              overflow-x: auto !important;
              -ms-overflow-style: none;
              scrollbar-width: none;
              .container-fluid{
                  overflow: inherit !important;
              }
              &::-webkit-scrollbar {
              display: none;
              }
                .royal-leftsection{
                    flex: 1 0 40%;
                    max-width: 40%;
                    padding-right: 0 !important;
                    max-width: 140px;
                    margin-right: 10px;
                    .royal-rightside-textwrapper{
                        h3{
                            color: #FFFFFF;
                        }
                    }
                    .image-conatiner{
                        img{
                            max-width: 140px;
                            @media(max-width: 768px){
                                max-width: 100%;
                            }
                        }
                    }
                }
                .royal-rightsection{
                    flex: 1 0 40%;
                    max-width: 40%;
                    h3{
                        a{
                            word-break: break-word !important;
                        }
                    }
                }
                .royal-items{
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: flex-start;
                    .item-wrapper{
                        flex: 0 0 42%;
                        max-width: 42%;
                        .item-img{
                            height: auto;
                        }
                        .royal-item-content{
                            flex-basis: 100%;
                            width: auto;
                            padding-left: 0;
                        }
                    }
                }
                }
        }
        p{
            color: #626262;
        }
    }
}
.articles-wrapper{
    background-color: #F0F9FF;
    padding: 50px 0px 59px;
    @media(max-width: 768px){
        padding: 20px 0px 20px;
    }
    .section-top-wrapper{
        padding-bottom: 20px;
        @media(max-width: 768px){
            padding-bottom: 15px;
        }
    }
    .articles-item{
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        @media(max-width: 768px){
            flex-direction: column-reverse;
        }
        &:first-child{
            margin-top: 0px;
        }
        .article-item-desc{
            flex-basis: calc(55% - 71px);
            width: calc(70% - 71px);
            margin-right: 71px;
            border-bottom: 1px solid rgba(126, 126, 126, 0.2);
            @media(max-width: 991px){
                width: 100%;
                margin-left: 0px;
            }
            @media(max-width: 768px){
                flex: 0 0 100%;
                width: 100%;
                margin-right: 0px;
                margin-left: -30px;
                width: calc(100% + 60px);
                padding: 15px 30px 0 30px;
            }
            @media(max-width: 767px){
                margin-left: -15px;
                width: calc(100% + 30px);
                padding: 15px 15px 0 15px;
            }
            // @media (max-width: 965px) and (min-width: 601px) and (orientation: landscape){
            //     width: calc(100% + 30px);
            //     margin-left: -15px;
            // }
            // @media (max-width: 767px) and (orientation: landscape){
            //     margin-left: 0px;
            //     width: 100%;
            // }
            p{
                font-size: 14px;
                line-height: 22px;
                color: #343434;
                @media(max-width: 576px){
                    font-size: 13px;
                    line-height: 20px;
                }
            }
        }
        .article-item-img{
            flex: 0 0 45%;
            max-width: 45%;
            margin-left: auto;
            @media(max-width: 768px){
                flex: 0 0 100%;
                width: 100%;
                margin-left: unset;
                max-width: 100%;
                overflow: hidden;
            }
            img{
                @media(max-width: 768px){
                    width: 100%;
                    height: auto;
                }
            }
        }
        .category-group{
            padding-bottom: 9px;
            @media(max-width: 576px){
                padding-bottom: 10px;
            }
            li{
                display: inline-block;
                list-style: none;
                margin: 0px 5px 4px 0;
                border: 1px solid rgba(0, 152, 255, 0.15);
                padding: 5px 7px;
                background-color: transparent;
                transition: 0.3s background-color;
                -webkit-transition: 0.3s background-color;
                -moz-transition: 0.3s background-color;
                -o-transition: 0.3s background-color;
                color: rgba(106, 106, 106, 0.8);
                font-family: 'Montserrat', sans-serif;
                font-size: 13px;
                line-height: 15px;
                font-weight: 500;
                color: #0098ff;
                @media(max-width: 576px){
                    margin: 0px 4px 5px 0;
                    padding: 2px 7px;
                }
                a{
                    color: #0098ff;
                    font-size: 13px;
                    line-height: 15px;
                    font-weight: normal;
                    @media(max-width: 576px){
                        font-size: 12px;
                    }
                }
            }
        }
        h3{
            font-size: 17px;
            font-weight: 500;
            line-height: 20px;
            color: #343434;
            margin-bottom: 0px;
            padding-bottom: 9px;
            transition: 0.5s color;
            -webkit-transition: 0.5s color;
            -moz-transition: 0.5s color;
            -o-transition: 0.5s color;
            @media(max-width: 768px){
                padding-bottom: 15px;
            }
            @media(max-width: 576px){
                font-size: 16px;
            }
        }
        .article-place-date{
            padding-bottom: 23px;
            @media(max-width: 768px){
                padding-bottom: 15px;
            }
            span{
                color: #626262;
                font-size: 14px;
                line-height: 22px;
                padding-right: 11px;
                margin-right: 11px;
                border-right: 1px solid #B1B0B0;
                @media(max-width: 576px){
                    font-size: 13px;
                    line-height: 18px;
                }
                &:last-child{
                    border: none;
                }
            }
        }
        &:hover{
            h3{
                color: #0098ff;
            }
        }
    }
    .carousel-dots{
        a{
            img{
                margin-left: 4px;
            }
        }
    }
}
.review-guide-surveys-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 42px 0px 46px;
    background-color: #F0F9FF;
    @media(max-width: 768px){
        padding: 20px 0px 20px;
    }
    .rgs-wrapper {
        display: flex;
        flex-wrap: wrap;
        .reviews-item {
            flex: 0 0 calc(33.33% - 40px);
            width: calc(33.33% - 40px);
            margin: 0 30px;
            position: relative;
            @media(max-width: 768px){
                flex: 0 0 100%;
                width: 100%;
                margin: 0 0px 15px;
            }
            &:first-child{
                margin-left: 0px;
            }
            &:last-child{
                margin-right: 0px;
                @media(max-width: 768px){
                    margin-bottom: 0px;
                }
            }
            .section-title{
                h3{
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 37px;
                    color: #343434;
                    font-family: 'Montserrat', sans-serif;
                    margin-bottom: 37px;
                    padding-bottom: 0px;
                    min-height: 37px;
                    @media(max-width: 991px){
                        font-size: 26px;
                        line-height: 35px;
                        margin-bottom: 10px;
                    }
                    @media(max-width: 768px){
                        font-size: 26px;
                        line-height: 35px;
                        padding-bottom: 0px;
                        margin-bottom: 15px;
                        min-height: auto;
                    }
                    @media(max-width: 576px){
                        font-size: 17px;
                        line-height: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
            .active-review{
                display: block;
                width: 100%;
                @media(max-width: 768px){
                    display: flex;
                    flex-wrap: wrap;
                }
                .review-item-image{
                    @media(max-width: 768px){
                        flex: 0 0 142px;
                        width: 142px;
                    }
                    img {
                        width: 100%;
                    }
                }
                .review-content{
                    @media(max-width: 768px){
                        flex: 0 0 calc(100% - 142px);
                        width: calc(100% - 142px);
                        padding-left: 15px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding-bottom: 8px;
                    }
                    @media(max-width: 576px){
                        padding-left: 10px;
                    }
                    h3{
                        color: #343434;
                        font-family: 'Rubik', sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 22px;
                        margin-bottom: 0px;
                        padding-bottom: 27px;
                        padding-top: 18px;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        transition: all 0.3s ease-in-out;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        overflow: hidden;
                        height: 90px;
                        -webkit-box-orient: vertical;
                        @media(max-width: 768px){
                            margin-bottom: 0px;
                            padding-bottom: 0px;
                            padding-top: 0px;
                            height: 80px;
                        }
                    }
                    .review-subtext{
                        color: #626262;
                        font-family: 'Rubik', sans-serif;
                        font-size: 14px;
                        line-height: 22px;
                        padding-bottom: 0px;
                        margin-bottom: 0px;
                        display: inline-block;
                        @media(max-width: 768px){
                            margin-top: -14px;
                        }
                    }
                }
                &:hover{
                    .review-content{
                        h3{
                            color: #0098ff;
                        }
                    }
                }
            }
            .all-reviews{
                padding-top: 26px;
                @media(max-width: 768px){
                    padding-top: 15px;
                }
                .review-item-wrapper{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    .review-item{
                        display: flex;
                        flex-wrap: wrap;
                        padding-bottom: 23px;
                        @media(max-width: 768px){
                            padding-bottom: 15px;
                        }
                        .review-item-image{
                            flex: 0 0 142px;
                            width: 142px;
                            img{
                                width: 142px;
                                height: 106px;
                            }
                        }
                        .review-content{
                            flex: 0 0 calc(100% - 142px);
                            width: calc(100% - 142px);
                            padding-left: 15px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            @media(max-width: 576px){
                                padding-left: 15px;
                            }
                            h3{
                                color: #343434;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 22px;
                                transition: 0.3s color;
                                -webkit-transition: 0.3s color;
                                -moz-transition: 0.3s color;
                                -o-transition: 0.3s color;
                            }
                            span{
                                color: #626262;
                                font-size: 14px;
                                line-height: 22px
                            }
                        }
                        &:hover{
                            .review-content{
                                h3{
                                    color: #0098FF;
                                }
                            }
                        }
                    }
                }
            }
            .more-review{
                color: #0098FF;
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                font-weight: 600;
                line-height: 19px;
                padding-top: 5px;
                @media(max-width: 768px){
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    padding-right: 5px;
                    padding-top: 8px;
                }
                @media(max-width: 576px){
                  padding-right: 0px;
                  font-size: 10px;
                  padding-top: 0px;
                }
                img{
                    margin-left: 5px;
                    @media(max-width: 576px){
                        margin-left: 3px;
                    }
                }
                &:hover {
                    img {
                        animation: seeallbtn 0.5s linear;
                        animation-iteration-count: infinite;
                    }
                }
            }
        }
    }
}
.trending-wrapper{
    padding: 46px 0px 66px;
    background-color: #0B304B;
    @media(max-width: 768px){
        padding: 20px 0px 20px;
    }
    .container-fluid{
        @media(max-width: 768px){
            padding-right: 0px;
        }
    }
    .section-top-wrapper{
        h2{
            color: #ffffff;
        }
    }
    @media(max-width: 767px){
        .item-wrapper{
            display: flex;
            overflow-x: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            .container-fluid{
                overflow: inherit !important;
            }
            &::-webkit-scrollbar {
            display: none;
            }
            .item{
                margin: 0 6px;
                flex: 1 0 45%;
                max-width: 45%;
                &:first-child{
                    margin-left: 0;
                }
                .image-conatiner{
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
    .grid-container{
        display: flex;
        flex-wrap: wrap;
        @media(max-width: 768px){
            flex-wrap: unset;
            overflow-x: auto;
        }
        .item{
            flex: 0 0 calc(20% - 10px);
            width: calc(20% - 10px);
            margin: 0 5px;
            @media(max-width: 768px){
                flex: 0 0 calc(40% - 10px);
                width: calc(40% - 10px);
            }
        }
    }
    .slick-slider{
        .slick-list{
            .slick-track{
                display: flex;
                .slick-slide{
                    margin: 0 7px;
                    &:first-child{
                        margin-left: 0;
                    }
                    &:nth-child(4n){
                        @media(min-width: 767px){
                            margin-right: 0px;
                        }
                    }
                    .image-conatiner{
                        img{
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    .slick-arrow{
        height: 85px;
        width: 35px;
        background-color: rgba(0, 0, 0, 0.7);
        @media(max-width: 768px){
            display: none !important;
        }
        // @media(min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
        //     margin-top: 32px !important;;
        // }
        &:hover{
            border: none;
            outline: none;
        }
        &.slick-prev{
            left: -40px;
            background: url('../../../assets/images/left-arrow-white.svg') 10px 32px no-repeat;
            background-color: rgba(0, 0, 0, 0.7);
            background-size: 10px 18px;
            &:hover{
                border: none;
            }

        }
        &.slick-next{
            right: -40px;
            background: url('../../../assets/images/right-arrow-white.svg') 10px 32px no-repeat;
            background-color: rgba(0, 0, 0, 0.7);
            background-size: 10px 18px;
            &:hover{
                border: none;
            }
            // &:hover,
            // &:focus{
            //     border: none;
            //     outline: none;
            //     background-position: 12px 0;
            // }
        }
    }
}
.video-gallery{
    padding: 46px 0px 66px;
    @media (max-width: 768px){
        padding: 20px 0px 20px;
    }
    .video-subwrapper{
        height: 500px;
        overflow-y: auto;
        margin-top: -10px;
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track{
            background: #fff;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #ECE8E8;
          outline: 1px solid #ECE8E8;
          border-radius: 3px;
        }
        @media (max-width: 768px){
            height: 300px;
        }
    }
}

.explore-wrapper{
    .trending-wrapper{
        position: relative;
        .slick-slider{
            position: static;
        }
        .slick-arrow{
            height: 82px;
            width: 35px;
            background-position: 10px 32px;
            background-color: rgba(0, 0, 0, 0.7);
            margin-top: 0px;
            top: 50%;
            background-size: 13px;
            @media(max-width: 768px){
                display: none !important;
            }
            // @media(min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
            //     margin-top: 32px !important;
            // }
            &:hover{
                border: none;
                outline: none;
            }
            &.slick-prev{
                left: 0;
                background-image: url('../../../assets/images/left-arrow-white.svg');
                &:hover{
                    border: none;
                }
                
            }
            &.slick-next{     
                right: 0;           
                background-image: url('../../../assets/images/right-arrow-white.svg');
                &:hover{
                    border: none;
                }
            }
        }
        .item{
            img{
                transition: 0.9s transform;
                -webkit-transition: 0.9s transform;
                -moz-transition: 0.9s transform;
                -o-transition: 0.9s transform;
            }
            &:hover{
                img{
                    transform: scale(1.05);
                }
            }
        }
    }
    .royal-wrapper{
        .royal-items-wrapper{
            .royal-rightsection{
                p{
                    font-size: 15px;
                    line-height: 22px;
                    font-weight: normal;
                }
                .royal-items{
                    .item-wrapper{
                        .royal-item-content{                                
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }
    // .container-fluid{
    //     padding-right: 80px;
    //     padding-left: 80px;
    //     @media (min-width: 767px){
    //         padding-right: 80px;
    //         padding-left: 80px;
    //     }
    //     @media (max-width: 1024px){
    //         padding-right: 30px;
    //         padding-left: 30px;
    //     }
    //     @media (max-width: 767px){
    //         padding-right: 10px;
    //         padding-left: 10px;
    //     }
        
    // }
    // .container-fluid > div {
    //     padding-left: 40px;
    //     padding-right: 40px;
    //     @media(max-width: 1024px){
    //         padding-left: 10px;
    //         padding-right: 10px;
    //     }
    //     @media(max-width: 767px){
    //         padding-left: 0px;
    //         padding-right: 0px;
    //     }
    // }
    .whtsup-wrapper, .festivals-wrapper{
        @media (max-width: 768px){
            .container-fluid{
                padding-right: 0;
            }
        }
    }
}