.promotions-grid-wrapper {
  @media(max-width: 767px){
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    .item-wrapper{
      flex: 0 0 50%;
      width: 50%;
      padding: 0px 10px;
      .promotions-home-item{
        margin-bottom: 10px;
        h3{
          white-space: normal;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
