

.agent-list{
    @media (max-width: 992px) {
        padding: 0;
        margin: 0 !important;
    }
    /********** Checkbox ******/
    .styled-checkbox {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it
        height: 16px;
        width: 16px;

        & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        margin: 0;
        color: rgba(98, 98, 98, 0.8);
        }

        // Box.
        & + label:before {
        content: '';
        margin-right: 6px;
        display: inline-block;
        vertical-align: text-top;
        width: 16px;
        height: 16px;
        background: url(../../../../assets/images/checkbox-blank.svg) no-repeat !important;
        margin-top: 0;
        }

        // Box hover
        &:hover + label:before {
            background: #0098FF;
        }

        // Box focus
        &:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.0);
        }

        // Box checked
        &:checked + label:before {
            background: url(../../../../assets/images/tick-checkbox.svg) no-repeat !important;
        }

        // Disabled state label.
        &:disabled + label {
        color: #626262;
        cursor: auto;
        }

        // Disabled box.
        &:disabled + label:before {
        box-shadow: none;
        background: #ddd;
        }

    }
    .search-agent{
        min-height: 600px;
        @media (max-width: 992px) {
            min-height: inherit;
        }
        .list-option{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                border: none;
                margin: 0;
                color: #343434;
                font-size: 16px;
                padding: 7px 0;
                label{
                    color: #343434
                }
            }
        }
        h2{
            color: #343434;	
            font-size: 24px;	
            line-height: 29px;
            font-family: 'Montserrat', sans-serif;
            margin: 0 0 5px;
            padding: 0;
        }
        .agent-search {
            padding: 0 0 10px;
            display: block;
            position: relative;
            .search-btn {
                position: absolute;
                right: 16px;
                top: 2px;
                z-index: 1;
                background: transparent;
                border: none;
                padding: 0;
                img{
                    width: 18px;
                }
            }
    
            input {
                border: 1px solid rgba(151,151,151,0.2);
                height: 36px;
                padding: 7px 40px 7px 10px;
                border-radius: 0;
                &::-webkit-input-placeholder {
                    color: rgba(52,52,52,0.25);
                }
                &::-moz-placeholder {
                    color: rgba(52,52,52,0.25);
                }
                &:-ms-input-placeholder {
                    color: rgba(52,52,52,0.25);
                }
                &:-moz-placeholder {
                    color: rgba(52,52,52,0.25);
                }
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        .festive-hour{
            margin: 0;
            a{
                color: #FF8300;
                padding: 1% 0%;
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;	
                line-height: 19px;
                font-weight: 600;
                img{
                    margin: 0 0 3px 5px;
                }
            }
          }
          
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li{
                padding: 15px 0;
                border-bottom: 1px #E6E6E6 solid;
                position: relative;
                &:last-child{
                    border: none;
                }
                .active-arrow{
                    display: none;
                }
                &.active{
                    background-color: rgba(0,152,255,0.07);
                    .active-arrow{
                        position: absolute;
                        right: 12px;
                        top: 18px;
                        width: 15px;
                        display: block;
                    }
                }
                @media (max-width: 992px) {
                    padding: 15px;
                    padding-right: 25px;
                }
                h3{
                    color: #323232;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 19px;
                    margin: 0 0 13px;
                    a{
                        color: #0077C8;	
                        font-size: 16px;	
                        line-height: 19px;
                    }
                }
                p{
                    color: #343434;	
                    font-size: 16px;	
                    line-height: 19px;
                    margin: 0;
                    padding: 0;
                }
            }
          }
          .pop-up-container:hover .active{
            display:block;
          }
          
          .pop-up-container:hover{
            cursor: pointer;
          }
          
          .pop-up-list{
            display:none;
            border: 2px solid #0098FF;
            position: absolute;
            width:500px;
            left: 100%;
            padding: 10px 20px;
            top: -50px;
            z-index: 1;
            background: white;
            box-shadow: 0 2px 33px 0 rgba(0,0,0,0.23);
            @media (max-width: 992px) {
                position: relative;
                width:calc(100% + 30px);
                left: -15px;
                padding: 10px 20px;
                top: 20px;  
                box-shadow: none;
            }
            &:after, &:before {
                right: 100%;
                top: 80px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                @media (max-width: 992px) {
                    right: 50%;
                    top: 0;
                }
            }
            
            &:after {
                border-color: rgba(136, 183, 213, 0);
                border-right-color: #FFF;
                border-width: 10px;
                margin-top: -10px;
                @media (max-width: 992px) {
                    border-bottom-color: #FFF;
                    border-right-color: transparent;
                    margin-top: -22px;
                    margin-right: 1px;
                    border-width: 11px;
                }
            }
            &:before {
                border-color: rgba(194, 225, 245, 0);
                border-right-color: #0098FF;
                border-width: 12px;
                margin-top: -12px;
                @media (max-width: 992px) {
                    border-bottom-color: #0098FF;
                    border-right-color: transparent;
                    margin-top: -26px;
                }
            }
            .direction{
                position: absolute;
                right: 15px;
                top: 15px;
            }
            .agent-info{
                padding: 8px 0;
                display: flex;
                align-items: end;
                .icon{
                    flex: 0 0 40px;
                    margin-top: 4px;
                }
                .details{
                    h3{
                        margin-bottom: 4px;
                        font-weight: 500;
                    }
                    p{
                        font-size: 15px;
                    }
                    .currently-list{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        margin-left: -6px;
                        width: calc(100% + 12px);
                        @media (max-width: 992px) {
                            flex-wrap: wrap;
                        }
                        li{
                            flex: 0 0 25%;
                            padding: 0 6px;
                            border: none;
                            img{
                                max-width: 100%;
                            }
                            p{
                                color: #343434;	
                                font-size: 13px;	
                                line-height: 15px;
                                margin: 5px 0 0 0;
                            }
                        }
                    }
                }
            }
          } 
    }
}


