
.react-modal{
    z-index: 101;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
  .react-modal-body-close:after, .react-modal-body-close:before{
      background: #0098FF;
      width: 20px;
      border-radius: 0;
      left: 11px;
  }
  .react-modal-body-close{
      z-index: 5;
      top: 0;
    right: 0;
    padding: 22px;
  }
  .react-modal-overlay{
    z-index: 101;
  }
  .react-modal-body{
    z-index: 102;
    width: 600px;
    min-height: inherit;
    overflow: hidden;
    max-height: 500px;
    @media(max-width: 991px){
        width: calc(100% - 30px);
    }
    .modal-content{
        background: none;
        border: none;
        .modal-title{
            font-size: 22px;
            color: #343434;
            font-weight: 500;
            word-break: break-word;
            padding-right: 25px;
            @media(max-width: 767px){
                font-size: 16px;
                padding-right: 20px;
            }
        }
        .notice{
            padding: 0 25px;
            word-break: break-word;
            @media(max-width: 768px){
                padding: 0 10px;
            }
            p{
                font-size: 15px;
                line-height: 22px;
                color: #343434;
                font-family: 'Rubik', sans-serif;
                @media(max-width: 767px){
                    font-size: 14px;
                    line-height: 20px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    font-size: 15px;
                    strong{
                        font-size: 15px;
                    }
                }
            }
            pre{
                font-size: 15px;
                line-height: 22px;
                color: #343434;
                font-family: 'Rubik', sans-serif;
                overflow: inherit;
                white-space: normal;
                a{
                    font-size: 15px;
                    strong{
                        font-size: 15px;
                    }
                }
            }
        }
        .modal-body{
            max-height: 440px;
            overflow-y: auto;
        }
    }
  }
}
