
.react-modal{
  z-index: 10;
  top: 0;
  .react-modal-body-close:after, .react-modal-body-close:before{
      background: #0098FF;
      width: 20px;
  }
  .react-modal-body-close{
      z-index: 5;
  }
  .react-modal-overlay{
    z-index: 101;
  }
  .react-modal-body{
    z-index: 102;
    .modal-content{
        background: none;
        border: none;
        .modal-title{
            font-size: 22px;
            color: #343434;
            font-weight: 500;
        }
    }
  }
}
