.find-an-agent{
  background: url('../../././../assets//images/agent-banner.png') no-repeat;
  height: 200px;
}
.authorised-agent{
  padding: 3% 0%;
  font-size: 30px;
  font-weight: bold;
  color:white;
}
