.promotion-grid {
    .sortby-filter{
        width: 291px;
        margin-right: 30px;
    }
    .tab-content-wrapper {
        padding-bottom: 60px;

        @media(max-width: 991px) {
            padding-bottom: 30px;
            width: 100%;
        }
    }

    .promotions-listing {
        position: relative;
    }

    //load more button
    .promotion-load-more {
        display: block;
        text-align: center;
        width: 100%;
        padding-bottom: 71px;

        @media(max-width: 991px) {
            padding-bottom: 30px;
        }

        .load-more-btn {
            border: 1px solid #dedede;
            border-radius: 20px;
            padding: 5px 18px;
            vertical-align: middle;
            display: inline-block;
            line-height: normal;
            text-decoration: none;
            background-color: #ffffff;
            transition: 0.9s background-color, 0.1s border;
            -webkit-transition: 0.9s background-color, 0.1s border;
            -moz-transition: 0.9s background-color, 0.1s border;
            -o-transition: 0.9s background-color, 0.1s border;

            &:hover {
                background-color: #FFF;
                border: 1px solid #0098ff;
                color: #0098ff
                span {
                    color: #0098ff;
                }
            }

            span {
                color: #949494;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
                transition: 0.9s color;
                -webkit-transition: 0.9s color;
                -moz-transition: 0.9s color;
                -o-transition: 0.9s color;
            }

            img {
                padding-left: 10px;
                padding-bottom: 4px;
                transition: 0.9s filter;
            }
        }
    }
}