.promotion-grid {
    .sortby-filter{
        margin-right: 30px;
        .sortby-filter{
            margin-right: 0
        }
        .filter-topbar{
            @media(max-width: 767px){
                text-align: center;
                margin: 0 auto;
            }
            &:after{
                @media(max-width: 767px){
                    content: none;
                }
            }
            .sortby-text{
                @media(max-width: 767px){
                    position: relative;
                    color: #fff;
                    max-width: 102px;
                    display: flex;
                    justify-content: center;
                    font-family: 'Montserrat', sans-serif;
                    align-items: baseline;
                    font-size: 16px;
                    margin: 0 auto;
                    text-transform: capitalize;
                }
               &:after{
                @media(max-width: 767px){
                    position: absolute;
                    content: "";
                    right: 2px;
                    width: 15px;
                    height: 10px;
                    background-image: url(../../../assets/images/down-arrow-white.svg);
                    background-repeat: no-repeat;
                    top: 50%;
                    transform: translateY(-50%);
                    background-size: contain;
                    }
                }
            }
        }
        span{
            ul{
                @media(max-width: 767px){
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    bottom: 0px;
                    right: 0px;
                    z-index: inherit;
                    display: block;
                    background-color: #efefef;
                    li{
                        border-bottom: 1px solid #efefef;
                        background-color: #fff;
                        padding: 21px 20px;
                    }
                }
            }
            .sortby-topbar-mobileonly, .sortby-apply-mobileonly{
                display: none;
                @media(max-width: 767px){
                    display: flex;
                    position: fixed;
                    z-index: 2;
                    color: #fff;
                    background-color: #373E45;
                    padding: 15px 17px;
                    height: 45px;
                    top: 0;
                }
            }
            .sortby-apply-mobileonly{
                bottom: 45px;
                top: auto;
                background-color: #0098FF;
            }
        }
        .sortby-topbar-mobileonly{
            flex-wrap: wrap;
            min-height: 100px;
            background-color: #30383f;
            width: 100%;
            padding: 0 15px;
            align-items: center;
            padding: 0 10px 15px;
            align-items: flex-end;
            .left-arrow-sortby{
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                img{
                    max-width: 20px;
                    margin-right: 10px;
                }
                span{
                    display: flex;
                    flex-wrap: wrap;
                    color: #fff;
                    font-weight: 500;
                    font-size: 16px;
                }
            }
            .clear-filter-sortby{
                flex: 0 0 auto;
                margin-left: auto;
                color: #0098FF;
                font-size: 16px;
                text-transform: capitalize;
            }
        }
        .sortby-apply-mobileonly{
            text-align: center;
            display: block;
            width: 100%;
            margin: 0 auto;
            color: #fff;
            justify-content: center;
            padding: 15px;
            font-weight: 500;
            font-size: 17px;
        }
    }
    .tab-content-wrapper {
        padding-bottom: 60px;

        @media(max-width: 991px) {
            padding-bottom: 30px;
            width: 100%;
        }
    }

    .promotions-listing {
        position: relative;
    }

    //load more button
    .promotion-load-more {
        display: block;
        text-align: center;
        width: 100%;
        padding-bottom: 71px;

        @media(max-width: 991px) {
            padding-bottom: 30px;
        }

        .load-more-btn {
            border: 1px solid #dedede;
            border-radius: 20px;
            padding: 5px 18px;
            vertical-align: middle;
            display: inline-block;
            line-height: normal;
            text-decoration: none;
            background-color: #ffffff;
            transition: 0.9s background-color, 0.1s border;
            -webkit-transition: 0.9s background-color, 0.1s border;
            -moz-transition: 0.9s background-color, 0.1s border;
            -o-transition: 0.9s background-color, 0.1s border;
            &:hover {
                background-color: #FFF;
                border: 1px solid #0098ff;
                color: #0098ff;
                text-decoration: none;
                span {
                    color: #0098ff;
                }
            }

            span {
                color: #949494;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
                transition: 0.9s color;
                -webkit-transition: 0.9s color;
                -moz-transition: 0.9s color;
                -o-transition: 0.9s color;
            }

            img {
                padding-left: 10px;
                padding-bottom: 4px;
                transition: 0.9s filter;
            }
        }
    }
}

