.slick-slider{
    .slick-dots{
        margin-bottom: 10px;
        li{
            margin-top: 30px;
            height: 2px;
            button{
                width: 25px;
                height: 2px;
                &:before{
                    content: '';
                    background-color: #000000;
                    opacity: 0.10;
                    height: 2px;
                    width: 26px;
                }
            }
            &.slick-active{
                button{
                    &:before{
                        opacity: 1;
                        background-color: #0077C8;
                        color: #0077C8;
                    }
                }
            }
        } 
    }    
}
.article-video-banner{
    position: relative;
    .video-banner-bg{
        display: none;
        @media(max-width: 991px){
            opacity: 0;
            display: block;
        }
    }
    .react-player{
        @media(max-width: 991px){
            width: 100% !important;
            height: 100% !important;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }
    }
}