.hotshow-enter {
  opacity: 0;
}

.hotshow-enter.hotshow-enter-active {
  opacity: 1;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.hotshow-leave {
  opacity: 1;
}

.hotshow-leave.hotshow-leave-active {
  opacity: 0;
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.hotshow-popup {
    position: fixed;
    width: 100%;
    z-index: 4;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;


    .hotshow {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        z-index: 2;
        top: 0px;
        margin-top: 50px;
        height: auto;

        .hotshow-topbar {
            background-color: #0077C8;
            margin-bottom: 20px;
            padding: 16px;
            color: #fff;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            @media(max-width: 860px){
                padding: 10px;
                margin-bottom: 10px;
            }
            .hotshow-topbar-left{
                span{
                    color: #FFFFFF;
                    font-family: 'Rubik', sans-serif;
                    font-size: 14px;
                    line-height: 17px;
                    margin: 0px;
                    padding: 0px;
                    font-weight: 300;
                    @media(max-width: 860px){
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }
            .hotshow-topbar-right {
                margin-left: auto;
                @media(max-width: 767px){
                    margin-left: unset;
                    margin-top: 10px;
                }
                span{
                    color: #FFFFFF;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19px;
                    margin: 0px;
                    padding: 0px;
                    display: flex;
                    align-items: end;
                    cursor: pointer;
                    @media(max-width: 860px){
                        font-size: 14px;
                        line-height: 16px;
                    }
                    img{
                        margin-left: 11px;
                        @media(max-width: 860px){
                            margin-left: 8px;
                            max-width: 20px;
                        }

                    }
                    &:hover{
                        img{
                            animation: seeallbtn 0.5s linear;
                            animation-iteration-count: infinite;
                        }
                    }
                }
            }
        }
        &.container{
            background-color: transparent;
            max-width: 1007px;
        }
    }
    .hotshow-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: flex-start;
        .hotshow-block{
            padding: 3px;
            background-color: #ffffff;
            flex: 0 0 47%;
            width: 47%;
            margin-bottom: 0px;
            @media(max-width: 860px){
                flex: 0 0 100%;
                width: 100%;
                margin-bottom: 10px;
            }
            &:nth-child(2){
                margin-left: auto;
            }
            .hotshowimg{
              position: relative;
                min-height: 190px;
                background-color: transparent;
                img, div{
                    width: 100% !important;
                    height: auto;
                    @media(max-width: 991px){
                        width: auto !important;
                    }
                }
                .react-player{
                  position: absolute;
                  top: 0;
                  left: 0;
                }
            }
            .hotshow-content{
                padding: 0 20px;
                margin: 20px 0;
                max-height: 360px;
                overflow: auto;
                @media(max-width: 860px){
                    padding: 10px 7px;
                }
                h3{
                    color: #343434;
                    font-family: 'Rubik', sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 20px;
                    margin-bottom: 5px;
                    @media(max-width: 860px){
                        font-size: 16px;
                    }
                }
                ul{
                    li{
                        list-style: none;
                        margin-bottom: 15px;
                        @media(max-width: 860px){
                            margin-bottom: 10px;
                        }
                        h4{
                            color: #343434;
                            font-family: 'Rubik', sans-serif;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 20px;
                            @media(max-width: 860px){
                                font-size: 14px;
                                display: none;
                            }
                            span{
                                font-size: 14px;
                                font-style: italic;
                                line-height: 20px;
                                padding-left: 5px;
                            }
                        }
                        p{
                            color: #626262;
                            font-family: 'Rubik', sans-serif;
                            font-size: 14px;
                            line-height: 17px;
                            font-weight: normal;
                            margin-bottom: 5px;
                            padding: 0px;
                            @media(max-width: 860px){
                                font-size: 13px;
                                line-height: 15px;
                                display: block;
                            }
                        }
                    }
                }
                p{
                    color: #626262;
                    font-family: 'Rubik', sans-serif;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: normal;
                    margin-bottom: 5px;
                    padding: 0px;
                    @media(max-width: 860px){
                        font-size: 13px;
                        line-height: 15px;
                        display: block;
                    }
                }
                .hotshow-note{
                    color: #343434;
                    font-family: 'Rubik', sans-serif;
                    font-size: 14px;
                    font-style: italic;
                    font-weight: 500;
                    line-height: 17px;
                    width: 100%;
                    display: block;
                    margin-bottom: 10px;
                    @media(max-width: 860px){
                        display: none;
                    }
                }
                a{
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19px;
                    text-align: center;
                    padding: 10px 18px;
                    display: inline-block;
                    background: #0077C8;
                    color: #FFF;
                    margin-top: 10px;
                    @media(max-width: 860px){
                        font-size: 14px;
                        line-height: 18px;
                        padding: 5px 10px;
                    }
                }
            }
        }
        .hotshow-block.hotshow-block-fullwidth{
            flex: 0 0 100%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding: 14px;
            align-items: flex-start;
            @media(max-width: 991px){
                padding: 3px;
            }
            .hotshowimg{
                flex: 0 0 65%;
                min-height: 246px;
                background-color: transparent;
                @media(max-width: 991px){
                    flex: 0 0 100%;
                    min-height: inherit;
                }
            }
            .hotshow-content{
                flex: 0 0 35%;
                padding: 0 0 0px 15px;
                @media(max-width: 991px){
                    flex: 0 0 100%;
                    padding: 10px;
                }
                ul{
                    li{
                        margin-bottom: 13px;
                        h4{
                            @media(max-width: 860px){
                                font-size: 14px;
                                display: block;
                            }
                        }
                        p{
                            @media(max-width: 860px){
                                font-size: 13px;
                                line-height: 15px;
                                display: block;
                            }
                        }
                    }
                    @media(max-width:991px){
                        display: block;
                    }
                }
                .hotshow-note{
                    @media(max-width: 991px){
                        display: block;
                    }
                }
            }
        }
    }
}
.hotshow-overlay {
    position: fixed;
    background-color: #000000;
    width: 100%;
    // height: 0;
    top: 0;
    right: 0px;
    bottom: 0;
    left: 0px;
    opacity: 0.6;
    z-index: 2;
}
// hotshow overlay
.hotshowpopup-overlay{
    overflow: hidden;
    @media(max-width: 1024px){
        overflow: hidden !important;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 100%;
        width: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

.flashsale-wrapper{
    &.hotshow-popup{
        .hotshow-overlay{
            @media(max-width: 767px){
                width: calc(100% - 0px);
            }
        }
        .hotshow{
            width: 100%;
            -ms-overflow-style: none; // IE 10+ 
            scrollbar-width: none; // Firefox 
            &::-webkit-scrollbar { 
                display: none; // Safari and Chrome 
            }
            @media(max-width: 767px){
                padding-top: 30px;
                overflow: hidden;
            }
            .hotshow-topbar{
                .hotshow-topbar-right{
                    @media(min-width: 600px) and (max-width: 767px) and (orientation: landscape){
                        margin-left: auto;
                        margin-top: 0px;
                    }
                }
            }
        }
        .hotshow-wrapper{
            @media(max-width: 767px){
                height: calc(100% - 130px);
                overflow-y: auto;
            }
            @media(max-width: 991px) and (orientation: landscape){
                height: calc(100% - 150px);
            }
            @media(max-width: 690px) and (orientation: landscape){
                height: calc(100% - 60px);
            }
            -ms-overflow-style: none; // IE 10+ 
            scrollbar-width: none; // Firefox 
            &::-webkit-scrollbar { 
                display: none; // Safari and Chrome 
            }
            .hotshow-block{
                &.hotshow-block-fullwidth{
                    align-items: flex-start;
                    max-height: 550px;
                    overflow-y: auto;
                    &::-webkit-scrollbar {
                        width: 6px;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        width: 2px;
                        border: none;
                        outline: none;
                    }
                    &::-webkit-scrollbar-track-piece {
                        background-color: #d0d0d0;
                    }
                    @media(max-width: 1440px){
                        max-height: 500px;
                    }
                    @media(max-width: 767px){
                        max-height: 100%;
                    }
                    .hotshowimg{
                        min-height: auto;
                        max-height: 100%;
                        flex: 0 0 468px;
                        width: 468px;
                        @media(max-width: 991px){
                            flex: 0 0 100%;
                            width: 100%;
                        }
                        img{
                            width: auto !important;
                            height: auto;
                            max-width: 100%;
                            @media(max-width: 991px){
                                width: auto !important;
                            }
                        }
                    }
                }
                .hotshow-content{
                    overflow-y: auto;
                    overflow-x: hidden;
                    margin: 0px;
                    flex: 0 0 calc(100% - 468px);
                    padding: 0 0 0px 15px;
                    width: calc(100% - 468px);
                    max-height: 195px;
                    &::-webkit-scrollbar {
                        width: 6px;
                    }
                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        width: 2px;
                        border: none;
                        outline: none;
                    }
                    &::-webkit-scrollbar-track-piece {
                        background-color: #d0d0d0;
                    }
                    @media(max-width: 991px){
                        flex: 0 0 100%;
                        width: 100%;
                        padding-left: 5px;
                        padding-top: 10px;
                        max-height: 100%;
                    }
                    a{
                        font-size: inherit;
                        font-weight: inherit;
                        line-height: inherit;
                        text-align: center;
                        padding: 0px;
                        display: inline-block;
                        background: transparent;
                        color: #0098ff;
                        margin-top: 0;
                    }
                    & > a{
                        font-size: 30px;
                        line-height: 37px;
                        font-weight: 600;
                        color: #343434;
                        text-align: left;
                        border-bottom: 1px solid #cfcfcf;
                        width: 100%;
                        padding-bottom: 5px;
                        margin-bottom: 5px;
                        transition: 0.5s color;
                        -webkit-transition: 0.5s color;
                        -moz-transition: 0.5s color;
                        -o-transition: 0.5s color;
                        &:hover{
                            color: #0098ff;
                        }
                        @media(max-width: 768px){
                            font-size: 18px;
                            line-height: 20px;
                            font-weight: 500;
                            margin-bottom: 10px;
                            color: #343434;
                        }
                    }
                }
            }
        }
        .close-flashsale {
            position: absolute;
            right: 0px;
            top: -15px;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 0px 1px 0px #000;
            img{
                width: 12px;
                height: auto;
            }
        }
    }
}