body,
* {
	font-size: 14px;
	line-height: 17px;
    font-weight: normal;
    font-family: 'Rubik', sans-serif;
}

body {
	position: relative;
	&.body-overlay {
		position: relative;
		&::after {
				position: absolute;
				content: "";
				background-color: #000000;
				width: 100%;
				height: 100%;
				top: 0;
				right: 0px;
				bottom: 0;
				left: 0px;
				opacity: 0.6;
				z-index: 1;
		}
	}
	a {
        text-decoration: none;
        outline: none;
		&:hover,
		&:focus,
		&:active {
            text-decoration: none;
            outline: none;
		}
	}
}
ul {
	margin-bottom: 0px;
	padding: 0px;
}

.accent-text {
	color: #0098ff;
}

//nav
nav {
	a {
		color: #ffffff;
		display: inline-block;
		position: relative;
	}
}


// Breadcrumb style
.breadcrumb {
	background-color: transparent;
	padding: 0px;
	margin: 0px;
	li {
		list-style: none;
		position: relative;
		display: inline-block;
		padding-right: 10px;
		padding-left: 5px;
		color: #ffffff;
		&::after {
			position: absolute;
			content: "/";
			color: inherit;
			right: 0px;
			top: auto;
			left: auto;
			bottom: auto;
			width: auto;
			height: auto;
		}
		a {
			color: inherit;
			font-family: 'Rubik', sans-serif;
			font-size: 14px;
			line-height: 18px;
			@media (max-width: 767px) {
				font-size: 12px;
				line-height: 15px;
			}
		}
		&:first-child {
			padding-left: 0px;
		}
		&:last-child {
			&::after {
				content: none;
			}
		}
	}
}

// Common Heading 
h2 {
    font-size: 30px;
    line-height: 37px;
    font-weight: 600;
    color: #343434;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding-bottom: 18px;
}

// Modal Design 
.modal{
    display: block;
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
    z-index: 101;
    .modal-dialog {
        position: relative;
        pointer-events: none;
        margin: 1.75rem auto;
        border-radius: 0;
        .modal-content{
            border-radius: 0;
            .modal-header{
                border-radius: 0;
                border-color: #E8E8E8;
                h5{
                    font-size: 22px;
                    color: #343434;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 500;
                }
                &.border-n{
                    border: none;
                }
                .close{
                    opacity: 1;
                    outline: none;
                    img{
                        width: 16px;
                    }
                }
            }
            .modal-body {
                border-radius: 0;
            }
        }
        
    }
    .modal-dialog-scrollable {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        height: calc(100% - 2.5rem);
        .modal-content {
            max-height: calc(100vh - 1rem);
            overflow: hidden;
            .modal-body {
                overflow-y: auto;
            }
        }
    }
}

// Share Icon
.share, .info {
	position: absolute;
	right: 0px;
	top: -10px;
	border-radius: 50%;
	padding: 0;
	height: 28.27px;
	width: 28.27px;
	border: 2.27px solid rgba(126, 126, 126, 0.2);
	text-align: center;
	img {
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		position: absolute;
	}
}

.container-fluid {
	@media(min-width: 767px) {
		padding-right: 50px;
		padding-left: 50px;
	}
	@media(max-width: 1023px) {
		padding-right: 30px;
        padding-left: 30px;
        overflow: hidden;
	}
	@media (max-width: 767px) {
		padding-right: 10px;
		padding-left: 10px;
	}
}

button,
.btn-link {
	height: auto;
	width: auto;
	background-color: #0098ff;
	box-shadow: none;
	border: none;
	padding: 0 10px;
	position: relative;
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	font-size: 14px;
	line-height: 30px;
	overflow: hidden;
	&::after {
		height: calc(100% + 50px);
		position: absolute;
		content: "";
		width: 20%;
		background-color: rgb(255, 255, 255);
		left: -20px;
		opacity: 0;
		transform: rotate(35deg);
		transition: 0.5s left, 0.5s opacity;
		filter: blur(10px);
		top: -30px;
	}
	&:hover {
		cursor: pointer;
		&::after {
			left: calc(100% + 35px);
			opacity: 1;
		}
	}
}

.dance-overlay {
	background: linear-gradient(180deg, rgba(242, 177, 25, 0) -5%, #5F4F8B 70%);
}

.musical-overlay {
	background: linear-gradient(180deg, rgba(242, 177, 25, 0) -5%, #07B3F0 70%);
}

.comedy-overlay {
	background: linear-gradient(180deg, rgba(242, 177, 25, 0) -5%, #F2B119 70%);
}

.section-top-wrapper {
	display: grid;
	grid-template-columns: auto auto;
}

.carousel-dots {
	margin-left: auto;
	text-align: right;
	a {
		color: #0098ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		font-weight: normal;
		line-height: 19px;
		padding-bottom: 14px;
        text-decoration: none;
        font-weight: 600;
		@media (max-width: 767px) {
			font-family: 'Montserrat', sans-serif;
			font-size: 12px;
			line-height: 18px;
			padding-bottom: 0px;
			font-weight: 600;
		}
		img {
			padding-bottom: 2px;
			margin-left: 2px;
            transition: 0.3s transform;
            width: 8px;
			@media (max-width: 767px) {
				margin-left: 1px;
				padding-bottom: 1px;
				max-width: 5px;
			}
		}
		&:hover {
			img {
				animation: seeallbtn 0.5s linear;
			}
		}
	}
}

// See All Action Animation
.seeall-btn {
	&:hover {
		img {
			animation: seeallbtn 0.5s linear;
		}
	}
}

@keyframes seeallbtn {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0px);
	}
}

// Slider Bullets Design
.dots-group {
	span {
		height: 2px;
		width: 25px;
		display: inline-block;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.1);
		transition: 0.3s opacity;
		&.active {
			opacity: 1;
			background-color: #0077C8;
		}
		&:hover {
			background-color: #0077c8;
			opacity: 1;
		}
	}
}

// Category Label Style
.category {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	height: 20px;
	background-color: #5F4F8B;
	display: inline-block;
	text-align: center;
	text-transform: capitalize;
	padding: 0px 5px;
	@media (max-width: 767px) {
		font-size: 11px;
		line-height: 18px;
		height: 18px;
    }
    &.musical {
        background-color: #07B3F0;
    }
    
    &.dance {
        background-color: #5F4F8B;
    }
    
    &.comedy {
        background-color: #F2B119;
    }
    
    &.theatre {
        background-color: #BF659A;
    }
}

//carousel nav style
.carousel-navigation {
	.left-navigation {
		left: 0px;
	}
	.right-navigation,
	.left-navigation {
		position: absolute;
		right: 0px;
		top: 50%;
		transform: translateY(-50%);
		max-width: 50px;
		a {
			height: 82px;
			line-height: 82px;
			width: 35px;
			display: inline-block;
			text-align: center;
			i {
				font-size: 18px;
				opacity: 1;
				color: #ffffff;
				transition: 0.3s all ease-in-out;
			}
			&:hover {
				opacity: 0.8;
				i {
					color: #0098ff;
				}
			}
		}
	}
	.right-navigation {
		justify-content: end;
		text-align: right;
	}
	@media(max-width: 1024px) {
		display: none;
	}
}

//sortby filter
.sortby-filter {
	width: auto;
	min-width: 231px;
	right: 0px;
	padding-top: 0px;
	border-top: none;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-bottom: 18px;
	position: relative;
	@media (max-width: 767px) {
		display: none;
    }
	.filter-topbar {
		height: auto;
		border: 1px solid rgba(151, 151, 151, 0.2);
		padding: 7px 11px;
		width: 100%;
		display: block;
		box-shadow: inset 0 4px 20px 1px rgba(162, 162, 162, 0.2);
		position: relative;
		&:after {
			position: absolute;
			content: "";
			right: 10px;
			width: 15px;
			height: 10px;
			// background-image: url(../../images/down-arrow-grey.png);
			background-repeat: no-repeat;
			top: 50%;
			transform: translateY(-50%);
		}
		.sortby-text {
			color: #343434;
			font-family: 'Rubik', sans-serif;
			font-size: 14px;
			line-height: 17px;
			text-transform: uppercase;
			font-weight: bold;
			padding-right: 8px;
		}
		.active-filter {
			color: #0098ff;
			font-family: 'Rubik', sans-serif;
			font-size: 16px;
			line-height: 19px;
		}
		&:active,
		&:hover {
			&+ul {
				background-color: #fff;
				font-family: 'Rubik', sans-serif;
				cursor: pointer;
			}
		}
	}
	ul {
		border: 1px solid rgba(151, 151, 151, 0.2);
		border-top: none;
		height: 0px;
		opacity: 0;
		transition: 0.3s height, 0.3s opacity;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 1;
		&.active {
			height: auto;
			opacity: 1;
		}
		li {
			padding: 12px 20px;
			list-style: none;
			color: #343434;
			font-family: 'Rubik', sans-serif;
			font-size: 14px;
			line-height: 17px;
			transition: 0.3s background-color, 0.3s color;
			&:hover {
				background-color: rgba(0, 128, 215, 0.2);
				color: #0098ff;
				cursor: pointer;
			}
			&.active {
				background-color: rgba(0, 128, 215, 0.2);
				color: #0098ff;
				font-family: 'Rubik', sans-serif;
				cursor: pointer;
			}
		}
	}
}

//sortby filter mobileview
.mobileview-filter {
	display: none;
	@media (max-width: 767px) {
		display: block;
		position: fixed;
		width: 100%;
		padding: 0px;
		margin: 0px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
        .sortby-bg{
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            background-color: rgba(3, 13, 21, 0.5);
            height: 100%;
            z-index: 1;
        }
		.sortby-filter {
			margin-bottom: 0px;
            display: block;
            background: #FFF;
            position: relative;
            z-index: 2;
			ul {
				position: relative;
				top: 0;
				opacity: 1;
				height: 100%;
			}
		}
		.filter-title {
			display: flex;
			flex-wrap: wrap;
			padding: 12px 20px;
			span {
				font-family: 'Rubik', sans-serif;
				font-size: 16px;
				line-height: normal;
				flex: 0 0 auto;
			}
			a {
				flex: 0 0 auto;
				margin-left: auto;
			}
		}
		.filter-topbar {
			text-align: center;
			padding: 10px 0px;
			background-color: #0098ff;
			.sortby-text {
				color: #fff;
				text-transform: capitalize;
				font-weight: normal;
				padding-right: 5px;
			}
			img {
				max-width: 14px;
			}
			&::after {
				content: none;
			}
		}
		&.active {
			top: 0px;
			.filter-topbar {
				opacity: 0;
			}
			.sortby-filter {
				position: absolute;
				bottom: 0px;
				width: 100%;
			}
		}
	}
}

// Website scroll bar 
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background: #EEE;
}
 
::-webkit-scrollbar-thumb {
  background-color: #DDD;
  outline: 1px solid #DDD;
  border-radius: 5px;
}


// Calender CSS 
.calender {
    .month-cal{
        .DayPicker {
            width: calc(100% + 10px);
            margin: 0 -5px;
            .DayPicker-wrapper{
                padding: 0;
                .DayPicker-NavBar{
                    position: absolute;
                    right: 3px;
                    top: -46px;
                    .DayPicker-NavButton{
                        right: 0;
                    }
                    .DayPicker-NavButton--prev{
                        background: rgba(247,248,252,1) url(../../assets/images/right-arrow.svg) 6px 2px no-repeat;
                        transform: rotate(180deg);
                        border-radius: 50%;
                        right: 5px;
                        outline: none;
                    }
                    .DayPicker-NavButton--next{
                        background: rgba(247,248,252,1) url(../../assets/images/right-arrow.svg) 6px 3px no-repeat;
                        border-radius: 50%;
                        outline: none;
                    }
                }
                .DayPicker-Months{
                    .DayPicker-Month{
                        width: 100%;
                        margin: 0;
                        display: block;
                        .DayPicker-Body{
                            display: block;
                        }
                        .DayPicker-Caption{
                            position: absolute;
                            right: 45px;
                            top: -28px;
                            color: #343434;
                            font-size: 14px;
                            div{
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                        .DayPicker-Weekdays{
                            display: flex;
                            margin: 0;
                            .DayPicker-WeekdaysRow{
                                display: flex;
                                justify-content: space-between;
                                padding: 0;
                                width: 100%;
                            }
                            .DayPicker-Weekday{
                                abbr{
                                    color: rgba(52,72,94,0.54);
                                    font-size: 11px;
                                    font-weight: 500;
                                }
                            }
                        }
                        .DayPicker-Week{
                            display: flex;
                            justify-content: space-between;
                            .DayPicker-Day{
                                font-size: 10px;
                                display: flex;
                                padding: 0;
                                border-radius: 50%;
                                justify-content: center;
                                cursor: pointer;
                                width: 26px;
                                height: 26px;
                                margin: 2px 0;
                                color: #7C86A2;
                                align-items: center;
                                line-height: initial;
                                &.DayPicker-Day--selected{
                                    background: #0098FF;
                                    font-weight: 500;
                                    color: #FFF;
                                    &:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside){
                                        color: #7C86A2;
                                    }
                                }
                            }
                            .DayPicker-Day--today{
                                color: #0098FF !important;
                            }
                        }
                    }
                }
            }
        }  
    }
	.cal-month-name {
		margin-left: auto;
		display: flex;
		align-items: center;
		span {
			color: #343434;
			font-family: 'Rubik', sans-serif;
			font-size: 14px;
			line-height: 17px;
			font-weight: normal;
		}
		.prev-month,
		.next-month {
			height: 15px;
			width: 15px;
			border-radius: 50%;
			background-color: #F7F8FC;
			text-align: center;
			line-height: 12px;
			img {
				max-width: 6px;
			}
		}
		.prev-month {
			margin: 0px 8px 0px 6px;
			img {
				transform: rotate(180deg);
			}
		}
	}
}