body,
* {
	font-size: 14px;
	line-height: 17px;
    font-weight: normal;
    font-family: 'Rubik', sans-serif;
}

body {
	position: relative;
	&.body-overlay {
		position: relative;
        overflow: hidden;
		padding-right: 10px;
		@media(max-width: 1024px){
			padding-right: 0px;
		}
		&::after {
				position: absolute;
				content: "";
				background-color: #000000;
				width: 100%;
				height: 100%;
				top: 0;
				right: 0px;
				bottom: 0;
				left: 0px;
				opacity: 0.6;
				z-index: 1;
        }
        .top-ads{
            width: calc(100% - 10px);
        }
	}
	a {
        text-decoration: none;
        outline: none;
		transition: 1s all;
		-webkit-transition: 1s all;
		-moz-transition: 1s all;
        -o-transition: 1s all;
        &:hover{
            color: #1f82d7;
        }
		&:hover,
		&:focus,
		&:active {
            text-decoration: none;
            outline: none;
			transition: 1s all;
			-webkit-transition: 1s all;
			-moz-transition: 1s all;
			-o-transition: 1s all;
		}
    }
    b, strong{
        font-weight: 500;
    }
}
ul {
	margin-bottom: 0px;
	padding: 0px;
}

.accent-text {
	color: #0098ff;
}
// Common Table UI 
table{
    width: 100%;
    border-top: 1px #e8e8e8 solid;
    border-left: 1px #e8e8e8 solid;
    margin-bottom: 10px;
    th{
        font-weight: 600;
    }
    td, th{
        border-bottom: 1px #e8e8e8 solid;
        border-right: 1px #e8e8e8 solid;
        padding: 5px 10px;
    }
}

// Caption 
caption {
    caption-side: top;
  }

// Buttons
button{
    &:focus, &:active{
        outline: none;
    }
}

//nav
nav {
	a {
		color: #ffffff;
		display: inline-block;
		position: relative;
	}
}


// Breadcrumb style
.breadcrumb {
	background-color: transparent;
	padding: 0px;
	margin: 0px;
	li {
		list-style: none;
		position: relative;
		display: inline-block;
		padding-right: 10px;
		padding-left: 5px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
			font-size: 14px;
            line-height: 18px;
            font-weight: 300;
		&::after {
			position: absolute;
			content: "/";
			color: inherit;
			right: 0px;
			top: auto;
			left: auto;
			bottom: auto;
			width: auto;
			height: auto;
		}
		a {
			color: inherit;
			font-family: 'Montserrat', sans-serif;
			font-size: 13px;
            line-height: 18px;
            font-weight: 400;
			@media (max-width: 767px) {
				font-size: 12px;
				line-height: 15px;
			}
		}
		&:first-child {
			padding-left: 0px;
		}
		&:last-child {
			&::after {
				content: none;
			}
		}
	}
}

// Common Heading
h2 {
    font-size: 30px;
    line-height: 37px;
    font-weight: 600;
    color: #343434;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding-bottom: 18px;
	transition: 1s all;
	-webkit-transition: 1s all;
	-moz-transition: 1s all;
	-o-transition: 1s all;
}

// Modal Design
.modal{
    display: block;
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
    z-index: 101;
    .modal-dialog {
        position: relative;
        pointer-events: none;
        margin: 1.75rem auto;
        border-radius: 0;
        .modal-content{
            border-radius: 0;
            .modal-header{
                border-radius: 0;
                border-color: #E8E8E8;
                h5{
                    font-size: 22px;
                    color: #343434;
                    font-family: 'Rubik', sans-serif;
                    font-weight: 500;
                }
                &.border-n{
                    border: none;
                }
                .close{
                    opacity: 1;
                    outline: none;
                    right: 10px;
                    img{
                        width: 16px;
                    }
                }
            }
            .modal-body {
                border-radius: 0;
            }
        }

    }
    .modal-dialog-scrollable {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        height: calc(100% - 2.5rem);
        .modal-content {
            max-height: calc(100vh - 1rem);
            overflow: hidden;
            .modal-body {
                overflow-y: auto;
            }
        }
    }
}

// Share Icon
.share, .info {
	position: absolute;
	right: 0px;
	top: -10px;
	border-radius: 50%;
	padding: 0;
	height: 28.27px;
	width: 28.27px;
	border: 1.5px solid rgba(126, 126, 126, 0.2);
	text-align: center;
	img {
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
        position: absolute;
        width: 15px;
	}
}
.info img{
	width: 10px;
}
.share:hover, .info:hover{
	cursor: pointer;
	background-color: #fff;
	border-color: #0098ff;
}

.container-fluid {
	@media(min-width: 767px) {
		padding-right: 40px;
		padding-left: 40px;
	}
	@media(max-width: 1023px) {
		padding-right: 30px;
        padding-left: 30px;
        overflow: hidden;
	}
	@media (max-width: 767px) {
		padding-right: 10px;
		padding-left: 10px;
	}
}

// Slider
.slick-track{
  margin: 0;
}

button,
.btn-link {
	height: auto;
	width: auto;
	background-color: #0098ff;
	box-shadow: none;
	border: none;
	padding: 0 10px;
	position: relative;
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	font-size: 14px;
	line-height: 30px;
    overflow: hidden;
    border: 1px solid transparent;
	transition: 0.8s all;
	-webkit-transition: 0.8s all;
	-moz-transition: 0.8s all;
	-o-transition: 0.8s all;
	&:hover {
        background-color: #FFF;
        color: #0098ff;
        border: 1px solid #0098ff;
		transition: 0.8s all;
		-webkit-transition: 0.8s all;
		-moz-transition: 0.8s all;
		-o-transition: 0.8s all;
		cursor: pointer;
		&::after {
			left: calc(100% + 35px);
			opacity: 1;
		}
	}
}

// Wrapper
.wrapper{
    overflow: hidden;
}

// Overlay Background
.item-overlay{
	background: linear-gradient(180deg, rgba(242, 177, 25, 0) -5%, #F2B119 70%);
}
.dance-overlay {
	background: linear-gradient(180deg, rgba(242, 177, 25, 0) -5%, #5F4F8B 70%);
}

.musical-overlay {
	background: linear-gradient(180deg, rgba(242, 177, 25, 0) -5%, #07B3F0 70%);
}

.comedy-overlay {
	background: linear-gradient(180deg, rgba(242, 177, 25, 0) -5%, #F2B119 70%);
}

.section-top-wrapper {
	display: grid;
	grid-template-columns: auto auto;
}
.similar-picks, .event-articles {
    .carousel-dots {
        a{
            img{
                @media (max-width: 767px) {
                    max-width: 6px;
                }
            }
        }
    }
}
.carousel-dots {
	margin-left: auto;
	text-align: right;
	a {
		color: #0098ff;
		font-family: 'Montserrat', sans-serif;
		font-size: 16px;
		font-weight: normal;
		line-height: 19px;
		padding-bottom: 14px;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
		@media (max-width: 767px) {
			font-family: 'Montserrat', sans-serif;
			font-size: 12px;
			line-height: 18px;
			padding-bottom: 0px;
			font-weight: 600;
		}
		img {
			padding-bottom: 2px;
			margin-left: 2px;
			transition: 0.3s transform;
			-webkit-transition: 0.3s transform;
			-moz-transition: 0.3s transform;
			-o-transition: 0.3s transform;
            width: 8px;
			@media (max-width: 767px) {
				margin-left: 1px;
				padding-bottom: 1px;
				max-width: 8px;
			}
		}
		&:hover {
			img {
                animation: seeallbtn 0.5s linear;
                animation-iteration-count: infinite;
			}
		}
	}
}

// See All Action Animation
.seeall-btn {
	&:hover {
		img {
            animation: seeallbtn 0.5s linear;
            animation-iteration-count: infinite;
		}
	}
}

@keyframes seeallbtn {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes keydownbtn {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(0px);
	}
}

// Slider Bullets Design
.dots-group {
	span {
		height: 2px;
		width: 25px;
		display: inline-block;
		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.1);
		transition: 0.3s opacity;
		-webkit-transition: 0.3s opacity;
		-moz-transition: 0.3s opacity;
		-o-transition: 0.3s opacity;
		position: relative;
		&:after{
			position: absolute;
			content: "";
			height: 100%;
			background-color: #0077C8;
			left: 0px;
			width: 0px;
			transition: 0.3s width;
			-webkit-transition: 0.3s width;
			-moz-transition: 0.3s width;
			-o-transition: 0.3s width;
		}
		&.active {
			opacity: 1;
			background-color: #0077C8;
			&:after{
				content: none;
			}
		}
		&:hover{
			&:after{
				width: 100%;
			}
		}
	}
}

// Category Label Style
.category {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	height: 20px;
	background-color: #225275;
	display: inline-block;
	text-align: center;
	text-transform: capitalize;
	padding: 0px 5px;
	@media (max-width: 767px) {
		font-size: 11px;
		line-height: 18px;
		height: 18px;
	}
	&:empty{
		padding: 0px;
		display: none !important;
	}
    &.musical {
        background-color: #07B3F0;
    }

    &.dance {
        background-color: #5F4F8B;
    }

    &.comedy {
        background-color: #F2B119;
    }

    &.theatre {
        background-color: #BF659A;
    }
    &.concert{
        background-color: #75AA46;
    }
}

//carousel nav style
.carousel-navigation {
	.left-navigation {
		left: 0px;
	}
	.right-navigation,
	.left-navigation {
		position: absolute;
		right: 0px;
		top: 50%;
		transform: translateY(-50%);
		max-width: 50px;
		a {
			height: 82px;
			line-height: 82px;
			width: 35px;
			display: inline-block;
			text-align: center;
			i {
				font-size: 18px;
				opacity: 1;
				color: #ffffff;
				transition: 0.3s all ease-in-out;
				-webkit-transition: 0.3s all ease-in-out;
				-moz-transition: 0.3s all ease-in-out;
				-o-transition: 0.3s all ease-in-out;
			}
			&:hover {
				opacity: 0.8;
				i {
					color: #0098ff;
				}
			}
		}
	}
	.right-navigation {
		justify-content: end;
		text-align: right;
	}
	@media(max-width: 1024px) {
		display: none;
	}
}

//sortby filter
.sortby-filter {
	width: auto;
	min-width: 231px;
	right: 0px;
	padding-top: 0px;
	border-top: none;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-bottom: 18px;
	position: relative;
	@media(max-width: 767px){
		position: fixed;
		bottom: 0px;
		left: 0;
		right: 0;
		top: auto;
		z-index: 2;
		width: 100%;
		margin: 0px;
		background-color: #0098FF;
		padding: 8px 0px;
		height: auto;
		display: none;
	}
	.filter-topbar {
		height: auto;
		border: 1px solid rgba(151, 151, 151, 0.2);
		padding: 7px 11px;
		width: 100%;
		display: block;
		box-shadow: inset 0 4px 20px 1px rgba(162, 162, 162, 0.2);
		position: relative;
		&:after {
			position: absolute;
			content: "";
			right: 10px;
			width: 15px;
			height: 10px;
			background-image: url(../../assets/images/down-arrow-grey.png);
			background-repeat: no-repeat;
			top: 50%;
			transform: translateY(-50%);
			transition: 0.5s transform;
		}
		.sortby-text {
			color: #343434;
			font-family: 'Rubik', sans-serif;
			font-size: 14px;
			line-height: 17px;
			text-transform: uppercase;
			font-weight: bold;
			padding-right: 8px;
		}
		.active-filter {
			color: #0098ff;
			font-family: 'Rubik', sans-serif;
			font-size: 16px;
			line-height: 19px;
		}
		&:active,&:hover {
			&+ul {
				background-color: #fff;
				font-family: 'Rubik', sans-serif;
				cursor: pointer;
			}
		}
	}
	ul {
		border: 1px solid rgba(151, 151, 151, 0.2);
		border-top: none;
		transition: 0.3s height, 0.3s opacity;
		-webkit-transition:  0.3s height, 0.3s opacity;
		-moz-transition:  0.3s height, 0.3s opacity;
		-o-transition:  0.3s height, 0.3s opacity;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 2;
		background: #FFF;
		@media(max-width: 767px){
			// position: fixed;
			// top: 80px;
			// left: 0px;
			// bottom: 52px;
			// right: 0px;
			// z-index: inherit;
			// display: block;
			// background-color: #efefef;
			// height: 100%;
			// overflow-y: auto;
			// padding-bottom: 132px;
				position: fixed;
				top: 80px;
				left: 0px;
				bottom: 52px;
				right: 0px;
				z-index: inherit;
				display: block;
				background-color: #efefef;
				max-height: calc(100% - 132px);
				overflow-y: auto;
				margin: 0px;
				height: auto;
		}
		&.active {
			@media(max-width: 767px){
				height: auto;
				opacity: 1;
			}
		}
		li {
			padding: 12px 20px;
			list-style: none;
			color: #343434;
			font-family: 'Rubik', sans-serif;
			font-size: 14px;
			line-height: 17px;
			transition: 0.3s all;
			-webkit-transition: 0.3s all;
			-moz-transition: 0.3s all;
			-o-transition: 0.3s all;
			@media(max-width: 767px){
				border-bottom: 1px solid #efefef;
				background-color: #fff;
				padding: 21px 20px;
			}
			&:hover {
				background-color: rgba(0, 128, 215, 0.2);
				color: #0098ff;
				cursor: pointer;
				font-weight: 500;
				transition: 0.8s all;
				-webkit-transition: 0.8s all;
				-moz-transition: 0.8s all;
				-o-transition: 0.8s all;
				padding-left: 23px;
			}
			&.active {
				background-color: rgba(0, 128, 215, 0.2);
				color: #0098ff;
				font-family: 'Rubik', sans-serif;
				cursor: pointer;
			}
		}
  	}
	.sortby-topbar-mobileonly{
		z-index: 2;
		color: #fff;
		background-color: #373E45;
		padding: 15px 17px;
		min-height: 80px;
		width: 100%;
		top: 0;
		display: none;
		.left-arrow-sortby{
			flex: 0 0 auto;
			display: flex;
			align-items: center;
			width: 100%;
			img{
				max-width: 20px;
				margin-right: 10px;
				span{
					display: flex;
					flex-wrap: wrap;
					color: #fff;
					font-weight: 500;
					font-size: 16px;
					@media(max-width: 767px){
						font-weight: 500;
						font-size: 16px;
						line-height: 20px;
					}
				}
			}
			span{
				display: flex;
				flex-wrap: wrap;
				color: #fff;
				font-weight: 500;
				font-size: 16px;
				@media(max-width: 767px){
					font-weight: 500;
					font-size: 16px;
					line-height: 20px;
				}
			}
			.clear-filters{
				margin-left: auto;
				font-size: 16px;
				line-height: 20px;
				font-weight: 500;
			}
		}
	}
	ul{
		// position: relative;
		// top: 0px;
		// left: 0px;
		// bottom: 0px;
		// right: 0px;
		// z-index: inherit;
		// display: block;
		// background-color: #efefef;
		li{
			// border-bottom: 1px solid #efefef;
			// background-color: #fff;
			// padding: 21px 20px;
		}
	}
}

//sortby filter mobileview
.mobileview-filter {
	display: none;
	@media (max-width: 767px) {
		display: block;
		position: fixed;
		width: 100%;
		padding: 0px;
		margin: 0px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
        .sortby-bg{
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            background-color: rgba(3, 13, 21, 0.5);
            height: 100%;
            z-index: 1;
        }
		.sortby-filter {
			margin-bottom: 0px;
            display: block;
            background: #FFF;
            position: relative;
            z-index: 2;
			ul {
				position: relative;
				top: 0;
				opacity: 1;
				height: 100%;
			}
		}
		.filter-title {
			display: flex;
			flex-wrap: wrap;
			padding: 12px 20px;
			span {
				font-family: 'Rubik', sans-serif;
				font-size: 16px;
				line-height: normal;
				flex: 0 0 auto;
			}
			a {
				flex: 0 0 auto;
				margin-left: auto;
			}
		}
		.filter-topbar {
			text-align: center;
			padding: 10px 0px;
			background-color: #0098ff;
			.sortby-text {
				color: #fff;
				text-transform: capitalize;
				font-weight: normal;
				padding-right: 5px;
			}
			img {
				max-width: 14px;
			}
			&::after {
				content: none;
			}
		}
		&.active {
			top: 0px;
			.filter-topbar {
				opacity: 0;
			}
			.sortby-filter {
				position: absolute;
				bottom: 0px;
				width: 100%;
			}
		}
	}
}

// Website scroll bar
::-webkit-scrollbar {
	width: 10px;
	position: relative;
}

::-webkit-scrollbar-track {
    background: #EEE;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  outline: 1px solid #999;
  border-radius: 0px;
}

// Popover CSS
.info-popover{
    position: absolute;
    right: -115px;
    bottom: 30px;
    width: 250px;
    background: #FFF;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
	line-height: 22px;
	opacity: 0;
	transition: 0.3s height, 0.3s opacity;
	-webkit-transition: 0.3s height, 0.3s opacity;
	-moz-transition: 0.3s height, 0.3s opacity;
	-o-transition: 0.3s height, 0.3s opacity;
	height: 0;
	padding: 0px;
    overflow: hidden;
    font-size: 13px;
    z-index: 3;
    pointer-events: none;
    &::before{
        position: absolute;
        content: "";
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        width: auto;
        bottom: -8px;
        height: auto;
        right: 117px;
        border-top: 8px solid #ffffff;
        margin-left: -10px;
        pointer-events: none;
    }
}
// Calender CSS
.DayPicker {
	width: calc(100% + 10px);
	margin: 0 -5px;
	.DayPicker-wrapper{
		padding: 0;
		.DayPicker-Weekdays{
			display: flex;
			flex-wrap: wrap;
			margin-top: 0px;
			width: 100%;
			padding: 10px 0px 5px;
			.DayPicker-WeekdaysRow {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				justify-content: center;
				.DayPicker-Weekday {
					display: flex;
					color: #8B9898;
					font-size: 0.875em;
					padding: 0px;
                    height: 25px;
                    flex: 0 0 14.28%;
                    width: 14.28%;
					line-height: 25px;
					text-align: center;
                    justify-content: center;

				  abbr[title]{
					 color: rgba(52, 72, 94, 0.54);
					  font-size: 11px;
						line-height: 25px;
					   width: 25px;
                        height: 25px;
                        cursor: default;
				   }
			   }
			}
		}
		.DayPicker-Body {
		   display: flex;
		   flex-wrap: wrap;
			text-align: center;
			width: 100%;
			.DayPicker-Week {
				display: flex;
				flex: 0 0 100%;
				justify-content: center;
				margin-bottom: 10px;
				.DayPicker-Day{
				   text-align: center;
				   cursor: pointer;
				   color: #7C86A2;
				   font-size: 10px;
                   flex: 0 0 14.28%;
                   width: 14.28%;
				   height: 25px;
				   line-height: 27px;
				   padding: 0px;
				   font-family: 'Rubik', sans-serif;
				   font-weight: 400;
				   &:hover{
						position: relative;
						z-index: 3;
						background-color: transparent;
						color: #fff;
						&:after{
							position: absolute;
							content: "";
							background-color: #2698ff;
							width: 25px;
							height: 25px;
							border-radius: 50%;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							z-index: -1;
						}
				   }
				   &:first-child{
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
				   }
				   &:last-child{
					   border-top-right-radius: 5px;
					   border-bottom-right-radius: 5px;
				   }
				   &.DayPicker-Day--outside{
					   pointer-events: none;
					   &:after{
						   content: none;
					   }
				   }
				   &.DayPicker-Day--start.DayPicker-Day--selected{
					z-index: 4 !important;
				   }
				   &.DayPicker-Day--start{
					& + .DayPicker-Day--selected:before{
						left: auto;
						right: 0px;
						position: absolute;
						content: "";
						background-color: #EFF7FF;
						width: 100%;
						height: 100%;
						top: 50%;
						transform: translate(-50%, -50%);
						z-index: -1;
					}
				}
					&.DayPicker-Day--start, &.DayPicker-Day--end{
					   background-color: transparent;
					   padding: 0px;
					   color: #fff !important;
					   font-weight: bold;
					   min-width: auto;
					   position: relative;
					   z-index: 2;
					   &:after{
						   position: absolute;
						   content: "";
						   background-color: #2698ff;
						   width: 25px;
						   height: 25px;
						   border-radius: 50%;
						   left: 50%;
						   top: 50%;
						   transform: translate(-50%, -50%);
						   z-index: -1;
					   }
					   &.DayPicker-Day--selected{
						   z-index: 3;
					   }
					}
					&.DayPicker-Day--start + .DayPicker-Day--selected{
					   position: relative;
				   }
				   &.DayPicker-Day--end{
						z-index: 1 !important;
					   &:before{
						   left: auto;
						   right: 5px;
						   position: absolute;
						   content: "";
						   background-color: #EFF7FF;
						   width: 70%;
						   height: 100%;
						   top: 50%;
						   transform: translate(-50%, -50%);
						   z-index: -1;
					   }
					}
					&.DayPicker-Day--disabled {
					   color: #CBD4DE;
						pointer-events: none;
					}
					&.DayPicker-Day--today{
						// color: #2698ff;
                        font-weight: bold;
                        &.DayPicker-Day--end{
                            color: #FFF !important;
                        }
						&:hover{
							color: #fff !important;
						}
						&.DayPicker-Day--start{
							color: #ffffff;
							background-color: transparent !important;
						}
						&.DayPicker-Day--selected{
							background-color: #EFF7FF;
							color: #7C86A2;
						}
						&:hover{
							position: relative;
							z-index: 2;
							background-color: transparent;
							color: #fff;
							&:after{
								position: absolute;
								content: "";
								background-color: #2698ff;
								width: 25px;
								height: 25px;
								border-radius: 50%;
								left: 50%;
								top: 50%;
								transform: translate(-50%, -50%);
								z-index: -1;
							}
					   }
					}
				}
			}
		}
		.DayPicker-Month{
			display: flex;
			flex-wrap: wrap;
			margin: 0px;
			width: calc(100% - 40px);
			.DayPicker-Caption {
				color: #343434;
				font-size: 12px;
				padding: 0px 10px 0px;
				@media(max-width: 767px){
                    padding: 0px 10px 0px;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
				}
			}
		}
	}
}
.calender {
	.DayPicker-NavBar{
		position: absolute;
		right: 3px;
		top: -46px;
		.DayPicker-NavButton{
			right: 0;
		}
		.DayPicker-NavButton--prev{
			background: rgba(247,248,252,1) url(../../assets/images/right-arrow.svg) 6px 2px no-repeat;
			transform: rotate(180deg);
			border-radius: 50%;
			right: 5px;
			outline: none;
		}
		.DayPicker-NavButton--next{
			background: rgba(247,248,252,1) url(../../assets/images/right-arrow.svg) 6px 3px no-repeat;
			border-radius: 50%;
			outline: none;
		}
	}
	.DayPicker-Caption{
		position: absolute;
		right: 45px;
		top: -28px;
		color: #343434;
		font-size: 14px;
		div{
			font-size: 14px;
			font-weight: 400;
		}
	}
	.cal-month-name {
		margin-left: auto;
		display: flex;
		align-items: center;
		span {
			color: #343434;
			font-family: 'Rubik', sans-serif;
			font-size: 14px;
			line-height: 17px;
			font-weight: normal;
		}
		.prev-month,
		.next-month {
			height: 15px;
			width: 15px;
			border-radius: 50%;
			background-color: #F7F8FC;
			text-align: center;
			line-height: 12px;
			img {
				max-width: 6px;
			}
		}
		.prev-month {
			margin: 0px 8px 0px 6px;
			img {
				transform: rotate(180deg);
			}
		}
	}
	.DayPicker-Month{
		width: 100% !important;
	}
	.calender-action{
		padding-left: 10px;
	}
}

// Scroll to top
.scroll-top{
    position: fixed;
    right: 5px;
    bottom: 80px;
    background: #0098FF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
	z-index: 2;
	cursor: pointer;
	@media(max-width: 767px){
		width: 35px;
		height: 35px;
		display: none;
	}
    img{
		margin-bottom: 2px;
		@media(max-width: 767px){
			max-width: 15px;
		}
    }
    &:hover{
        color: #FFF;
        box-shadow: 0 0 10px #DDD;
        img{
            animation: scrolltop 0.5s linear;
            animation-iteration-count: infinite;
        }
    }
}
@keyframes scrolltop {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0px);
	}
}

// No data
.no-data{
    padding: 50px 0;
    text-align: center;
    display: block;
    p{
        margin-bottom: 2px;
        font-weight: 500;
        color: #7C86A2;
        strong{
            font-weight: 700;
            font-size: 18px;
            color: #343434;
        }
    }
    img{
        width: 50%;
        margin-bottom: 35px;
    }
}
strong{
  font-size: inherit;
	em{
    font-weight: 600;
    font-size: inherit;
	}
}
em{
  font-size: inherit;
	strong{
    font-weight: 600;
    font-size: inherit;
	}
}
input:disabled {
  pointer-events: none;
}
.DayPickerInput-Overlay .DayPicker-Day--start ~ .DayPicker-Day:hover:before{
	// left: auto;
    // right: 5px;
    // position: absolute;
    // content: "";
    // background-color: #EFF7FF;
    // width: 70%;
    // height: 100%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    // z-index: -1;
}
.DayPickerInput-Overlay .DayPicker-Day:hover{
	// &:before{
	// 	content: none !important;
	// }
}
.DayPickerInput-Overlay .DayPicker .DayPicker-wrapper .DayPicker-Body .DayPicker-Week .DayPicker-Day.DayPicker-Day--start + .DayPicker-Day--selected:before {
	left: auto;
    right: 15px;
    position: absolute;
    content: "";
    background-color: #eff7ff;
    width: 70%;
    height: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.DayPickerInput-Overlay .DayPicker .DayPicker-wrapper .DayPicker-Body .DayPicker-Week .DayPicker-Day.DayPicker-Day--start{
	z-index: 3;
}
.DayPickerInput-Overlay .DayPicker .DayPicker-wrapper .DayPicker-Body .DayPicker-Week .DayPicker-Day.DayPicker-Day--start + .DayPicker-Day--end.DayPicker-Day--selected:before{
	left: auto;
    right: 0px;
    position: absolute;
    content: "";
    background-color: #eff7ff;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.DayPickerInput-Overlay .DayPicker .DayPicker-wrapper .DayPicker-Body .DayPicker-Week .DayPicker-Day.DayPicker-Day--end:before {
    left: auto;
    right: 5px;
    position: absolute;
    content: "";
    background-color: #eff7ff;
    width: 80%;
    height: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
	z-index: -1;
}

// .DayPicker-Day.DayPicker-Day--start.DayPicker-Day--selected:hover + .DayPicker-Day.DayPicker-Day--selected:before{
// 	left: auto !important;
//     right: 5px !important;
//     position: absolute !important;
//     content: "" !important;
//     background-color: #eff7ff !important;
//     width: 80% !important;
//     height: 100% !important;
//     top: 50% !important;
//     transform: translate(-50%, -50%) !important;
//     z-index: -1 !important;
// }
.fixed-body{
   	overflow: hidden !important;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
	-ms-overflow-style: none; // IE 10+
    scrollbar-width: none; // Firefox
    .container-fluid{
        overflow: inherit !important;
    }
	&::-webkit-scrollbar {
		display: none; // Safari and Chrome
	}
}
.see-all-sidebar {
	text-align: left !important;
	color: #0098FF !important;
	&:after{
		transform: rotate(-45deg) !important;
		border-color: #0098FF !important;
	}
}
// shimmer blocks design
.shim-container.shm_row{
    .shimmer-block{
        flex: 0 0 25%;
        @media(max-width: 991px){
            padding: 0 0px;
            min-width: 50px;
        }
        .contentLoader{
            padding: 0;
            margin: 0;
            border: none;
            @media(max-width: 991px){
                padding: 0;
                margin: 0;
                border: none;
            }
            .shm_row{
                & > div{
					flex: 0 0 100%;
					padding: 0px;
                    @media(max-width: 991px){
                        padding: 0 0px;
                        min-width: 80px;
                    }
                    @media(max-width: 767px){
                        min-width: 50px;
                    }
                    .animated-backgroundlarge{
                        @media(max-width: 991px){
                            margin: 0px 10px 10px;
                            min-height: 30px;
                        }
                        @media(max-width: 767px){
							min-height: 30px;
						}
                    }
                    &:empty{
                        display: none;
                    }
                }
            }
        }
    }
}

//homoepage flicker effect
@media(min-width: 1024px){
	.body-overlay{
		header{
			margin-right: 10px;
			width: calc(100% - 10px) !important;
		}
		.homeTop{
			width: calc(100% - 10px) !important;
		}
		header.homepage {
			width: calc(100% - 10px) !important;
		}
		.ticker-wrap{
			width: calc(100% - 10px);
		}
		.cookies{
			width: calc(100% - 10px) !important;
		}
		footer{
			margin-right: 10px;
			.scroll-top{
				right: 15px;
			}
		}
	}
}

//small-header mobile-view
.body-overlay{
	.small-header{
		@media(max-width: 991px){
			z-index: inherit;
		}
	}
}

.small-header{
	.responsive-nav-links{
		.has-submenu {
			a{
				@media(max-width: 991px){
					color: #626262;
				}
			}
			& > a{
				@media(max-width: 991px){
					color: #343434;
				}
			}
		}
	}
}
