* {
  box-sizing: border-box;
}
$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
    width: calc(100% - 110px);
    overflow: hidden;
    height: 2rem;
    background-color: rgba(3, 13, 21, 0.8);
    box-sizing: content-box;
    padding: 0 55px;
    position: absolute;
    bottom: -28px;
    left: 0;
    z-index: 1;
  .ticker {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    color: #FFF;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;
    font-size: 14px;
    &__item {
      display: inline-block;
      padding: 0 2rem;
      font-size: 1rem;
      color: white;
    }
  }
  .close-ticker{
      position: absolute;
      right: 0;
      top: 5px;
  }
}