.title{
  position: relative;
  display: block;
  .info-popover{
    right: auto;
    width: auto;
    bottom: 35px;
    background: #616161;
    color: white;
    white-space: normal;
    opacity: 0;
    padding: 12px;
      height: auto;
      overflow: inherit;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    &:before{
      border-top: 8px solid #616161;
    }
  }
  &:hover{
    .info-popover {
      opacity: 1;
  }

  }
}
