.promotion-events-row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 25px;
    @media(max-width: 767px) {
        margin-bottom: 0px;
    }
}
.promotion-block {
    flex: 0 0 calc(50% - 15px);
    width :calc(50% - 15px);
    max-width: calc(50% - 15px);
    list-style: none;
    margin-bottom: 0px;
    @media(max-width: 767px){
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
    }
    &:first-child, &:only-child{
        margin-right: 30px;
        @media(max-width: 767px){
            margin-right: 0px;
        }
        .promotion-tab-dropdown{
            margin-right: -106.2%;
            margin-left: 0px !important;
            @media(max-width: 767px){
                margin: 0px;
            }
        }
    }
    &:last-child{
        .promotion-tab-dropdown{
            margin-left: -106.2%;
            @media(max-width: 991px){
                margin-left: -109.2%;
            }
            @media(max-width: 767px){
                margin: 0px;
            }
        }
    }
    .promotions-listing-wrapper {
        border: 1px solid #EAEAEA;
        position: relative;
        transform: translateY(0px);
        height: auto;
        transition: 0.3s box-shadow, 0.5s transform;
        -webkit-transition: 0.3s box-shadow, 0.5s transform;
        -moz-transition: 0.3s box-shadow, 0.5s transform;
        -o-transition: 0.3s box-shadow, 0.5s transform;
        .promotion-relative-wrapper{
            position: relative;
            .share{
                top: calc(100% + 20px);
                right: 15px;
                z-index: 3;
            }
        }
        .promotion-image {
            overflow: hidden;
            cursor: default;
            min-height: 270px;
            @media(max-width: 1024px){
                min-height: auto;
            }
            @media(max-width: 991px){
              min-height: 150px;
            }
            .image-conatiner{
                height: 280px;
                min-height: 280px;
                max-height: 280px;
                @media(max-width: 1024px){
                    height: 200px;
                    min-height: 200px;
                    max-height: 200px;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .promotion-desc {
            padding: 20px 15px 16px;
            position: relative;
            cursor: default;
            @media(max-width: 767px){
                padding: 10px 8px 10px;
            }
            .promotion-category-div{
                min-height: 20px;
                margin-bottom: 12px;
                .promotion-category-title{
                  border: 1px solid rgba(52, 52, 52, 0.2);
                  color: #343434;
                  font-size: 14px;
                  line-height: 20px;
                  padding: 0px 6px;
                  font-weight: 500;
                  margin-top: 0px;
                  display: inline-block;
                  font-family: 'Montserrat', sans-serif;
                  background-color: #fff;
                  margin-right: 10px;
                  box-shadow: 0 0 0 1px #e2e2e2;
                }
            }
            .promotion-category {
                color: #0077C8;
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                line-height: 20px;
                height: 20px;
                width: auto;
                padding: 0 6px;
                background-color: #EFF5FA;
                display: inline-block;
                text-align: center;
                font-weight: 600;
                margin-right: 0px;
            }
            .share{
                margin-top: 20px;
                margin-right: 15px;
                position: absolute;
                right: 0px;
                top: 0;
                cursor: pointer;
                img{
                    width: 12px;
                }
                .social-share{
                    position: absolute;
                    top: -10px;
                    right: 31px;
                    max-width: 0;
                    overflow: hidden;
                    transition: 0.5s max-width, 0.5s right;
                    -webkit-transition: 0.5s max-width, 0.5s right;
                    -moz-transition: 0.5s max-width, 0.5s right;
                    -o-transition: 0.5s max-width, 0.5s right;
                    padding-right: 0;
                    .social-share-wrapper{
                        background: #FFF;
                        border-radius: 5px;
                        display: flex;
                        box-shadow: 0 0px 7px #ddd;
                        padding: 5px 3px;
                        position: relative;
                        overflow: hidden;
                        transition: max-width 0.5s, overflow 0.5s 0.5s;
                        -webkit-transition: max-width 0.5s, overflow 0.5s 0.5s;
                        -moz-transition: max-width 0.5s, overflow 0.5s 0.5s;
                        -o-transition: max-width 0.5s, overflow 0.5s 0.5s;
                        svg{
                            display: block;
                              width: 100%;
                              height: 100%;
                            // @media(max-width: 768px){
                            //     width: 100%;
                            //     height: 100%;
                            // }
                        }
                    }
                    &.share-visible{
                        height: auto;
                        overflow: inherit;
                        max-width: 12em;
                        transition: max-width 0.5s, overflow 0.5s 0.5s;
                        -webkit-transition: max-width 0.5s, overflow 0.5s 0.5s;
                        -moz-transition: max-width 0.5s, overflow 0.5s 0.5s;
                        -o-transition: max-width 0.5s, overflow 0.5s 0.5s;
                        padding-right: 10px;
                        z-index: 1;
                    }
                    .SocialMediaShareButton{
                        margin: 0 3px;
                        transition: 0.5s opacity;
                        -webkit-transition: 0.5s opacity;
                        -moz-transition: 0.5s opacity;
                        -o-transition: 0.5s opacity;
                        @media(max-width: 768px){

                            overflow: hidden;
                            display: block;
                        }
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                }
            }
            h2, .promotion-title {
                color: #343434;
                font-family: 'Rubik', sans-serif;
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 0px;
                max-width: 70%;
                padding-bottom: 0px;
                margin-bottom: 18px;
                min-height: 44px;
                transition: 0.5s color;
                -webkit-transition: 0.5s color;
                -moz-transition: 0.5s color;
                -o-transition: 0.5s color;
                @media(max-width: 1024px) {
                    min-height: 44px;
                    font-size: 16px;
                }
                @media (max-width: 767px) {
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 12px;
                    min-height: auto;
                }
            }
            .promotion-timer {
                position: absolute;
                bottom: 0;
                right: 0px;
                .timer-tagline {
                    color: #323232;
                    font-family: 'Rubik', sans-serif;
                    font-size: 10.48px;
                    line-height: 13px;
                    padding-bottom: 3px;
                    text-align: right;
                    display: block;
                }
                ul {
                    text-align: right;
                    li {
                        padding-right: 5px;
                        span {
                            color: #343434;
                            font-size: 15px;
                            font-family: 'Rubik', sans-serif;
                            font-weight: 500;
                            min-width: 20px;
                            text-align: center;
                            @media(max-width: 767px){
                                font-size: 13px;
                            }
                        }
                        .timer-label {
                            font-size: 9px;
                            font-family: 'Rubik', sans-serif;
                            font-weight: 400;
                            line-height: 10px;
                        }
                    }
                }
            }
            .promotion-btn-wrapper {
                margin-top: 10px;
                position: relative;
                & > a{
                    display: inline-block;
                }
                button {
                    position: relative;
                    height: 30px;
                    min-width: 77px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-around;
                    border: 1px solid #0098ff;
                    background-color: #0098ff;
                    transition: 0.5s background-color;
                    -webkit-transition: 0.5s background-color;
                    -moz-transition: 0.5s background-color;
                    -o-transition: 0.5s background-color;
                    @media(max-width: 767px){
                        height: 28px;
                    }
                    &:after{
                        content: none;
                    }
                    span{
                        font-size: 14px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 500;
                        transition: 0.5s color;
                        -webkit-transition: 0.5s color;
                        -moz-transition: 0.5s color;
                        -o-transition: 0.5s color;
                        @media(max-width: 767px){
                            font-size: 12px;
                        }
                    }
                    img {
                        padding-left: 0;
                        position: absolute;
                        right: 10px;
                        transition: 0.5s opacity;
                        -webkit-transition: 0.5s opacity;
                        -moz-transition: 0.5s opacity;
                        -o-transition: 0.5s opacity;
                        &.active{
                            opacity: 0;
                        }
                    }
                    &:hover{
                        background-color: #1f82d7;
                        color: #ffffff;
                        span{
                            color: #ffffff;
                        }
                        img{
                            opacity: 0;
                            &.active{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        &:hover{
          .promotion-image, .promotion-desc {
            cursor: pointer;
          }
        }
    }
    .promotion-tab-dropdown {
        opacity: 1;
        height: 0px;
        padding-top: 20px;
        overflow: hidden;
        transition: 0.7s height;
        -webkit-transition: 0.7s height;
        -moz-transition: 0.7s height;
        -o-transition: 0.7s height;
        @media(max-width: 991px) {
            padding-top: 15px;
        }
        @media (max-width: 767px) {
            padding-top: 15px;
            position: relative;
            width: 100%;
        }
        .top-dropdown-bar {
            border-top: 6px solid #0098ff;
            width: 100%;
            display: block;
            @media(max-width: 991px) {
                border-top: 4px solid #0098ff;
            }
        }
        .promotion-tab-dropdown-content {
            padding: 40px 25px;
            background-color: #F0F9FF;
            max-height: 100%;
            overflow: auto;
            @media(max-width: 991px) {
                padding: 25px 15px;
            }
            @media(max-width: 768px) {
                padding: 30px 15px;
            }
            p {
                color: #6C6C6C;
                font-family: 'Rubik', sans-serif;
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 0px;
                p{
                    &:last-child{
                        margin-bottom: 0px;
                        padding-bottom: 0px;
                    }
                }
            }
            h3{
                color: #343434;
                font-size: 16px;
                line-height: 18px;
            }
            img{
                max-width: 100%;
                height: auto;
            }
            ul{
                padding-left: 15px;
            }
            .related-event {
                padding: 20px 0px 0;
                position: relative;
                border-top: 1px solid rgba(151,151,151,0.2);
                margin-top: 25px;
                @media (max-width: 767px) {
                    padding: 10px 0px 0;
                    margin-top: 10px;
                }
                .container-fluid{
                    padding: 0px;
                    @media(max-width: 767px){
                        padding: 0px 10px;
                    }
                    &.arrow-appear{
                        padding: 0 25px;
                        @media(max-width: 767px){
                            padding: 0px 10px;
                        }
                    }
                    .carousel-navigation{
                        .left-navigation{
                            left: -25px;
                        }
                        .right-navigation{
                            right: -25px;
                        }
                    }
                    .slick-slider{
                        .slick-slide{
                            padding: 0 7px;
                        }
                    }
                    h2 {
                        color: #343434;
                        font-size: 22px;
                        margin-bottom: 15px;
                        padding: 0;
                        @media (max-width: 767px) {
                            padding-bottom: 5px;
                            font-size: 18px;
                            margin-bottom: 0px;
                        }
                    }
                    .item {
                        position: relative;
                        z-index: 1;
                        padding: 5px;
                        transition: 0.5s box-shadow;
                        -webkit-transition: 0.5s box-shadow;
                        -moz-transition: 0.5s box-shadow;
                        -o-transition: 0.5s box-shadow;
                        @media(max-width: 767px){
                            width: 50%;
                            flex: 0 0 50%;
                            padding: 0 5px;
                        }
                        &:after{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            background: #ffffff;
                            z-index: -1;
                            transition: opacity 0.3s;
                            -webkit-transition: opacity 0.3s;
                            -moz-transition: opacity 0.3s;
                            -o-transition: opacity 0.3s;
                        }
                        .category {
                            margin-bottom: 3px;
                            height: auto;
                            line-height: 15px;
                            padding: 3px 5px;
                            @media (max-width: 767px) {
                                margin-bottom: 8px;
                                text-align: left;
                            }
                        }
                        p{
                            line-height: 17px;
                        }
                        .currently-showing-img {
                            margin: 0 0 10px;
                            .item-img{
                                min-height: 118px;
                                @media(max-width: 767px){
                                    min-height: auto;
                                }
                                img {
                                    width: 100%;
                                    height: auto;
                                    transition: 0.5s transform;
                                    -webkit-transition: 0.5s transform;
                                    -moz-transition: 0.5s transform;
                                    -o-transition: 0.5s transform;
                                    padding: 0;
                                    @media(max-width: 1366px) {
                                        height: 100%;
                                        width: 100%;
                                        object-fit: cover;
                                    }
                                    @media (max-width: 767px) {
                                        height: auto;
                                        width: auto;
                                        max-width: 100%;
                                    }
                                }
                            }
                        }
                        &:hover {
                            @media(min-width: 767px) {
                                cursor: pointer;
                                &:after{
                                    opacity: 1;
                                }
                                h3 {
                                    color: #0098ff;
                                }
                            }
                        }
                        h3{
                            margin-bottom: 0px;
                            color: #343434;
                            min-height: 40px;
                            font-size: 15px;
                            transition: 0.3s color;
                            -webkit-transition: 0.3s color;
                            -moz-transition: 0.3s color;
                            -o-transition: 0.3s color;
                            padding: 0;
                            @media(max-width: 1366px) {
                                min-height: 40px;
                            }
                            @media(max-width: 991px) {
                                min-height: auto;
                            }
                            @media (max-width: 767px) {
                                margin-bottom: 8px;
                                font-size: 14px;
                            }
                        }
                        p {
                            color: #626262;
                            margin: 0;
                            padding: 3px 0;
                            &.date-event, &.dt-srt-end{
                                font-size: 13px;
                                @media(max-width: 991px){
                                    line-height: 17px;
                                }
                            }
                        }
                    }
                    .grid-container {
                        color: #ffffff;
                        padding: 0 5px;
                        -ms-overflow-style: none; // IE 10+
                        scrollbar-width: none; // Firefox
                        &::-webkit-scrollbar {
                            display: none; // Safari and Chrome
                        }
                        @media(max-width: 767px){
                            display: flex;
                            flex-wrap: nowrap;
                            overflow-x: auto;
                        }
                        .grid-container{
                            flex: 0 0 50%;
                            width: 50%;
                        }
                    }
                }
            }
            button{
                margin: 0 10px 10px 0;
            }
            .img-fluid {
                padding-bottom: 16px;
            }
            a{
                button{
                    &:hover{
                        background-color: #1f82d7 !important;
                        color: #ffffff;
                    }
                }
            }
        }
        &::before {
            position: absolute;
            content: "";
            background-color: transparent;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            width: auto;
            height: auto;
            left: 50px;
            right: auto;
            top: 20px;
            opacity: 0;
            border-bottom: 25px solid #0098ff;
            transition: 0.5s opacity;
            -webkit-transition: 0.5s opacity;
            -moz-transition: 0.5s opacity;
            -o-transition: 0.5s opacity;
            z-index: -1;
            @media(max-width: 991px) {
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #0098ff;
                left: 30px;
            }
        }
        .promotion-tab-close-btn {
            opacity: 0;
            position: absolute;
            right: 17px;
            top: 37px;
            transition: 0.2s all;
            -webkit-transition: 0.2s all;
            -moz-transition: 0.2s all;
            -o-transition: 0.2s all;
        }
    }
    &.active {
        .promotions-listing-wrapper {
            border-color: transparent;
            box-shadow: 0 3px 18px 12px rgba(223, 223, 223, 0.29);
        }
        .promotion-tab-dropdown {
            width: 990px;
            height: auto;
            opacity: 1;
            z-index: 1;
            position: relative;
            @media(max-width: 1200px){
                width: 929px;
            }
            @media(max-width: 1024px){
                width: 915px;
            }
            @media(max-width: 991px){
                width: 690px;
            }
            @media(max-width: 768px){
                width: 678px;
                margin-bottom: 15px;
            }
            @media (max-width: 767px) {
                height: auto;
                width: 100%;
            }
            @media(min-width: 1280px){
                width: 1024px;
            }
            .promotion-tab-close-btn {
                position: absolute;
                right: 23px;
                top: 40px;
                opacity: 1;
                @media(max-width: 991px) {
                    right: 15px;
                    top: 28px;
                }
                @media (max-width: 767px) {
                    right: 15px;
                    top: 25px;
                }
                img{
                    width: 15px;
                    @media(max-width: 767px){
                        width: 11px;
                    }
                }
            }
            &::before {
                opacity: 1;
                top: 0px;
                z-index: 1;
            }
        }
        &:hover {
            .promotions-listing-wrapper {
                transform: none;
            }
        }
    }
    &:hover {
        .promotions-listing-wrapper {
            // transform: translateY(-10px);
            cursor: pointer;
            // border-color: transparent;
            box-shadow: 0 3px 18px 7px rgba(223, 223, 223, 0.29);
            @media(max-width: 991px) {
                transform: none;
            }
            .promotion-title{
                @media(min-width: 991px){
                    color: #0098ff;
                }
            }
        }
    }
    &:nth-child(2n){
        .promotion-tab-dropdown{
            &:before{
                right: 50px;
                left: auto;
                @media(max-width: 767px){
                    left: 30px;
                    right: auto;
                }
            }
        }
    }
}


.show{
  display:block;
  cursor: pointer;
}

.mega-enter {
  top: 120%;
  opacity: 0;
}

.mega-enter.mega-enter-active {
  top: 100%;
  opacity: 1;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.mega-leave {
  top: 100%;
  opacity: 1;
}

.mega-leave.mega-leave-active {
  top: 120%;
  opacity: 0;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
a{
  cursor: pointer;
}
