.promotion-block {
    flex: 0 0 50%;
    list-style: none;
    margin-bottom: 0px;
    .promotions-listing-wrapper {
        border: 1px solid #EAEAEA;
        height: 389px;
        position: relative;
        transform: translateY(0px);
        transition: 0.3s box-shadow, 0.5s transform;
        @media(max-width: 1024px) {
            height: 411px;
        }
        @media(max-width: 991px) {
            height: 411px;
        }
        @media (max-width: 767px) {
            height: auto;
        }
    }
    .promotion-dropdown-height {
        height: 0px;
        opacity: 0;
        overflow: hidden;
        transition: 0.5s height;
    }
    .promotion-image {
        height: 257px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .promotion-desc {
        padding: 20px 15px 16px;
        position: relative;
        .promotion-category {
            color: #0077C8;
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
            width: auto;
            padding: 0 6px;
            background-color: #EFF5FA;
            display: inline-block;
            text-align: center;
            margin-bottom: 12px;
            font-weight: 600;
        }
        h3 {
            color: #343434;
            font-family: 'Rubik', sans-serif;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 0px;
            @media(max-width: 1024px) {
                min-height: 44px;
            }
            @media (max-width: 767px) {
                min-height: auto;
            }
        }
        .promotion-timer {
            position: absolute;
            bottom: 0;
            right: 0px;
            .timer-tagline {
                color: #323232;
                font-family: 'Rubik', sans-serif;
                font-size: 10.48px;
                line-height: 13px;
                padding-bottom: 3px;
                text-align: right;
                display: block;
            }
            ul {
                text-align: right;
                li {
                    padding-right: 5px;
                    span {
                        color: #343434;
                        font-size: 15px;
                        font-family: 'Rubik', sans-serif;
                        font-weight: 500;
                    }
                    .timer-label {
                        font-size: 9px;
                        font-family: 'Rubik', sans-serif;
                        font-weight: 400;
                        line-height: 10px;
                    }
                }
            }
        }
        .promotion-btn-wrapper {
            margin-top: 10px;
            position: relative;
            button {
                height: 30px;
                min-width: 77px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                span{
                    font-weight: 600;
                }
                img {
                    padding-left: 7px;
                }
            }
        }
    }
    .promotion-tab-dropdown {
        position: absolute;
        padding-top: 20px;
        width: 100%;
        opacity: 1;
        height: 0px;
        overflow: hidden;
        left: 0;
        top: 390px;
        display: none;
        height: 0px;
        transition: 0.5s height;
        @media(max-width: 1024px) {
            top: 413px;
        }
        @media(max-width: 991px) {
            padding-top: 15px;
        }
        @media (max-width: 767px) {
            padding-top: 15px;
            position: relative;
            top: 0;
        }
        .top-dropdown-bar {
            border: 5px solid #0098ff;
            width: 100%;
            display: block;
            @media(max-width: 991px) {
                border: 3px solid #0098ff;
            }
        }
        .promotion-tab-dropdown-content {
            padding: 40px 25px;
            background-color: #F0F9FF;
            max-height: 100%;
            overflow: auto;
            @media(max-width: 991px) {
                padding: 25px 15px;
            }
            @media(max-width: 768px) {
                padding: 30px 15px;
            }
            p {
                color: #6C6C6C;
                font-family: 'Rubik', sans-serif;
                font-size: 14px;
                line-height: 26px;
            }
            .img-fluid {
                padding-bottom: 16px;
            }
        }
        &::before {
            position: absolute;
            content: "";
            background-color: transparent;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            width: auto;
            height: auto;
            left: 70px;
            top: 20px;
            opacity: 0;
            border-bottom: 20px solid #0098ff;
            transition: 0.3s top, 0.5s z-index;
            z-index: -1;
            @media(max-width: 991px) {
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #0098ff;
                left: 30px;
            }
        }
        .promotion-tab-close-btn {
            opacity: 0;
        }
    }
    &.active {
        .promotions-listing-wrapper {
            border-color: transparent;
            box-shadow: 0 3px 18px 12px rgba(223, 223, 223, 0.29);
        }
        .promotion-dropdown-height {
            height: 700px;
            opacity: 1;
            @media (max-width: 767px) {
                height: auto;
            }
        }
        .promotion-tab-dropdown {
            height: 700px;
            opacity: 1;
            z-index: 1;
            display: block;
            @media (max-width: 767px) {
                height: auto;
            }
            .promotion-tab-close-btn {
                position: absolute;
                right: 17px;
                top: 37px;
                opacity: 1;
                @media(max-width: 768px) {
                    right: 15px;
                    top: 28px;
                }
                @media (max-width: 767px) {
                    right: 15px;
                    top: 25px;
                }
            }
            &::before {
                opacity: 1;
                top: 0px;
                z-index: 1;
            }
        }
    }
    &:hover {
        .promotions-listing-wrapper {
            transform: translateY(-10px);
            cursor: pointer;
            border-color: transparent;
            box-shadow: 0 3px 18px 12px rgba(223, 223, 223, 0.29);
            @media(max-width: 991px) {
                transform: none;
            }
        }
    }
    &.active:hover {
        .promotions-listing-wrapper {
            transform: none;
        }
    }
    //what's new style start
    // .whats-new {
    //     background-color: #F0F9FF;
    //     h2 {
    //         color: #343434;
    //         padding-bottom: 18px;
    //         @media (max-width: 767px) {
    //             padding-bottom: 20px;
    //         }
    //     }
    //     h3 {
    //         color: #343434;
    //         padding-bottom: 13px;
    //     }
    //     p {
    //         color: #626262;
    //     }
    //     .category {
    //         margin-bottom: 11px;
    //     }
    //     .dots-group span {
    //         background-color: #CDCDCD;
    //         opacity: 0.58;
    //     }
    // }

    .related-event {
        padding: 20px 0px 0;
        position: relative;
        @media (max-width: 767px) {
            padding-bottom: 20px;
        }
        .container-fluid{
            padding: 0 25px;
            .carousel-navigation{
                .left-navigation{
                    left: -25px;
                }
                .right-navigation{
                    right: -25px;
                }
            }
            .dots-group {
                position: relative;
                top: -7px;
                span {
                    background-color: #ffffff;
                    &.active {
                        background-color: #0077C8;
                    }
                }
            }
            h2 {
                color: #343434;
                font-size: 22px;
                margin-bottom: 15px;
                padding: 0;
                @media (max-width: 767px) {
                    padding-bottom: 15px;
                }
            }
            .grid-container {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                color: #ffffff;
                grid-gap: 10px;
                @media(max-width: 991px) {
                    grid-template-columns: repeat(6, minmax(27%, 1fr));
                }
                @media(min-width: 992px) and (max-width: 1280px) {
                    grid-template-columns: repeat(6, minmax(22%, 1fr));
                }
                @media (max-width: 767px) {
                    grid-template-columns: repeat(6, minmax(38%, 1fr));
                }
                .item {
                    position: relative;
                    z-index: 1;
                    transition: 0.5s box-shadow;
                    .category {
                        margin-bottom: 3px;
                        @media (max-width: 767px) {
                            margin-bottom: 8px;
                        }
                    }
                    .currently-showing-img {
                        margin: 0 0 10px;
                        img {
                            width: 100%;
                            height: auto;
                            transition: 0.5s transform;
                            padding: 0;
                            @media(max-width: 1366px) {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                            @media (max-width: 767px) {
                                height: auto;
                                width: auto;
                                max-width: 100%;
                            }
                        }
                    }
                    &:hover {
                        @media(min-width: 767px) {
                            cursor: pointer;
                            h3 {
                                color: #0098ff;
                            }
                        }
                        .currently-showing-img {
                            &::after {
                                position: absolute;
                                content: "";
                                width: 100%;
                                height: auto;
                                filter: blur(10px);
                                background-color: transparent;
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-bottom: 20px solid rgba(0, 0, 0, 0.3);
                                bottom: 0;
                                opacity: 1;
                                z-index: -1;
                                transition: 0.5s all;
                            }
                            img {
                                transform: translateY(-10px);
                            }
                        }
                    }
                    h3 {
                        transition: 0.3s color;
                        margin-bottom: 0px;
                        color: #343434;
                        min-height: 40px;
                        font-size: 15px;
                        transition: 0.3s color;
                        padding: 0;
                        @media(max-width: 1366px) {
                            min-height: 40px;
                        }
                        @media(max-width: 991px) {
                            min-height: auto;
                        }
                        @media (max-width: 767px) {
                            margin-bottom: 8px;
                        }
                    }
                    p {
                        color: #626262;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
}


.show{
  display:block;
  cursor: pointer;
}
