.faq-search {
  background: url("../../././../assets/images/Faq-bg.png") no-repeat;
  height: 200px;
  @media (max-width: 992px) {
    height: auto;
  }
  .authorised-agent {
    padding: 45px 0 40px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    display: block;
    font-weight: 600;
    @media (max-width: 767px) {
      line-height: 30px;
      padding: 25px 0;
    }
  }
  form {
    @media (max-width: 992px) {
      background: #104065;
      padding: 25px;
    }
  }
  .faq-search-form {
    margin: 0 auto;
    width: 640px;
    display: flex;
    background: #fff;
    @media (max-width: 992px) {
      flex-direction: column;
      background: none;
      margin: 0;
      width: 100%;
    }
    .form-control {
      border: none;
      border-radius: 0;
      box-shadow: 0 0 0 #ffff inset;
      height: 38px !important;
      font-size: 15px;
      font-weight: 500;
      color: #343434;
      &:first-child {
        border-right: 2px solid rgba(52, 52, 52, 0.21);
      }
      @media (max-width: 992px) {
        margin-bottom: 10px;
      }
    }
    .agent-val {
      padding-top: 8px;
      text-align: left;
    }
    .go-btn {
      flex: 0 0 55px;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      @media (max-width: 992px) {
        flex: 0 0 40px;
      }
    }
  }
}
