.pagenotfound {
  .header {
    position: relative;
    top: 0px;
  }

  .pagenotfound-wrapper {
    background: linear-gradient(270deg, #0098FF 0%, #092438 100%);
    margin-top: -136px;

    @media(max-width: 767px) {
      margin-top: 0;
    }

    .pagenotfound-banner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      height: 600px;

      @media(min-width: 768px) and (max-width: 1024px) {
        height: 500px;
      }

      @media(max-width: 767px) {
        height: auto;
        padding: 50px 0px;
      }

      .pagenotfound-desc {
        flex: 0 0 100%;
        padding-top: 136px;
        align-self: center;
        z-index: 1;

        @media (max-width: 767px) {
          padding-top: 0;
        }

        h3 {
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
          line-height: 26px;
          color: #fff;
          margin: 28px 0 10px;
          font-weight: 600;

          @media(max-width: 768px) {
            font-size: 16px;
            line-height: 22px;
            margin: 15px 0 10px;
          }
        }

        p {
          color: #DADADA;
          font-family: 'Rubik', sans-serif;
          font-size: 15px;
          line-height: 19px;
          padding: 0px;
          margin: 0px;

          @media(max-width: 768px) {
            font-size: 14px;
            line-height: 18px;
            max-width: 210px;
          }
        }

        a {
          margin-top: 27px;
          color: #FFFFFF;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          font-weight: bold;
          line-height: 19px;
          text-align: center;
          padding: 10px 18px;
          display: inline-block;
          background: #0098FF;

          @media(max-width: 768px) {
            font-size: 14px;
            line-height: 18px;
            padding: 7px 10px;
            margin-top: 15px;
          }
        }

        .image-404 img {
          @media(max-width: 1024px) {
            max-width: 160px;
          }

          @media(max-width: 767px) {
            max-width: 80px;
          }
        }
      }

      .pagenotfound-image {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 100%;
        z-index: 0;
        text-align: right;

        @media(min-width: 768px) and (max-width: 1024px) {
          height: auto;
          top: auto;
          bottom: -40px;
        }

        @media(max-width: 767px) {
          height: auto;
          top: auto;
          bottom: 0px;
        }
      }
    }
  }

  //currently showing style 
  .currently-showing {
    background-color: #F0F9FF;
    padding: 40px 0px;

    @media (max-width: 767px) {
      padding: 20px 0;
    }

    .slick-slider {
      .slick-track {
        .slick-slide {
          padding: 0 5px;
        }
      }

      .slick-dots {
        top: -35px;

        @media (max-width: 767px) {
          top: -22px;
        }
      }
    }

    .dots-group {
      span {
        background-color: rgba(0, 0, 0, 0.1);

        &.active {
          background-color: #0077C8;
        }
      }
    }

    h2 {
      color: #ffffff;
      font-size: 30px;
      line-height: 37px;
      font-weight: 600;
      color: #343434;
      font-family: 'Montserrat', sans-serif;
      margin: 0px;
      padding-bottom: 18px;

      @media (max-width: 767px) {
        padding-bottom: 15px;
      }
    }

    .grid-container {
      color: #ffffff;

      .item {
        position: relative;
        z-index: 1;
        transition: 0.5s box-shadow;
        -webkit-transition: 0.5s box-shadow;
        -moz-transition: 0.5s box-shadow;
        -o-transition: 0.5s box-shadow;

        .category {
          margin-bottom: 11px;

          @media (max-width: 767px) {
            margin-bottom: 8px;
          }
        }

        .currently-showing-img {
          img {
            width: 100%;
            height: auto;
            transition: 0.5s transform;
            -webkit-transition: 0.5s transform;
            -moz-transition: 0.5s transform;
            -o-transition: 0.5s transform;

            @media(max-width: 1366px) {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }

            @media (max-width: 767px) {
              height: auto;
              width: auto;
              max-width: 100%;
            }
          }
        }

        &:hover {
          @media(min-width: 767px) {
            cursor: pointer;

            h3 {
              color: #0098ff;
            }
          }

          .currently-showing-img {
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: auto;
              filter: blur(10px);
              background-color: transparent;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 20px solid rgba(0, 0, 0, 0.3);
              bottom: 0;
              opacity: 1;
              z-index: -1;
              transition: 0.5s all;
              -webkit-transition: 0.5s all;
              -moz-transition: 0.5s all;
              -o-transition: 0.5s all;
            }

            img {
              transform: translateY(-10px);
            }
          }
        }
      }
    }

    h3 {
      transition: 0.3s color;
      -webkit-transition:0.3s color;
      -moz-transition:0.3s color;
      -o-transition:0.3s color;
      margin-bottom: 0px;
      color: #323232;
      min-height: 40px;      
      padding-bottom: 13px;
      font-size: 17px;

      @media(max-width: 1366px) {
        min-height: 40px;
      }

      @media(max-width: 991px) {
        min-height: auto;
      }

      @media (max-width: 767px) {
        margin-bottom: 8px;
        padding-bottom: 0;
      }
    }

    p {
      color: #626262;
      margin-bottom: 5px;
    }
  }
}
