.open-position{
  margin: 0px 0px 114px;
  background-color: #F0F9FF;
  padding: 40px 0px 30px 0px;
  .career-title{
    padding-bottom: 61px;
  }
  .position-inner{
    font-family: 'Rubik', sans-serif;
    margin-bottom: 64px;
    h4{
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 10px;
    }
    p{
      font-family: 'Rubik', sans-serif;
      font-size: 14px;
      line-height: 17px;
      color: #626262;
      margin-bottom: 0px;
      padding-bottom: 15px;
      .place{
        position: relative;
        margin-right: 7px;
        & + span{
          margin-left: 7px;
        }
        &:after{
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: -6px;
          width: 1px;
          height: 100%;
          background-color:rgba(126, 126, 126, 0.2);
          display: inline-block;
        }
      }
    }
    a{
      color: #343434;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      display: flex;
      align-items: center;
      transition: all 0.1s ease-out;
      img{
        margin-left: 10px;
      }
      .arrow-blue{
        display: none;
      }
      &:hover{
        color: #0098FF;
        .arrow-black{
          display: none;
        }
        .arrow-blue{
          display: block;
        }
      }
    }
    @media(max-width: 768px){
      text-align: center;
      a{
        display: flex;
        justify-content: center;
      }
    }
  }
  .view-jobs{
    font-size: 18px;
    line-height: 22px;
    color: #0098FF;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    img{
      margin-left: 10px;
    }
  }
}
