.small-header {
    background-color: #0077C8;
    .top-header {
        margin-right: 50px;
        display: flex;
        align-items: center;
        .site-logo{
            img{
                max-width: 90px;
            }
        }
    }
    .bottom-header{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                list-style: none;
                flex: 0 0 auto;
                width: auto;
                a{
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 19px;
                    font-family: 'Rubik', sans-serif;
                    padding: 25px 16px;
                    font-weight: 400;
                    &:before{
                        left: 0;
                        bottom: 0px;
                        border-bottom: 2px solid #ffffff;
                        width: 0%;
                        position: absolute;
                        content: "";
                        transition: 0.4s width, 0.2s color;
                        -webkit-transition: 0.4s width, 0.2s color;
                        -moz-transition: 0.4s width, 0.2s color;
                        -o-transition: 0.4s width, 0.2s color;
                    }
                    &:hover{
                        color: #fff;
                        &:before{
                            width: 100%;
                        }
                    }
                    &.dropbtn{
                        background-color: transparent;
                    }
                }
                &.dropdown.active{
                    .dropdown-content{
                        right: 0;
                        background: #FFF;
                        list-style: none;
                        width: 176px;
                        opacity: 1;
                        top: calc(100% + 2px);
                        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
                        transition: 0.5s top;
                        -webkit-transition: 0.5s top;
                        -moz-transition: 0.5s top;
                        -o-transition: 0.5s top;
                        overflow: inherit;
                        height: auto;
                        &:after{
                            position: absolute;
                            content: "";
                            border-left: 8px solid transparent;
                            border-right: 8px solid transparent;
                            width: auto;
                            top: -8px;
                            height: auto;
                            right: 18px;
                            border-bottom: 8px solid #fff;
                            margin-left: -10px;
                        }
                        li{
                            flex: 0 0 100%;
                            width: 100%;
                            a{
                                color: #333;
                                font-size: 14px;
                                font-weight: 400;
                                padding: 7px 15px;
                                display: block;
                                transition: 0s all;
                                -webkit-transition: 0s all;
                                -moz-transition: 0s all;
                                -o-transition: 0s all;
                                &:hover{
                                    color: #0077C8;
                                    background: rgba(179, 209, 231, 0.17);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// .active{
//   border-bottom: 3px solid white;
// }
