.breadcrumbs {
    padding: 0px;
    margin-top: -123px;
    position: relative;
    background-color: #DEE7F2;
    overflow: hidden;
    @media(max-width: 991px) {
        position: relative;
        height: 200px;
        margin: 0;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        margin-top: -100px;
    }
    &::after {
        @media(max-width: 991px) {
            background-color: rgba(3, 13, 21, 0.55);
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
    .banner-overlay {
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        padding-top: 128px;
        z-index: 1;
        @media(max-width: 991px) {
            padding-top: 101px;
        }
        h1 {
            color: #ffffff;
            font-size: 30px;
            line-height: 37px;            
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            margin-bottom: 2px;
            @media(max-width: 991px) {
                font-size: 18px;
                line-height: 20px;
            }
        }
    }

    //banner wrapper
    .banner-wrapper {
        margin: 0 auto;
        text-align: center;
        height: 290px;
        img {
            object-fit: cover;
            height: 100%;
            object-position: center;
            width: 100%;
        }
    }
    .breadcrumb li a{
      font-weight: 400;
    }
}
