.event-block{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 1px rgba(154, 154, 154, 0.3);
    border: 2px solid transparent;
    margin-bottom: 35px;
    width: 100%;
    transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    cursor: pointer;
    position: relative;
    @supports (-ms-ime-align:auto) {
        box-shadow: 0 0px 1px rgba(154, 154, 154, 0.7);
    }
    @media (max-width: 767px) {
        width: calc(50% - 10px);
        margin: 0 5px 10px;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        width: calc(50% - 10px);
        margin: 0 5px 10px;
    }
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        border: 2px solid #0098FF;
        transition: .5s ease-out;
        -webkit-transition: .5s ease-out;
        -moz-transition: .5s ease-out;
        -o-transition: .5s ease-out;
        box-shadow: 0 2px 27px 0 rgba(0,0,0,0.09);
    }
    &.attraction-block{
        padding-bottom: 0px;
        position: relative;
        @supports (-ms-ime-align:auto) {
            box-shadow: 0 0px 1px rgba(154, 154, 154, 0.7);
        }
        &:hover{
            .event-details {
                .price-event{
                    .buy-btn{
                        background: #0098FF url(../../../assets/images/buy-arrow.png) 94% 15px no-repeat;
                        font-size: 18px;
                        color: #FFF;
                        line-height: 22px;
                        border: none;
                    }
                }
                p{
                    color: #626262;
                }
            }
        }
        .event-details {
            padding: 15px 15px 0px;
            .event-detail-prime{
                margin-bottom: 25px;
                min-height: 120px;
                .category:empty{
                    padding: 0px;
                    min-height: 20px;
                }
            }
            .attraction-show-more {
                color: #2698ff;
                text-transform: lowercase;
                &:hover{
                    text-decoration: underline;
                }
            }
            .price-event{
                .buy-btn{
                    position: relative;
                    left: -15px;
                    bottom: 0;
                    height: auto;
                    text-align: left;
                    width: calc(100% + 30px);
                    min-width: calc(100% + 30px);
                    background: #FFF;
                    font-size: 18px;
                    color: #0098FF;
                    line-height: 22px;
                    padding: 15px;
                    text-transform: uppercase;
                    border: none;
                    background: url(../../../assets/images/buy-arrow-b.png) 94% 15px no-repeat;
                    font-weight: 600;
                    &:hover{
                        background: #0098FF url(../../../assets/images/buy-arrow.png) 94% 15px no-repeat;
                        font-size: 18px;
                        color: #FFF;
                        line-height: 22px;
                        border: none;
                    }
                }
            }
            p{
                color: #626262;
                display: inline;
                &:empty{
                    display: none;
                }
            }
        }
    }
    .featured-tag{
        position: absolute;
        left: -6px;
        top: 7px;
        height: 24px;
        width: 85px;
        background: linear-gradient(90deg, #670E00 -50%, #E21A1F 100%);
        color: #FFFFFF;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        line-height: 18px;
        font-weight: 500;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 9px;
        z-index: 2;
        &::before{
            content: "";
            position: absolute;
            top: 23px;
            left: 0px;
            border-right: 3px solid #670E00;
            border-left: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 2px solid #670E00;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            border-left: 6px solid #E21A1F;
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-top: 14px solid #E21A1F;
        }
    }
    .event-img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 190px;
        overflow: hidden;
        img{
            max-width: 100%;
        }
    }
    .event-details{
            padding: 15px 15px 10px;
            display: block;
            @media (max-width: 767px) {
                padding: 15px 5px 10px;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                padding: 15px 5px 10px;
            }
        .item-title{
          padding: 10px 0;
          margin: 0;
          line-height: 20px;
          min-height: 61px;
          h3{
            font-size: 17px;
            color: #343434;
            font-weight: 500;
            font-family: 'Rubik', sans-serif;
            margin-bottom: 0;
            @media (max-width: 767px) {
                font-size: 14px;
            }
          }

        }
        .event-date{
            color: #626262;
            font-size: 14px;
            margin-bottom: 6px;
            padding: 0;
            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
        .event-place{
            color: #626262;
            font-size: 14px;
            margin-bottom: 10px;
            padding: 0;
            min-height: 34px;
            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
        .price-event{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 767px) {
                flex-direction: column;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                flex-direction: column;
            }
            @media only screen and (min-device-width: 1025px) and (max-device-width: 1260px) {
                flex-direction: column;
            }
            .price{
                span{
                    font-size: 12px;
                    color: #EB9C00;
                    font-style: italic;
                    height: 16px;
                    display: block;
                }
                p{
                    margin: 3px 0 0 0;
                    color: #343434;
                    font-size: 16px;
                    line-height: 11px;
                    font-weight: 500;
                    padding-bottom: 0px;
                    @media (max-width: 767px) {
                        margin-bottom: 5px;
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        margin-bottom: 5px;
                    }
                }
            }
            .buy-btn{
                border-radius: 0;
                font-size: 14px;
                height: 32px;
                font-weight: 500;
                border: 1px transparent solid;
                transition: 0.8s all;
                -webkit-transition: 0.8s all;
                -moz-transition: 0.8s all;
                -o-transition: 0.8s all;
                &::after{
                    display: none;
                }
                &:hover{
                    border: 1px #0098FF solid;
                    background: #FFF;
                    color: #0098FF;
                    transition: 0.8s all;
                    -webkit-transition: 0.8s all;
                    -moz-transition: 0.8s all;
                    -o-transition: 0.8s all;
                }

            }
        }
    }
}
.events-section.list-view{
    width: 100% !important;
    .event-block{
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding: 4px 0 4px;
        box-shadow: none;
        border: 1px solid transparent;
        border-bottom: 1px solid rgba(151,151,151,0.2);
        align-items: center;
        &:hover{
            border: 1px solid #0098FF;
        }
        .event-img{
            margin: 0;
            width: 260px;
            height: 130px;
        }
        .event-details{
            width: 100%;
            display: flex;
            padding: 15px 20px 8px 30px;
            .event-detail-prime{
                width: 100%;
                .item-title{
                    min-height: auto;
                }
                p{
                    color: #626262;
                }
                .event-place{
                    min-height: auto;
                    margin-bottom: 0px;
                }
            }
            .price-event{
                width: 250px;
                display: flex;
                flex-direction: column;
                justify-content: end;
                padding-top: 12px;
                align-items: flex-end;
                .buy-btn{
                    min-width: 121px;
                }
                .price{
                    text-align: right;
                    padding-bottom: 15px;
                    padding-top: 4px;
                    span{
                        line-height: 14px;
                    }
                    p{
                        line-height: 19px;
                        margin: 0;
                    }
                }
            }
        }
    }
}
