.event-block{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 2px rgba(154, 154, 154, 0.5);
    -moz-box-shadow: 0 0px 2px rgba(154, 154, 154, 0.5);
    -webkit-box-shadow: 0 0px 2px rgba(154, 154, 154, 0.5);
    border: 2px solid transparent;
    margin-bottom: 35px;
    width: 100%;
    transition: .5s box-shadow;
    -webkit-transition: .5s box-shadow;
    -moz-transition: .5s box-shadow;
    -o-transition: .5s box-shadow;
    cursor: pointer;
    position: relative;
    @supports (-ms-ime-align:auto) {
        box-shadow: 0 0px 2px rgba(154, 154, 154, 0.7);
    }
    @media(max-width: 1024px){
        height: 100%;
        justify-content: space-between;
    }
    @media (max-width: 767px) {
        width: 100%;
        margin: 0 5px 10px;
        box-shadow: none;
        border: 1px solid rgba(234, 234, 234, 0.8);
        margin-left: 0;
        justify-content: flex-start;
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        margin: 0 5px 10px;
    }
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        border: 2px solid #0098FF;
        transition: .5s ease-out;
        -webkit-transition: .5s ease-out;
        -moz-transition: .5s ease-out;
        -o-transition: .5s ease-out;
        box-shadow: 0 2px 27px 0 rgba(0,0,0,0.05);
        @media (max-width: 991px) {
            box-shadow: 0 0px 1px rgba(154, 154, 154, 0.5);
            -moz-box-shadow: 0 0px 1px rgba(154, 154, 154, 0.5);
            -webkit-box-shadow: 0 0px 1px rgba(154, 154, 154, 0.5);
            border: 2px solid transparent;
        }
    }
    &.attraction-block{
        padding-bottom: 0px;
        position: relative;
        margin-bottom: 30px;
        @supports (-ms-ime-align:auto) {
            box-shadow: 0 0px 1px rgba(154, 154, 154, 0.7);
        }
        @media(max-width: 1024px){
            margin-bottom: 0px;
            height: 100%;
            margin: 0px;
        }
        &:hover{
          cursor: default;
            transition: 0.3s border;
            .event-details {
                .price-event{
                    .buy-btn{
                        background: #0098FF url(../../../assets/images/buy-arrow.png) 94% 15px no-repeat;
                        color: #FFF;
                        border: none;
                        @media(max-width: 991px){
                            background: #0098ff url(../../../assets/images/buy-arrow.png) 94% 13px no-repeat;
                            background-size: 20px;
                        }
                        @media(max-width: 767px){
                            background: #0098ff url(../../../assets/images/buy-arrow.png) 94% 10px no-repeat;
                            background-size: 18px;
                        }
                    }
                }
                p{
                    color: #626262;
                }
            }
        }
        .event-img{
          &:hover{
            cursor: pointer;
          }
        }
        .event-details {
            padding: 22px 15px 0px;
            @media(max-width: 1024px){
                padding: 15px 5px 10px;
            }
            .event-detail-prime{
                margin-bottom: 26px;
                min-height: 142px;
                @media(max-width: 1024px){
                    margin-bottom: 5px;
                }
                @media(max-width: 768px){
                    min-height: auto;
                    margin-bottom: 10px;
                }
                .category{
                    background-color: #092438;
                    &:empty{
                        padding: 0px;
                        min-height: 20px;
                    }
                }
                .react-modal{
                    .react-modal-body{
                        @media(max-width: 1600px) and (min-width: 991px){
                            margin-top: 110px;
                        }
                        .modal-body{
                            @media(max-width: 1600px) and (min-width: 991px){
                                max-height: 350px;
                            }
                        }
                    }
                }
            }
            .attraction-show-more {
                color: #2698ff;
                text-transform: lowercase;
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            .price-event{
                .price{
                    height: 50px;
                    position: relative;
                    @media(max-width: 768px){
                       display: none;
                    }
                    &:empty{
                        display: none;
                    }
                }
                .buy-btn{
                    position: absolute;
                    left: 0px;
                    bottom: 0;
                    height: auto;
                    text-align: left;
                    width: 100%;
                    min-width: 100%;
                    background: #FFF;
                    font-size: 18px;
                    color: #0098FF;
                    line-height: 22px;
                    padding: 14px 17px;
                    text-transform: uppercase;
                    border: none;
                    background: url(../../../assets/images/buy-arrow-b.png) 94% 15px no-repeat;
                    font-weight: 600;
                    @media(max-width: 1024px){
                        font-size: 14px;
                        line-height: 24px;
                        padding: 10px;
                        background-size: 20px;
                    }
                    @media(max-width: 991px){
                        color: #fff;
                        background: #0098ff url(../../../assets/images/buy-arrow.png) 94% 13px no-repeat;
                        background-size: 20px;
                    }
                    @media(max-width: 767px){
                        font-size: 12px;
                        line-height: 14px;
                        background: #0098ff url(../../../assets/images/buy-arrow.png) 94% 10px no-repeat;
                        background-size: 18px;
                    }
                    &:hover{
                        background: #0098FF url(../../../assets/images/buy-arrow.png) 94% 15px no-repeat;
                        font-size: 18px;
                        color: #FFF;
                        line-height: 22px;
                        border: none;
                        @media(max-width: 991px){
                            color: #fff;
                            background: #0098ff url(../../../assets/images/buy-arrow.png) 94% 13px no-repeat;
                            background-size: 20px;
                        }
                    }
                }
            }
            p{
                color: #626262;
                display: inline;
                &:empty{
                    display: none;
                }
            }
            .item-title{
                padding: 18px 0 13px;
                h3{
                    line-height: 20px;
                    max-height: 40px;
                    min-height: 40px;
                }
            }
        }
    }
    .featured-tag{
        position: absolute;
        left: -6px;
        top: 7px;
        height: 24px;
        width: 85px;
        background: linear-gradient(90deg, #670E00 -50%, #E21A1F 100%);
        color: #FFFFFF;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        line-height: 18px;
        font-weight: 500;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 9px;
        z-index: 2;
        &::before{
            content: "";
            position: absolute;
            top: 23px;
            left: 0px;
            border-right: 3px solid #670E00;
            border-left: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 2px solid #670E00;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 100%;
            border-left: 6px solid #E21A1F;
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-top: 14px solid #E21A1F;
        }
    }
    .event-img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 190px;
        overflow: hidden;
        @media(max-width: 1024px){
            height: auto;
        }
        img{
            width: 100%;
        }
    }
    .event-details{
        padding: 15px 15px 10px;
        display: block;
        @media(max-width: 1024px){
            padding: 12px 10px 0px;
        }
        @media (max-width: 767px) {
            padding: 10px 5px 0;
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            padding: 15px 5px 10px;
        }
        .item-title{
          padding: 10px 0;
          margin: 0;
          line-height: 20px;
          min-height: 61px;
          @media(max-width: 991px){
              padding-bottom: 5px;
          }
          @media(max-width: 767px){
              min-height: auto;
          }
          h3{
            font-size: 17px;
            color: #343434;
            font-weight: 500;
            font-family: 'Rubik', sans-serif;
            margin-bottom: 0;
            @media(max-width: 1024px){
                font-size: 15px;
                max-height: 35px !important;
                min-height: 35px !important;
            }
            @media (max-width: 767px) {
                font-size: 14px;
                max-height: 40px !important;
                min-height: 20px !important;
            }
          }

        }
        .event-date{
            color: #626262;
            font-size: 13px;
            margin-bottom: 8px;
            padding: 0;
            min-height: 18px;
            @media (max-width: 1024px) {
                min-height: 35px;
                margin-bottom: 0;
            }
            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
        p.event-place{
            color: #626262;
            font-size: 13px;
            margin-bottom: 10px;
            padding: 0;
            width: 250px;
            min-height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            min-height: 18px;
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                font-size: 12px;
                width: 170px;
            }
            @media (max-width: 768px) {
                font-size: 12px;
                width: 170px !important;
            }
            @media (max-width: 480px) {
                width: 128px !important;
            }
        }
        .price-event{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            @media(max-width: 1024px){
                text-align: left;
                display: block;
            }
            @media (max-width: 767px) {
                flex-direction: column;
                min-height: 40px;
                align-items: flex-start;
            }
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                flex-direction: column;
                min-height: 44px;
            }
            @media only screen and (min-device-width: 1025px) and (max-device-width: 1260px) {
                flex-direction: column;
            }
            .price{
                @media (max-width: 768px) {
                    height: 30px !important;
                }
                span{
                    font-size: 12px;
                    color: #EB9C00;
                    font-style: italic;
                    height: 16px;
                    display: block;
                    strong{
                        font-weight: 400;
                        font-size: 12px;
                        color: #EB9C00;
                    }
                }
                p{
                    margin: 3px 0 0 0;
                    color: #343434;
                    font-size: 16px;
                    line-height: 11px;
                    font-weight: 500;
                    padding-bottom: 0px;
                    @media (max-width: 767px) {
                        margin-bottom: 5px;
                    }
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        margin-bottom: 5px;
                    }
                }
            }
            .buy-btn{
                border-radius: 0;
                font-size: 14px;
                height: 32px;
                font-weight: 500;
                border: 1px transparent solid;
                transition: 0.8s all;
                -webkit-transition: 0.8s all;
                -moz-transition: 0.8s all;
                -o-transition: 0.8s all;
                margin-top: 5px;
                &::after{
                    display: none;
                }
                &:hover{
                    border: 1px #0098FF solid;
                    background: #FFF;
                    color: #0098FF;
                    transition: 0.8s all;
                    -webkit-transition: 0.8s all;
                    -moz-transition: 0.8s all;
                    -o-transition: 0.8s all;
                    @media(max-width: 991px){
                        background-color: #0098ff;
                        color: #fff;
                    }
                }
                @media (max-width: 768px) {
                    margin-top: 9px;
                    width: 100%;
                }
            }
        }
    }
}
.react-modal{
    .modal-header{
        padding: 10px 15px;
        justify-content: center;
    }
    .react-modal-body{
        max-height: 100%;
        border-radius: 0;
        @media(max-width: 767px){
            max-height: calc(100% - 100px);
        }
        .modal-content .modal-body{
            padding: 15px 15px 20px;
            border-radius: 0;
            @media(max-width: 767px){
                max-height: 260px;
            }
            .notice{
                word-break: break-word;
                padding: 0 10px;
            }
        }
    }
}
.events-section.list-view{
    width: 100% !important;
    .event-block{
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding: 4px 0 4px;
        box-shadow: none;
        border: 1px solid transparent;
        border-bottom: 1px solid rgba(151,151,151,0.2);
        align-items: center;
        &:hover{
            border: 1px solid #0098FF;
            @media(max-width: 991px){
                border: 1px solid transparent;
                border-bottom: 1px solid rgba(151,151,151,0.2);
            }
        }
        .event-img{
            margin: 0;
            width: 260px;
            height: 130px;
        }
        .event-details{
            width: 100%;
            display: flex;
            padding: 15px 20px 8px 30px;
            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                padding: 5px 5px 8px 20px;
            }
            .event-detail-prime{
                width: 100%;
                .item-title{
                    min-height: auto;
                }
                p{
                    color: #626262;
                }
                .event-place{
                    min-height: 18px;
                    margin-bottom: 0px;
                }
            }
            .price-event{
                width: 250px;
                display: flex;
                flex-direction: column;
                justify-content: end;
                padding-top: 12px;
                align-items: flex-end;
                @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                    padding-top: 4px;
                }
                .buy-btn{
                    min-width: 121px;
                }
                .price{
                    text-align: right;
                    padding-bottom: 15px;
                    padding-top: 4px;
                    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                        padding-bottom: 0;
                        height: auto !important;
                        
                    }
                    span{
                        line-height: 14px;
                    }
                    p{
                        line-height: 19px;
                        margin: 0;
                    }
                }
            }
        }
    }
}
.wrapper-events-listing .events-listing{
    .events-section{
        @media(max-width: 1500px){
            margin-top: 15px;
        }
        > div{
            @media(max-width: 1024px){
                margin-bottom: 30px;
            }
            @media(max-width: 767px){
                margin-bottom: 20px;
            }
        }
    }
}
