.gmap{
    display: block;
    width: calc(100% + 40px);
    margin-left: -15px;
    margin-bottom: 35px;
    @media (max-width: 992px) {
        margin-left: -45px;
    }
    @media (max-width: 767px) {
        width: calc(100% + 50px);
        margin-left: -25px;
    }
    & > div{
        position: relative !important;
    }
    .map-info-popup{
        width: 342.75px;
        border: 1px solid #0098FF;
        border-radius: 2px;
        background-color: #FFFFFF;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
        display: flex;
        padding: 2px;
        @media(max-width: 767px){
            width: auto;
            padding: 2px 5px;
        }
        .map-img{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 58px;
            width: 86px;
            @media(max-width: 768px){
                height: auto;
                width: auto;
            }
        }
        .map-name-address{
            padding: 0 32px 0 20px;
            width: calc(100% - 120px);
            position: relative;
            @media(max-width: 768px){
                width: 100%;
                padding: 0 25px 0 10px;
            }
            h5{
                color: #000000;
                font-size: 11px;
                line-height: 12px;
                margin: 2px 0 7px;
            }
            p{
                color: #000000;
                font-size: 11px;
                line-height: 12px;
                margin: 0 0 5px;
            }
            .direcrtion-icn{
                position: absolute;
                right: 0;
                top: 20px;
                img{
                    width: 27px;
                    height: 27px;
                    @media(max-width: 767px){
                        width: 23px;
                        height: 23px;
                    }
                }
            }
        }
    }
}

.gm-style{
    .gm-style-iw-c{
        border-radius: 2px;
        padding: 0;
        .gm-style-iw-d{
            overflow: hidden !important;
        }
        .gm-ui-hover-effect{
            img{
                width: 18px !important;
                height: 18px !important;
                right: 4px;
                position: relative;
            }
        }
    }
}

.small{
  height:50px;
  width:100px;
}
