.sliderBottomDot{
    padding-bottom: 20px;
    .slick-dots{
        top: 100%;
        width: auto;
        right: 0;
        height: 30px;
        left: 0px;
        text-align: center;
        padding-top: 0px;
    }
}

section.currently-showing,
section.whats-new {
	background-color: #092438;
	padding-bottom: 40px;
	@media (max-width: 767px) {
		padding: 20px 0;
		min-height: unset !important;
    }
    .slick-slider{
        .slick-list{
            padding: 10px 0;
            margin: -10px 0;
            .slick-track{
                .slick-slide{
                    padding: 0 5px;
                }
            }
            .slick-dots{
                top: -35px;
                
                @media (max-width: 767px) {
                    top: -22px;
                }
            }
        }
    }
	.dots-group {
		span {
			background-color: rgba(255, 255, 255, 0.1);
			position: relative;
			&.active {
				background-color: #0077C8;
				&:after{
					content: none;
				}
			}
			&:after{
				position: absolute;
				content: "";
				height: 100%;
				background-color: #0077C8;
				left: 0px;
				width: 0px;
				transition: 0.3s width;
				-webkit-transition: 0.3s width;
				-moz-transition: 0.3s width;
				-o-transition: 0.3s width;
			}
			&:hover{
				&:after{
					width: 100%;
				}
			}
		}
	}
	h2 {
		color: #ffffff;
		@media (max-width: 767px) {
			padding-bottom: 15px;
		}
	}
	.item {
		position: relative;
		z-index: 1;
		transition: 0.5s box-shadow;
		-webkit-transition: 0.5s box-shadow;
		-moz-transition: 0.5s box-shadow;
		-o-transition: 0.5s box-shadow;
		.category {
			margin-bottom: 11px;
			@media (max-width: 767px) {
				margin-bottom: 8px;
            }
            &:empty{
                display: block !important;
                padding: inherit;
                background: transparent;
            }
		}
		a{
			& + p{
				padding-top: 13px;
				@media(max-width: 767px){
					padding-top: 0px;
				}
			}
		}
		.currently-showing-img {
			img {
				width: 100%;
				height: auto;
				transition: 0.5s transform;
				-webkit-transition: 0.5s transform;
				-moz-transition: 0.5s transform;
				-o-transition: 0.5s transform;
				@media (max-width: 767px) {
					height: auto;
					width: auto;
					max-width: 100%;
				}
			}
			@media(min-width: 991px) {
				img{
					width: 100%;
				}
			}
		}
		&:hover {
			.currently-showing-img {
				.image-conatiner{
					position: relative;
					overflow: visible;
					&::after {
						position: absolute;
						content: "";
						width: 100%;
						height: auto;
						filter: blur(10px);
						background-color: transparent;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 20px solid rgba(0, 0, 0, 0.1);
						bottom: 0;
						opacity: 1;
						z-index: -1;
						transition: 0.5s all;
						-webkit-transition: 0.5s all;
						-moz-transition: 0.5s all;
						-o-transition: 0.5s all;
					}
					img {
						transform: translateY(-10px);
					}
				}
			}
			@media(min-width: 767px) {
				cursor: pointer;
				h3 {
					color: #0098ff;
				}
			}
		}
	}
	.row{
		@media (max-width: 767px) {
			padding-right: 15px;
			padding-left: 15px;
			.grid-container {
				display: flex;
				flex-wrap: nowrap;
				overflow-x: auto;
				margin: 0;
				.item{
					flex: 1 0 28%;
					max-width: 28%;
					margin-right: 7px;
				}
			}
		}
	}
	h3 {
		transition: 0.3s color;
		-webkit-transition: 0.3s color;
		-moz-transition: 0.3s color;
		-o-transition: 0.3s color;
		margin-bottom: 0px;
		color: #ffffff;
		min-height: 54px;
        padding-bottom: 13px;
        margin-bottom: 10px;
		@media(max-width: 1366px) {
			min-height: 54px;
		}
		@media(max-width: 991px) {
			min-height: auto;
		}
		@media (max-width: 767px) {
            margin-bottom: 8px;
            padding-bottom: 0;
		}
	}
	p {
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 5px;
        font-size: 13px;
        &.dt-srt-end{
            font-size: 12px;
            min-height: 18px;
            @media(max-width: 576px){
                font-size: 11px;
            }
        }
	}
}

.acticle{
    position: relative;
    .breadcrumbs-section{
        margin: 30px 0 30px 0;
        display: flex;
        position: relative;
        justify-content: space-between;
        .share{
            height: 32px;
            width: 32px;
            top: 0px;
        }
        ul{
            display: flex;
            list-style-type: none;
            li{
                margin-right: 16px;
                position: relative;
                color: #0098FF;
                font-size: 14px;
                line-height: 17px;
                font-family: 'Rubik', sans-serif;
                text-transform: capitalize;
                &:not(:first-child){
                    &:after{
                        content: '';
                        position: absolute;
                        top: 1px;
                        left: -8px;
                        background-color: #0098FF;
                        width: 1px;
                        height: 15px;
                        transform: rotate(26deg);
                    }
                }
                .active{
                    color: #6A6A6A;
                }
                &:last-child{
                    color: #6A6A6A;
                    &:after{
                        background-color: #6A6A6A;
                    }
                }
            }
        }
        @media(max-width: 992px){
            margin: 43px 0 15px 0;
        }
        & + .shim-container.shm_row{
            .shimmer-block{
                max-width: 150px;
            }
        }
    }
    .category-section{
        list-style-type: none;
        display: flex;
        li{
            margin: 5px 5px 5px 0;
            padding: 4px 7px;
            color: #0098FF;
            border: 1px solid rgba(2, 152, 255, 0.15);
            border-radius: 4px;
            font-size: 13px;
            font-family: 'Rubik', sans-serif;
            border-radius: 0px;
        }
    }
    .artist-block{
        background-color: rgba(216, 216, 216, 0.1);
        padding: 20px 15px;
        border: 1px solid rgba(151, 151, 151, 0.1);
        text-align: center;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media(max-width: 991px){
            max-width: 320px;
        }
        .image-conatiner{
            @media(max-width: 991px){
                width: auto;
            }
        }
        .artist-content{
            @media(max-width: 991px){
                padding-left: 10px;
                width: auto;
            }
            @media(max-width: 680px){
                padding-left: 10px;
            }
            .image-conatiner{
                width: auto;
            }
        }
        img{
            height: 72px;
            width: 72px;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        h4{
            color: #343434;
            font-family: 'Montserrat' ,sans-serif;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 44px;
            font-weight: 600;
            padding: 0 15px;
            text-transform: capitalize;
            @media(max-width: 991px){
                padding: 0px;
                text-align: left;
            }
            @media(max-width: 576px){
                margin-bottom: 15px;
            }
        }
        span{
            color: #6C6C6C;
            font-family: 'Rubik', sans-serif;
            font-size: 14px;
            font-style: italic;
            line-height: 17px;
            border-top: 1px solid rgba(151, 151, 151, 0.2);
            padding-top: 10px;
        }
        @media(max-width: 992px){
            margin-top: 10px;
            flex-direction: row;
            img{
                margin-bottom: 0;
                margin-right: 10px;
            }
            h4{
                margin-bottom: 15px;
            }
        }
    }
    .article-content{
        margin-top: 20px;
        h2{
            color: #343434;
            font-family: 'Montserrat' ,sans-serif;
            font-size: 34px;
            line-height: 42px;
            margin-bottom: 20px;
            width: 100%;
            padding-right: 145px;
            @media(max-width: 992px){
                width: 100%;
            }
            @media(max-width: 991px){
                padding-right: 0px;
            }
            @media(max-width: 768px){
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 0;
            }
            @media(max-width: 576px){
                font-size: 18px;
                line-height: 24px;
            }
        }
        p{
            font-family: 'Rubik', sans-serif;
            font-size: 16px;
            line-height: 26px;
            color: #949494;
            @media(max-width: 576px){
                font-size: 14px;
                line-height: 24px;
            }
        }
        h5{
            color: #343434;
            font-family: 'Montserrat' ,sans-serif;
            font-size: 20px;
            line-height: 24px;
        }
        img{
            width: 100%;
            max-height: 450px;
        }
    }
}

.article-featured{
    &.featured-events{
        background-color: #ffffff;
        padding: 0px 0px 38px;
        @media(max-width: 767px){
            padding: 20px 0px 0px;
        }
        .section-top-wrapper{
            padding-bottom: 33px;
            h2{
                font-size: 26px;
                line-height: 32px;
                color: #3A3A3A;
                @media(max-width: 576px){
                    font-size: 18px;
                    line-height: 20px;
                }
            }
        }
        .grid-container{
            -ms-overflow-style: none; // IE 10+ 
            scrollbar-width: none; // Firefox 
            &::-webkit-scrollbar { 
                display: none;
            }
            // @media(max-width: 965px){
            //     flex: 0 0 33.33% !important;
            //     width: 33.33% !important;
            // }
            // @media(max-width: 767px){
            //     flex: 0 0 45% !important;
            //     width: 45% !important;
            // }
            a{
                @media(max-width: 767px){
                    flex: 0 0 45%;
                    width: 45%;
                }
            }
            .item {
                .item-wrapper{
                    padding-bottom: 27px;
                    @media(max-width: 768px){
                        padding-bottom: 15px;
                    }
                    &:after{
                        box-shadow: 0 2px 15px 0 rgba(0,0,0,0.1);
                    }
                    .featured-item-img{
                        @media(max-width: 991px){
                            padding-bottom: 7px;
                        }
                        .image-conatiner{
                            img{
                                width: 100%;
                                height: auto;
                                min-height: 180px;
                                @media(max-width: 1024px){
                                    min-height: auto;
                                }
                            }
                        }
                    }
                    h3{
                        font-size: 17px;
                        line-height: 20px;
                        font-weight: 500;
                        font-family: 'Rubik', sans-serif;
                        color: #343434;
                        padding-top: 11px;
                        height: auto;
                        max-height: 100%;
                        @media(max-width: 576px){
                            font-size: 14px;
                            line-height: 18px;
                        }
                    }
                    p{
                        font-size: 14px;
                        line-height: 17px;
                        font-weight: normal;
                        font-family: 'Rubik', sans-serif;
                        color: #626262;
                        margin: 0px;
                        padding: 0;
                        word-break: break-word;
                        @media(max-width: 767px){
                            font-size: 12px;
                            line-height: 16px;
                        }
                        @media(max-width: 450px){
                            min-height: 32px;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 991px){
    .explore-text-wrapper{
        .category{
            margin-bottom: 6px;
        }
    }
}

.article-explore{
    background-color: #F0F9FF;
    .explore{
        padding: 54px 0px 30px;
        @media(max-width: 991px){
            padding: 20px 0px 20px;
        }
        .section-top-wrapper{
            padding-bottom: 38px;
            @media(max-width: 991px){
                padding-bottom: 10px;
            }
            h2{
                padding-bottom: 0px;
            }
        }
        .explore-text-wrapper{
            .category{
                margin-bottom: 10px;
            }
            h3{
                margin-bottom: 0px;
                @media(max-width: 576px){
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }
    .item{
        @media(max-width: 1024px){
            margin-bottom: 10px !important;   
        }
    }
    .item-wrapper{
        h3{
            font-size: 17px;
            line-height: 20px;
            font-weight: 500;
            font-family: 'Rubik', sans-serif;
            color: #343434;
        }
    }
}
// share icons
.social-share{
    position: absolute;
    top: -10px;
    right: 31px;
    max-width: 0;
    overflow: hidden;
    transition: 0.5s max-width, 0.5s right;
    -webkit-transition: 0.5s max-width, 0.5s right;
    -moz-transition: 0.5s max-width, 0.5s right;
    -o-transition: 0.5s max-width, 0.5s right;
    padding-right: 0;
    .social-share-wrapper{
        background: #FFF;
        border-radius: 5px;
        display: flex;
        box-shadow: 0 0px 7px #ddd;
        padding: 5px 3px;
        position: relative;
        overflow: hidden;
        transition: max-width 0.5s, overflow 0.5s 0.5s;
        -webkit-transition: max-width 0.5s, overflow 0.5s 0.5s;
        -moz-transition: max-width 0.5s, overflow 0.5s 0.5s;
        -o-transition: max-width 0.5s, overflow 0.5s 0.5s;
        svg{
            display: block;
              width: 100%;
              height: 100%;
            // @media(max-width: 768px){
            //     width: 100%;
            //     height: 100%;
            // }
        }
    }
    &.share-visible{
        height: auto;
        overflow: inherit;
        max-width: 12em;
        transition: max-width 0.5s, overflow 0.5s 0.5s;
        -webkit-transition: max-width 0.5s, overflow 0.5s 0.5s;
        -moz-transition: max-width 0.5s, overflow 0.5s 0.5s;
        -o-transition: max-width 0.5s, overflow 0.5s 0.5s;
        padding-right: 10px;
        z-index: 1;
    }
    .SocialMediaShareButton{
        margin: 0 3px;
        transition: 0.5s opacity;
        -webkit-transition: 0.5s opacity;
        -moz-transition: 0.5s opacity;
        -o-transition: 0.5s opacity;
        @media(max-width: 768px){
            
            overflow: hidden;
            display: block;
        }
        &:hover{
            opacity: 0.8;
        }
    }
}
//feedback CSS
.articledetail-wrapper{
    .festival-top-slider{
        max-height: 460px;
        overflow: hidden;
        .slick-slide{
            img{
                max-height: 349px;
                object-fit: cover;
                object-position: center;
            }
        }
        .slick-arrow{
            height: 85px;
            width: 35px;
            background-position: 10px 32px;
            background-color: rgba(0, 0, 0, 0.7);
            margin-top: -22px;
            @media(max-width: 768px){
                display: none !important;
            }
            &:hover{
                border: none;
                outline: none;
            }
            &.slick-prev{
                left: -5px;
                background-image: url('../../../assets/images/left-arrow-white.svg');
                @media(max-width: 1440px){
                    left: 0px;
                }
                &:hover{
                    border: none;
                }
                
            }
            &.slick-next{
                right: 0px;
                background-image: url('../../../assets/images/right-arrow-white.svg');
                &:hover{
                    border: none;
                }
            }
        }
        &.sliderBottomDot{
            padding-bottom: 40px;
            .slick-dots{
                height: 50px;
                bottom: -50px;
            }
        }
    }
}
.simmerOuter{
    div{
        width: 100%;
    }
}