.apipartners-wrapper{
    .contact-us{
        background-color: rgba(240, 249, 255, 0.58);
        background-image: none;
        background-size: 100%;
        margin: 0px;
        padding-top: 62px;
        @media(max-width: 991px){
            padding-top: 30px;
        }
        .container{
            @media(max-width: 991px){
                max-width: 720px;
            }
            @media(max-width: 767px){
                max-width: 540px;
            }
        }
    }
    .contact-us-header{
        padding: 0px 0px 33px;
        color: #343434;
        font-size: 36px;
        line-height: 44px;
        margin: 0px;
        @media(max-width: 991px){
            font-size: 28px;
            line-height: 35px;
        }
    }
    .contact-us-block{
        box-shadow: none;
        width: 100%;
        background-color: transparent;
        max-width: 867px;
        padding-bottom: 58px;
        @media(max-width: 768px){
            flex-wrap: wrap-reverse;
        }
        @media(max-width: 767px){
            padding-bottom: 30px;
            margin: 0 auto 0px;
        }
        .contact-we-are-at, .customer-enquiry-wrapper{
            flex: 0 0 50%;
            width: 50%;
            background-color: transparent;
            box-shadow: none;
            @media(max-width: 767px){
                flex: 0 0 100%;
                width: 100%;
            }
            h3{
                font-size: 30px;
                line-height: 37px;
                color: #343434;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                padding-bottom: 11px;
                margin: 0px;
                @media(max-width: 991px){
                    font-size: 24px;
                    line-height: 30px;
                }
                @media(max-width: 767px){
                    font-size: 20px;
                    line-height: 25px;
                    padding-bottom: 6px;
                }
            }
            h4{
                font-size: 18px;
                line-height: 22px;
            }
            h5, p, a{
                color: #626262;
                font-family: 'Rubik', sans-serif;
                font-size: 16px;
                line-height: 22px;
                margin: 0px;
                padding-bottom: 1px;
                @media(max-width: 991px){
                    font-size: 14px;
                }
            }
            h5{
                font-weight: 500;
            }
            a{
                color: #0098FF
            }
            span{
                color: #626262;
                font-size: 16px;
                line-height: 19px;
                display: inline-block;
                @media(max-width: 991px){
                    font-size: 14px;
                }
                &.error-msg{
                    color: #E4002B;
                    padding-top: 5px;
                }
            }
            .form-group{
                margin-bottom: 17px;
                .form-control{
                    background-color: transparent;
                    border: 1px solid #D3D3D3;
                    transition: 0.3s border-color;
                    &:focus, &:active{
                        outline: none;
                        box-shadow: none;
                        border-color: #b9b9b9;
                    }
                }
                &.has-error{
                    .form-control{
                        border: 1px solid #E4002B;
                    }
                }
                select{
                    -webkit-appearance: none;
                    background-image: url(../../../assets/images/downarrow-blue.svg);
                    background-repeat: no-repeat;
                    background-position: 97%;
                    background-size: 12px auto;
                }
            }
            .customer-enquiry {
                padding: 0px;
                max-width: 379px;
                margin-left: auto;
                @media(max-width: 767px){
                    margin: 0 auto;
                    max-width: 100%;
                }
                input.btn-info{
                    margin: 10px 0px 21px;
                    max-width: 107px;
                    height: 31px;
                    padding: 0px;
                    line-height: 31px;
                    font-size: 16px;
                    font-weight: 500;
                    @media(max-width: 767px){
                        height: 28px;
                        line-height: 28px;
                        font-size: 14px;
                    }
                }
            }
        }
        .contactus-hotline-number{
            padding-top: 55px;
            @media(max-width: 767px){
                padding-top: 20px;
            }
        }
    }
}

.err{
  border:1px solid red;
}
