//promotions wrapper
.promotions-wrapper {
	padding: 48px 0px 0px;
	@media(max-width: 991px) {
		padding: 40px 0px 0px;
    }
    @media(max-width: 767px) {
		padding: 30px 0px 0px;
    }
    .container{
        @media (min-width: 1200px){
            max-width: 1020px;
        }
        .wrapper-events-listing{
            display: flex;
            padding-top: 45px;
            .fixed-buttons-events{
                display: none;
            }
            @media (max-width: 767px) {
                .fixed-buttons-events{
                    position: fixed;
                    background-color: #0098FF;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    z-index: 3;
                    a{
                        flex: 1 0 50%;
                        max-width: 50%;
                        align-items: center;
                        text-align: center;
                        padding: 20px 17px 15px 17px;
                        font-weight: 500;
                        color: #fff;
                        justify-content: center;
                        font-size: 16px;
                        font-family: 'Montserrat', sans-serif;
                        position: relative;
                        text-transform: capitalize;
                        justify-content: center;
                        margin-left: auto;
                        img{
                            width: 15px;
                            margin-left: 8px;
                        }
                        &.sortby{
                            &:after{
                                content: '';
                                position: absolute;
                                top: 50%;
                                right: 0;
                                width: 1px;
                                height: 22px;
                                background-color: rgba(255, 255, 255, 0.2);
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }
        
        //load more button
        .promotion-load-more {
            display: block;
            text-align: center;
            width: 100%;
            padding-bottom: 71px;
            @media(max-width: 991px) {
                padding-bottom: 30px;
            }
            .load-more-btn {
                border: 1px solid #dedede;
                border-radius: 20px;
                padding: 5px 18px;
                vertical-align: middle;
                display: inline-block;
                line-height: normal;
                text-decoration: none;
                background-color: #ffffff;
                transition: 0.9s all;
                -webkit-transition: 0.9s all;
                -moz-transition: 0.9s all;
                -o-transition: 0.9s all;
                &:hover {
                    background-color: #FFF;
                    border: 1px solid #0098ff;
                    color: #0098ff;
                    transition: 0.9s all;
                    -webkit-transition: 0.9s all;
                    -moz-transition: 0.9s all;
                    -o-transition: 0.9s all;
                    text-decoration: none;
                    span {
                        color: #0098ff;
                    }
                }
                span {
                    color: #949494;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    line-height: 18px;
                    transition: 0.9s all;
                    -webkit-transition: 0.9s all;
                    -moz-transition: 0.9s all;
                    -o-transition: 0.9s all;
                }
                img {
                    padding-left: 10px;
                    padding-bottom: 4px;
                    transition: 0.9s filter;
                    -webkit-transition: 0.9s filter;
                    -moz-transition: 0.9s filter;
                    -o-transition: 0.9s filter;
                }
            }
        }
        // Filter Loader
        .filter-loader{
            position: fixed;
            left: 50%;
            top: 50%;
            width: 60px;
            box-shadow: 0 0 10px #DDD;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 150px;
            margin-top: 70px;
            z-index: 5;
        }
        .fixed-buttons-events{
            position: fixed;
            background-color: #0098FF;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            z-index: 3;
            a{
                flex: 1 0 50%;
                max-width: 50%;
                align-items: center;
                text-align: center;
                padding: 20px 17px 15px 17px;
                font-weight: 500;
                color: #fff;
                justify-content: center;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                position: relative;
                text-transform: capitalize;
                justify-content: center;
                margin-left: auto;
                img{
                    width: 15px;
                    margin-left: 8px;
                }
                &.sortby{
                    &:after{
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 1px;
                        height: 22px;
                        background-color: rgba(255, 255, 255, 0.2);
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
	.shm_row{
        justify-content: space-between;
        >div{
            flex: 0 0 50%;
        }
        .shm_col-sm-12{
            flex: 0 0 100%;
        }
    }
    & > .container-fluid{
        & > .container{
            @media(max-width: 767px){
                padding-right: 5px;
                padding-left: 5px;
            }
        }
    }
}
.promotions-full-wrapper{
    .breadcrumbs{
        margin-top: -112px;
        @media(max-width: 768px){
            margin-top: -60px;
        }
        @media(max-width: 767px){
            margin-top: -116px;
        }
        img{
            @media(max-width: 1024px){
                min-height: 200px;
            }
        }
    }
}