.shimmer-carousel-enter {
  opacity: 0 !important;
}
.shimmer-carousel-enter.shimmer-carousel-enter-active {
  opacity: 1 !important;
  transition: all 1000ms;
  -webkit-transition: all 1000ms;
  -moz-transition: all 1000ms;
  -o-transition: all 1000ms;
}

.shimmer-carousel-leave {
  opacity: 1 !important;
}

.shimmer-carousel-leave.shimmer-carousel-leave-active {
  opacity: 0 !important;
  transition: all 1000ms;
  -webkit-transition: all 1000ms;
  -moz-transition: all 1000ms;
  -o-transition: all 1000ms;
}
.carousel-container{
  overflow: hidden;
  transition: all 1s;  
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  &.hide-container{
    max-height: 0;
  }
  section{
    min-height: 598px;
    @media(max-width: 1024px){
      min-height: 250px;
    }
    .shim-container{
      position: absolute;
      height: 250px;
      width: 99%;
      margin: 0 -45px;
      padding: 0 45px;
    }
  }
}
