.our-people-wrapper{
    padding: 87px 0px 62px;
    h3{
        position: relative;
        padding-bottom: 15px;
    }
}
.our-people-image{
    ul{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        li{
            flex: 0 0 calc(28% - 7%);
            width: calc(28% - 7%);
            list-style: none;
            margin-right: 5%;
            transform: translateY(0px);
            transition: 0.7s transform;
            &:last-child{
                margin-right: 0px;
            }
            &:hover{
                transform: translateY(5px);
                cursor: pointer;
            }
            &:nth-child(2n){
                padding-top: 41px;
            }
            h5, span{
                font-size: 18px;
                line-height: 22px;
                color: #343434;
                padding-top: 10px;
                margin-bottom: 10px;
                font-weight: 500;
            }
            span{
                color: #0077C8;
            }
        }
    }
}