.explore-page-banner {
    background-color: #091118;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    min-height: 377px;
    .banner-content{
        flex: 0 0 50%;
        width: 50%;
        padding: 78px 60px 75px 83px;
        position: relative;
        &:after{
            position: absolute;
            content: "";
            width: 100px;
            background-color: #091018;
            height: calc(100% + 70px);
            top: -40px;
            bottom: 0;
            transform: rotate3d(1, 1, 1, 27deg);
            right: -44px;
        }
        h3{
            font-size: 30px;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            line-height: 37px;
            padding-bottom: 28px;
            border-bottom: 1px solid #0098FF;
            margin-bottom: 35px;
        }
        p{
            color: #B5BDC3;	
            font-family: 'Rubik', sans-serif;	
            font-size: 16px;	
            line-height: 24px;
            padding-bottom: 17PX;
        }
        a, a:not([href]):not([tabindex]){
            font-size: 18px;
            font-weight: 600;
            color: #0098FF;
            border: 1px solid #0098FF;
            padding: 7px 25px;
            font-family: 'Montserrat', sans-serif;
            display: inline-block;
            &:hover{
                background-color: #0098FF;
                color: #ffffff;
            }
        }
    }
    .banner-slider{
        flex: 0 0 50%;
        width: 50%;
        img{
            width: 100%;
            max-height: 377px;
        }
    }
}
.whtsup-wrapper, .festivals-wrapper{
    padding: 43px 0px 49px;
    .whtsup-container, .festivals-container{
        display: flex;
        flex-wrap: wrap;
        .item-wrapper{
            padding: 13px 14px 25px;
            flex: 0 0 25%;
            width: 25%;
            position: relative;
            .image-wrapper{
                .category{
                    position: absolute;
                    left: 24px;
                    right: auto;
                    top: 24px;
                    opacity: 0;
                    transition: 0.7s opacity;
                    -webkit-transition: 0.7s opacity;
                    -moz-transition: 0.7s opacity;
                    -o-transition: 0.7s opacity;
                    padding: 0 8px;
                }
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .image-bottom-desc {
                padding: 28px 0px 0px;
                h3{
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 22px;
                }
                p{
                    font-size: 14px;
                    line-height: 22px;
                    color: #626262;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                }
            }
            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: scaleY(0);
                transform-origin: bottom center;
                background: #ffffff;
                z-index: -1;
                transition: transform 0.3s;
                -webkit-transition: transform 0.3s;
                -moz-transition: transform 0.3s;
                -o-transition: transform 0.3s;
                box-shadow: 0 0 12px 0 rgba(0,0,0,0.08);
            }
            &:hover{
                .category{
                    opacity: 1;
                    top: 24px;
                }
                &:after{
                    transform: scaleY(1);
                }
            }
        }
    }
}
.articles-wrapper{
    background-color: #F0F9FF;
    padding: 50px 0px 59px;
    .section-top-wrapper{
        h2{
            padding-bottom: 40px;
        }
    }
    .articles-item{
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        &:first-child{
            margin-top: 0px;
        }
        .article-item-desc{
            flex: 0 0 calc(70% - 71px);
            width: calc(70% - 71px);
            margin-right: 71px;
            border-bottom: 1px solid rgba(126, 126, 126, 0.2);
            p{
                font-size: 14px;	
                line-height: 22px;
                color: #343434;
            }
        }
        .article-item-img{
            flex: 0 0 30%;
            width: 30%;
        }
        .category-group{
            padding-bottom: 19px;
            li{
                display: inline-block;
                list-style: none;
                margin: 0px 5px 4px 0;
                border: 1px solid rgba(0, 152, 255, 0.15);
                padding: 5px 7px;
                background-color: transparent;
                transition: 0.3s background-color;
                -webkit-transition: 0.3s background-color;
                -moz-transition: 0.3s background-color;
                -o-transition: 0.3s background-color;
                color: rgba(106, 106, 106, 0.8);
                font-family: 'Montserrat', sans-serif;
                font-size: 13px;
                line-height: 15px;
                font-weight: 500;
                color: #0098ff;
                a{
                    color: #0098ff;
                }
            }
        }
        h3{
            font-size: 17px;	
            font-weight: 500;
            line-height: 20px;
            color: #343434;
            margin-bottom: 0px;
            padding-bottom: 22px;
        }
        .article-place-date{
            padding-bottom: 37px;
            span{
                color: #626262;
                font-size: 14px;
                line-height: 22px;
                padding-right: 11px;
                margin-right: 11px;
                border-right: 1px solid #B1B0B0;
                &:last-child{
                    border: none;
                }
            }
        }
    }
}
.review-guide-surveys-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 42px 0px 46px;
    background-color: #F0F9FF;
    .rgs-wrapper {
        display: flex;
        flex-wrap: wrap;
        .reviews-item {
            flex: 0 0 calc(33.33% - 40px);
            width: calc(33.33% - 40px);
            margin: 0 30px;
            &:first-child{
                margin-left: 0px;
            }
            &:last-child{
                margin-right: 0px;
            }
            .section-title{
                h3{
                    font-size: 30px;	
                    font-weight: 600;	
                    line-height: 37px;
                    color: #343434;	
                    font-family: 'Montserrat', sans-serif;
                    margin-bottom: 37px;
                    padding-bottom: 0px;
                }
            }
            .active-review{
                img {
                    width: 100%;
                }
                h3{
                    color: #343434;
                    font-family: 'Rubik', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22px;
                    margin-bottom: 0px;
                    padding-bottom: 27px;
                    padding-top: 18px;
                }
            }
            .all-reviews{
                .review-subtext{
                    color: #626262;
                    font-family: 'Rubik', sans-serif;
                    font-size: 14px;
                    line-height: 22px;
                    padding-bottom: 26px;
                    margin-bottom: 0px;
                    display: inline-block;
                }
                .review-item-wrapper{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    .review-item{
                        display: flex;
                        flex-wrap: wrap;
                        padding-bottom: 23px;
                        .review-item-image{
                            flex: 0 0 142px;
                            width: 142px;
                        }
                        .review-content{
                            flex: 0 0 auto;
                            width: auto;
                            padding-left: 15px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            h3{
                                color: #343434;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 22px;
                            }
                            span{
                                color: #626262;	                                
                                font-size: 14px;	
                                line-height: 22px
                            }
                        }
                    }
                    a{
                        color: #0098FF;	
                        font-family: 'Montserrat', sans-serif;	
                        font-size: 16px;	
                        font-weight: 600;	
                        line-height: 19px;
                        padding-top: 5px;
                        img{
                            margin-left: 5px;
                        }
                        &:hover {
                            img {
                                animation: seeallbtn 0.5s linear;
                                animation-iteration-count: infinite;
                            }
                        }
                    }
                }
            }
        }
    }
}
.trending-wrapper{
    padding: 46px 0px 66px;
    background-color: #0B304B;
    .section-top-wrapper{
        h2{
            color: #ffffff;
        }
    }
}